Reference: https://www.youtube.com/watch?v=3b_VMk3WlNY

In [1]:
import pandas as pd
import numpy as np
import dataframe
from bs4 import BeautifulSoup
import socket 
import time
import requests
from selenium import webdriver
from urllib.parse import quote_plus
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

import urllib.request
import urllib.parse

Cleaned up the syntax

In [2]:
ceo_df = pd.read_csv(r'C:\Users\Jeeho\Documents\Python Scripts\Capstone project\Web_Scrap\fg500_CEOs_v3_all(Mar_14_2020).csv')

In [3]:
c_sample = ceo_df['CEO']

In [5]:
browser = webdriver.Chrome(r"C:\Users\Jeeho\AppData\Local\Programs\Python\Python36\chromedriver.exe")


ceo_list = c_sample
values =[]
df = pd.DataFrame(columns = ['ceo'])

for ceo in ceo_list:
    baseUrl = 'https://www.google.com/search?q='
    browser.get(baseUrl + ceo)
    table = browser.find_elements_by_css_selector('div.ifM9O') 

    for row in table:
        ceo = str(([c.text for c in row.find_elements_by_css_selector('div.kno-ecr-pt.PZPZlf.gsmt.i8lZMc')])).strip('[]').strip("''")
    for row in table:
        value = str(([c.text for c in row.find_elements_by_css_selector('div.Z1hOCe')])).strip('[]').strip("''")
    if not table:
        value = 'Null'
    
    values.append(value)
    
    s = pd.Series(ceo,index=df.columns)
    vs = pd.Series(values) 

    df = df.append(s,ignore_index=True)

    time.sleep(2) # <== To make the scraping slower
    
    
df['value'] = vs  
print(df)

browser.close()

                                  ceo  \
0                       Doug McMillon
1                        Dai Houliang
2                     Ben van Beurden
3
4
..                                ...
494                  Leon J. Topalian
495                      Darryl White
496                    Chen Dongsheng
497  Frederico Pinheiro Fleury Curado
498                     Benoît Potier

                                                 value
0    Born: October 17, 1966 (age 53 years), Memphis...
1                                                 Null
2    Born: April 23, 1958 (age 61 years), Netherlan...
3
4
..                                                 ...
494                                               Null
495  Education: Ivey Business School, Western Unive...
496  Born: December 17, 1957 (age 62 years)', 'Net ...
497                                               Null
498  Born: 1957 (age 63 years), Mulhouse, France', ...

[499 rows x 2 columns]

In [6]:
ceo_g = df
display(ceo_g[:50])

                      ceo                                              value
0           Doug McMillon  Born: October 17, 1966 (age 53 years), Memphis...
1            Dai Houliang                                               Null
2         Ben van Beurden  Born: April 23, 1958 (age 61 years), Netherlan...
3
4
5          Amin H. Nasser  Born: 1960 (age 60 years)', 'Nationality: Saud...
6              Bob Dudley  Born: September 14, 1955 (age 64 years), Queen...
7            Darren Woods  Born: Wichita, KS', 'Spouse: Kathryn Woods', '...
8           Herbert Diess  Born: October 24, 1958 (age 61 years), Munich,...
9             Akio Toyoda  Born: May 3, 1956 (age 63 years), Nagoya, Aich...
10               Tim Cook  Born: November 1, 1960 (age 59 years), Mobile,...
11         Warren Buffett  Born: August 30, 1930 (age 89 years), Omaha, N...
12             Jeff Bezos  Net worth: 106.2 billion USD (2020) Trending',...
13
14
15        Ivan Glasenberg  Born: January 1957 (age 63 years), Johannesbur...
16
17          Ola Källenius  Born: June 11, 1969 (age 50 years), Västervik,...
18         Larry J. Merlo  Born: 1956 (age 64 years), Pittsburgh, PA', 'N...
19       Patrick Pouyanné  Born: June 24, 1963 (age 56 years), Le Petit-Q...
20
21            Jeremy Weir  Born: 1964 (age 56 years), Melbourne, Australi...
22              Terry Gou  Born: October 18, 1950 (age 69 years), Banqiao...
23            John Elkann  Born: April 1, 1976 (age 43 years), New York, ...
24  Randall L. Stephenson  Born: April 22, 1960 (age 59 years), Oklahoma ...
25
26       Steven H. Collis  Born: 1961 (age 59 years), South Africa', 'Edu...
27             Mike Wirth  Born: 1960 (age 60 years)', 'Education: Univer...
28             Ma Mingzhe  Born: December 1955 (age 64 years), China', 'E...
29            Jim Hackett  Born: April 22, 1955 (age 64 years), Columbus,...
30             Tian Guoli                                               Null
31          Mary T. Barra  Born: December 24, 1961 (age 58 years), Waterf...
32
33       Takahiro Hachigo  Born: May 19, 1959 (age 60 years), Japan', 'Al...
34       W. Craig Jelinek  Born: August 8, 1952 (age 67 years), Californi...
35            Zhou Mubing                                               Null
36          Sundar Pichai  Born: June 10, 1972 (age 47 years), Madurai, I...
37    Michael C. Kaufmann                                               Null
38            Chen Zhixin                          Born: 1959 (age 61 years)
39        Stefano Pessina  Born: June 4, 1941 (age 78 years), Pescara, It...
40            Jamie Dimon  Born: March 13, 1956 (age 64 years), New York,...
41       Alexey B. Miller                                               Null
42
43             Liu Liange                                               Null
44            Oliver Bäte  Born: March 1, 1965 (age 55 years), Bergisch G...
45          Thomas Buberl  Born: March 24, 1973 (age 46 years), Cologne, ...
46        Rodney McMullen  Born: 1961 (age 59 years), Pineville, KY', 'Ed...
47   H. Lawrence Culp Jr.  Born: 1964 (age 56 years), Washington, D.C.', ...
48         Hugh R. Frater                                               Null
49

In [7]:
ceo_g.to_csv(r'C:\Users\Jeeho\Documents\Python Scripts\Capstone project\Web_Scrap\CEOs_by_google_v2(Mar_14_2020).csv')