In [1]:
import re
import pandas as pd
import numpy as np
import dataframe
from bs4 import BeautifulSoup
import socket 
import time
import requests
from selenium import webdriver
from urllib.parse import quote_plus
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import urllib.request
import urllib.parse

In [2]:
ceo_df = pd.read_csv(r'C:\Users\...\fg500_CEOs_2016_v1(Apr_25_2020).csv')

In [3]:
c_sample = ceo_df['CEO']

In [4]:
browser = webdriver.Chrome(r"C:\...\chromedriver.exe")


ceo_list = c_sample
values =[]
df = pd.DataFrame(columns = ['ceo'])

for ceo in ceo_list:
    baseUrl = 'https://www.google.com/search?q='
    browser.get(baseUrl + ceo)
    table = browser.find_elements_by_css_selector('div.ifM9O') 

    for row in table:
        ceo = str(([c.text for c in row.find_elements_by_css_selector('div.kno-ecr-pt.PZPZlf.gsmt.i8lZMc')])).strip('[]').strip("''")
    for row in table:
        value = str(([c.text for c in row.find_elements_by_css_selector('div.Z1hOCe')])).strip('[]').strip("''")
    if not table:
        value = 'Null'
    
    values.append(value)
    
    s = pd.Series(ceo,index=df.columns)
    vs = pd.Series(values) 

    df = df.append(s,ignore_index=True)

    time.sleep(2) # To make the scraping slower
    
    
df['value'] = vs  
df['ceo_year']=2016
print(df)

browser.close()

                       ceo                                              value  \
0            Doug McMillon  Born: October 17, 1966 (age 53 years), Memphis...
1              Shu Yinbiao  Born: 1958 (age 62 years)', 'Education: North ...
2               Wang Yilin  Born: September 1956 (age 63 years), Jiangsu, ...
3                Wang Yupu  Born: October 1956 (age 63 years), Xinmin, Lia...
4          Ben van Beurden  Born: April 23, 1958 (age 62 years), Netherlan...
5             Darren Woods  Born: Wichita, KS', 'Spouse: Kathryn Woods', '...
6
7              Akio Toyoda  Born: May 3, 1956 (age 63 years), Nagoya, Aich...
8                 Tim Cook  Born: November 1, 1960 (age 59 years), Mobile,...
9               Bob Dudley  Born: September 14, 1955 (age 64 years), Queen...
10          Warren Buffett  Born: August 30, 1930 (age 89 years), Omaha, N...
11      John H. Hammergren  Born: February 20, 1959 (age 61 years), Saint ...
12            Kwon Oh-hyun  Born: October 15, 1952 (age 67 years), South K...
13         Ivan Glasenberg  Born: January 1957 (age 63 years), Johannesbur...
14               Yi Huiman  Born: December 1964 (age 55 years), Cangnan Co...
15          Dieter Zetsche  Born: May 5, 1953 (age 66 years), İstanbul, Tu...
16      Stephen J. Hemsley  Born: 1952 (age 68 years), United States', 'Sp...
17          Larry J. Merlo  Born: 1956 (age 64 years), Pittsburgh, PA', 'N...
18             John Elkann  Born: April 1, 1976 (age 44 years), New York, ...
19           Mary T. Barra  Born: December 24, 1961 (age 58 years), Waterf...
20
21               Wang Zuji                                               Null
22   Randall L. Stephenson  Born: April 22, 1960 (age 60 years), Oklahoma ...
23        Patrick Pouyanné  Born: June 24, 1963 (age 56 years), Le Petit-Q...
24               Terry Gou  Born: October 18, 1950 (age 69 years), Banqiao...
25             Jeff Immelt  Born: February 19, 1956 (age 64 years), Cincin...
26
27        Steven H. Collis  Born: 1961 (age 59 years), South Africa', 'Edu...
28
29        Lowell C. McAdam  Born: May 28, 1954 (age 65 years), Buffalo, NY...
..                     ...                                                ...
470         John Pettigrew  Born: October 1968 (age 51 years), Pontypridd,...
471
472    Victor Li Tzar-kuoi  Born: August 1, 1964 (age 55 years), Hong Kong...
473
474         Wayne T. Smith  Born: January 29, 1945 (age 75 years), Birming...
475        Klaus Kleinfeld  Born: November 6, 1957 (age 62 years), Bremen,...
476           Andrew Owens                                               Null
477          Andrey Kostin  Born: September 21, 1956 (age 63 years), Mosco...
478
479             David Farr  Born: 1955 (age 65 years), United States', 'Em...
480              Paul Fang  Born: 1967 (age 53 years), Anhui, China', 'Net...
481
482     Gerald W. Schwartz  Born: November 24, 1941 (age 78 years), Winnip...
483          Zhou Mingchun                                               Null
484
485
486      Robert A. Bradway  Born: 1963 (age 57 years)', 'Education: Amhers...
487     Karl-Johan Persson  Born: March 25, 1975 (age 45 years), London, U...
488          Zhang Gongyan                                               Null
489       Richard K. Davis  Born: 1958 (age 62 years)', 'Education: Califo...
490           Carlo Cimbri                                               Null
491             Taizo Kubo                                               Null
492
493  Jacques van den Broek  Born: May 24, 1960 (age 59 years), Goes, Nethe...
494               Wan Long  Born: 1940 (age 80 years)', 'Net worth: 2 bill...
495              Hui Kayan                                               Null
496
497           Bill Winters  Born: September 1961 (age 58 years), Connectic...
498
499         Bruce Hemphill  Born: June 1963 (age 56 years), Durban, South ...

     ceo_year
0        2016
1        2016
2        2016
3        2016
4        2016
5        2016
6        2016
7        2016
8        2016
9        2016
10       2016
11       2016
12       2016
13       2016
14       2016
15       2016
16       2016
17       2016
18       2016
19       2016
20       2016
21       2016
22       2016
23       2016
24       2016
25       2016
26       2016
27       2016
28       2016
29       2016
..        ...
470      2016
471      2016
472      2016
473      2016
474      2016
475      2016
476      2016
477      2016
478      2016
479      2016
480      2016
481      2016
482      2016
483      2016
484      2016
485      2016
486      2016
487      2016
488      2016
489      2016
490      2016
491      2016
492      2016
493      2016
494      2016
495      2016
496      2016
497      2016
498      2016
499      2016

[500 rows x 3 columns]

In [5]:
pd.set_option('display.max_rows', None)

In [6]:
#Make a copy of the original scraped dataset
df1 = df

In [7]:
#reindex the data
re_index = pd.Series(range(1,501))  
df1 = df1.set_index([re_index])

Rename the unnamed column as index

In [8]:
# convert the index to a column and name as company_rank 
df1['index1'] = df1.index

df1 = df1.rename(columns={'index1': 'company_rank'})

In [9]:
#reindex the data as starting from 1 to 500
re_index = pd.Series(range(1,501))  
df1 = df1.set_index([re_index])

Clear rows. Select the rows having values only

In [10]:
#Select only the rows with values to proceed RegEx later
# exclude the rows with ceo value having ''
df_n = df1[df1['ceo'] != '']

#exlucde the rows if the value of 'value' column is null
df_nv = df_n[(df_n['value'] != 'Null')]

In [11]:
# Exclude the rows if the value of 'company_rank' is null
df_nv = df_nv[(df_nv['company_rank'].notnull())]

In [12]:
# For Born
df_nv['Born'] = df_nv['value'].str.extract(r"Born: (.+?)\'\," )

# For Nationality 
df_nv['Nationality'] = df_nv['value'].str.extract(r"Nationality: (.+?)\'\," )


# For Education
## Select the strings end with "', '" and the strings end with nothing
Education = df_nv['value'].str.extract(r"Education: (.+?)\'\,\s\'|Education: (.+)?|Alma mater: (.+?)\'\,\s\'")

## merge the extracted two columes
df_nv['Education'] = pd.concat([Education[0].dropna(), Education[1].dropna(), Education[2].dropna()]).reindex_like(Education)

#See the full contents of the rows of value
pd.set_option('display.max_colwidth', -1)

Extract only Birth of Year only as BoY

In [13]:
df_nv['BoY'] = df_nv['Born'].str.extract(pat = "([0-9]{4})" )

Extract Nationality strings from Born based on 1) the postal abbreviations of the US and 2) the country names

In [14]:
# Create a list of the abbr

us_postal_abbr = {'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 
                  'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
                  'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
                  'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
                  'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WY'}

In [15]:
# Create a column for the extracted us abbreviation code 
df_nv['us_abbr'] = df_nv['Born'].str.extract(pat = "([A-Z]{2})")

# Insert value 'American' in the 'Nationality' column if where the us_abbr matchs with the list of abbr
df_nv.loc[df_nv['us_abbr'].isin(us_postal_abbr), 'Nationality'] = 'American'

For nationalities

Catch the missing countries among the values

In [16]:
#Extract the United States and United Kingdom and the other country names
bn = df_nv['Born'].str.extract(".*?([A-Za-z]{6}\s[A-Za-z]{6,7})$|.*?([A-Za-z]{5,11})$")

## merge the extracted two columes
df_nv['born_country'] = pd.concat([bn[0].dropna(), bn[1].dropna()]).reindex_like(bn)

#Replacing the NaN values of Nationality column with newly extracted values 
df_nv['Nationality'].fillna(df_nv['born_country'], inplace=True)

In [17]:
#drop value, us_abbr, and born_coutry columns
df_nv = df_nv.drop(['value', 'us_abbr', 'born_country'], axis = 1)

In [18]:
df_nv1 = df_nv

In [19]:
# change nationality values into country values

# Nationality list
nat = ['Afghan', 'Albanian', 'Algerian', 'American', 'Andorran', 'Angolan', 'Anguillan', 'Argentine', 'Armenian', 
       'Australian', 'Austrian', 'Azerbaijani', 'Bahamian', 'Bahraini', 'Bangladeshi', 'Barbadian', 'Belarusian',
       'Belgian', 'Belizean', 'Beninese', 'Bermudian', 'Bhutanese', 'Bolivian', 'Botswanan', 'Brazilian', 'British',
       'British Virgin Islander', 'Bruneian', 'Bulgarian', 'Burkinan', 'Burmese', 'Burundian', 'Cambodian', 'Cameroonian',
       'Canadian', 'Cape Verdean', 'Cayman Islander', 'Central African', 'Chadian', 'Chilean', 'Chinese', 
       'Citizen of Antigua and Barbuda', 'Citizen of Bosnia and Herzegovina', 'Citizen of Guinea-Bissau', 
       'Citizen of Kiribati', 'Citizen of Seychelles', 'Citizen of the Dominican Republic', 'Citizen of Vanuatu ', 
       'Colombian', 'Comoran','Congolese (Congo)', 'Congolese (DRC)', 'Cook Islander', 'Costa Rican', 'Croatian', 'Cuban',
       'Cymraes', 'Cymro', 'Cypriot', 'Czech', 'Danish', 'Djiboutian', 'Dominican', 'Dutch', 'East Timorese', 'Ecuadorean',
       'Egyptian', 'Emirati', 'English', 'Equatorial Guinean', 'Eritrean', 'Estonian', 'Ethiopian', 'Faroese', 'Fijian',
       'Filipino', 'Finnish', 'French', 'Gabonese', 'Gambian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek',
       'Greenlandic', 'Grenadian', 'Guamanian', 'Guatemalan', 'Guinean', 'Guyanese', 'Haitian', 'Honduran', 'Hong Konger',
       'Hungarian', 'Icelandic', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Israeli', 'Italian', 'Ivorian', 
       'Jamaican', 'Japanese', 'Jordanian', 'Kazakh', 'Kenyan', 'Kittitian', 'Kosovan', 'Kuwaiti', 'Kyrgyz', 'Lao', 'Latvian',
       'Lebanese', 'Liberian', 'Libyan', 'Liechtenstein citizen', 'Lithuanian', 'Luxembourger', 'Macanese', 'Macedonian',
       'Malagasy', 'Malawian', 'Malaysian', 'Maldivian', 'Malian', 'Maltese', 'Marshallese', 'Martiniquais', 'Mauritanian',
       'Mauritian', 'Mexican', 'Micronesian', 'Moldovan', 'Monegasque', 'Mongolian', 'Montenegrin', 'Montserratian',
       'Moroccan', 'Mosotho', 'Mozambican', 'Namibian', 'Nauruan', 'Nepalese', 'New Zealander', 'Nicaraguan', 'Nigerian',
       'Nigerien', 'Niuean', 'North Korean', 'Northern Irish', 'Norwegian', 'Omani', 'Pakistani', 'Palauan', 'Palestinian',
       'Panamanian', 'Papua New Guinean', 'Paraguayan', 'Peruvian', 'Pitcairn Islander', 'Polish', 'Portuguese', 'Prydeinig',
       'Puerto Rican', 'Qatari', 'Romanian', 'Russian', 'Rwandan', 'Salvadorean', 'Sammarinese', 'Samoan', 'Sao Tomean',
       'Saudi Arabian', 'Scottish', 'Senegalese', 'Serbian', 'Sierra Leonean', 'Singaporean', 'Slovak', 'Slovenian',
       'Solomon Islander', 'Somali', 'South African', 'South Korean', 'South Sudanese', 'Spanish', 'Sri Lankan',
       'St Helenian', 'St Lucian', 'Stateless', 'Sudanese', 'Surinamese', 'Swazi', 'Swedish', 'Swiss', 'Syrian', 'Taiwanese',
       'Tajik', 'Tanzanian', 'Thai', 'Togolese', 'Tongan', 'Trinidadian', 'Tristanian', 'Tunisian', 'Turkish', 'Turkmen',
       'Turks and Caicos Islander', 'Tuvaluan', 'Ugandan', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Vatican citizen', 'Venezuelan',
       'Vietnamese', 'Vincentian', 'Wallisian', 'Welsh', 'Yemeni', 'Zambian', 'Zimbabwean']

In [20]:
# create a value column "Check" showing Y if the value in country column is in the list of nationalities
df_nv1.loc[df_nv1['Nationality'].isin(nat), 'Check'] = 'Y'

In [21]:
''' a list of Nationality and other different country names among the Country values and correction
American = United States
Argentine = Argentina
Austrian = Austria
Brazilian = Brazil
British = United Kingdom
Canadian = Canada
Canada (English-speaking) = Canada
Canada French = Canada
Chinese = China
Danish = Denmark
French = France
German = Germany
Germany (EAST) = Germany
Germany (WEST) = Germany
Germany East = Germany
Indian = India
Japanese = Japan
Portuguese = Portugal
Singaporean = Singapore
Swedish = Sweden
Swiss = Switzerland
U.S. = United States
USA = United States
American, Indian = Indian
Korea = South Korea
Russian, German = Russia
French, Moroccan = Morocco
'''

a = ['American', 'Argentine', 'Austrian', 'Brazilian', 'British', 'Canadian', 'Canada (English-speaking)', 'Canada French', 
     'Chinese', 'Danish', 'French', 'German', 'Germany (EAST)', 'Germany (WEST)', 'Germany East', 'Indian', 'Japanese', 
     'Portuguese', 'Singaporean', 'Swedish', 'Swiss', 'U.S.', 'USA', "American, Indian", 'Korea', "Russian, German", "French, Moroccan"]
b = ['United States', 'Argentina', 'Austria', 'Brazil', 'United Kingdom', 'Canada', 'Canada', 'Canada', 'China', 'Denmark', 
     'France', 'Germany', 'Germany', 'Germany', 'Germany', 'India', 'Japan', 'Portugal', 'Singapore', 'Sweden', 'Switzerland',
     'United States', 'United States', 'India', 'South Korea', 'Russia', 'Morocco']

In [22]:
# Create a dataframe of the identified nationalities and thier matching countries
nat_correct = pd.DataFrame(columns = ('nat','correct'))

# Insert the list of nationalites and country names
nat_correct['nat'] = a
nat_correct['correct'] = b

In [23]:
#Match the identified country names with nationalities in the country_v1 dataframe
df_nv1= nat_correct.set_index(['nat'])\
         .combine_first(df_nv1.set_index(['Nationality']))\
         .reset_index()
#Drop Nationality and correction columns

In [24]:
df_nv1['Nationality'] = np.where(df_nv1['correct'].notnull(), df_nv1['correct'], df_nv1['index'])

#Drop index, correct, and Check columns
df_nv1 = df_nv1.drop(['index', 'correct', 'Check'], axis = 1)

In [25]:
df_nv1 = df_nv1[(df_nv1['company_rank'].notnull())]

In [26]:
df_nv1.sort_values(by='company_rank',inplace = True)

In [27]:
df_nv1['company_rank'] = df_nv1.company_rank.astype(int)

In [28]:
df_nv2 = df_nv1.reset_index(drop=True)

In [29]:
#reindex the data as starting from 1
re_index_nv2 = pd.Series(range(1,308)) #<---- Edit the range for each year 
df_nv2 = df_nv2.set_index([re_index_nv2])

In [30]:
df_nv2

,BoY,Born,Education,ceo,ceo_year,company_rank,Nationality
1,1966.0,"October 17, 1966 (age 53 years), Memphis, TN","Bentonville High School, Sam M. Walton College of Business, The University of Tulsa, University of Arkansas",Doug McMillon,2016.0,1,United States
2,1958.0,1958 (age 62 years),North China Electric Power University,Shu Yinbiao,2016.0,2,NaN
3,1956.0,"September 1956 (age 63 years), Jiangsu, China","China University of Petroleum, China University of Petroleum (Huadong)",Wang Yilin,2016.0,3,China
4,1956.0,"October 1956 (age 63 years), Xinmin, Liaoning, Shenyang, China",Northeast Petroleum University,Wang Yupu,2016.0,4,China
5,1958.0,"April 23, 1958 (age 62 years), Netherlands",Delft University of Technology (1981–1983),Ben van Beurden,2016.0,5,Netherlands
6,NaN,"Wichita, KS","Kellogg School of Management, Texas A&M University",Darren Woods,2016.0,6,United States
7,1956.0,"May 3, 1956 (age 63 years), Nagoya, Aichi, Japan","Babson College, Keio University",Akio Toyoda,2016.0,8,Japan
8,1960.0,"November 1, 1960 (age 59 years), Mobile, AL","The Fuqua School of Business (1988), MORE",Tim Cook,2016.0,9,United States
9,1955.0,"September 14, 1955 (age 64 years), Queens, New York, NY","University of Illinois at Urbana-Champaign, MORE",Bob Dudley,2016.0,10,United States
10,1930.0,"August 30, 1930 (age 89 years), Omaha, NE","Columbia Business School (1950–1951), MORE",Warren Buffett,2016.0,11,United States
11,1959.0,"February 20, 1959 (age 61 years), Saint Paul, MN","Williams College of Business (1987), MORE",John H. Hammergren,2016.0,12,United States
12,1952.0,"October 15, 1952 (age 67 years), South Korea","Seoul National University (1975), Stanford University, KAIST",Kwon Oh-hyun,2016.0,13,South Korea
13,1957.0,"January 1957 (age 63 years), Johannesburg, South Africa","Marshall Business School, USC, University of the Witwatersrand, Johannesburg, University of Southern California",Ivan Glasenberg,2016.0,14,Africa
14,1964.0,"December 1964 (age 55 years), Cangnan County, Wenzhou, China","Nanjing University, Zhejiang Financial College, Guanghua School of Management",Yi Huiman,2016.0,15,China
15,1953.0,"May 5, 1953 (age 66 years), İstanbul, Turkey","University of Paderborn, Karlsruhe Institute of Technology",Dieter Zetsche,2016.0,16,Turkey
16,1952.0,"1952 (age 68 years), United States","Fordham University, Gabelli School of Business",Stephen J. Hemsley,2016.0,17,United States
17,1956.0,"1956 (age 64 years), Pittsburgh, PA",University of Pittsburgh School of Pharmacy (1978),Larry J. Merlo,2016.0,18,United States
18,1976.0,"April 1, 1976 (age 44 years), New York, NY",Polytechnic University of Turin,John Elkann,2016.0,19,United States
19,1961.0,"December 24, 1961 (age 58 years), Waterford, MI","Stanford Graduate School of Business (1988–1990), Kettering University, Mott High School",Mary T. Barra,2016.0,20,United States
20,1960.0,"April 22, 1960 (age 60 years), Oklahoma City, OK","The University of Oklahoma, University of Central Oklahoma",Randall L. Stephenson,2016.0,23,United States
21,1963.0,"June 24, 1963 (age 56 years), Le Petit-Quevilly, France",École Polytechnique,Patrick Pouyanné,2016.0,24,France
22,1950.0,"October 18, 1950 (age 69 years), Banqiao District, Taipei, Taiwan","Taipei College of Maritime Technology (1966–1971), New Taipei Municipal Panchiao Senior High School",Terry Gou,2016.0,25,Taiwan
23,1956.0,"February 19, 1956 (age 64 years), Cincinnati, OH","Harvard Business School (1982), Dartmouth College (1978), Harvard University, Finneytown Secondary Campus",Jeff Immelt,2016.0,26,United States
24,1961.0,"1961 (age 59 years), South Africa","University of the Witwatersrand, Johannesburg",Steven H. Collis,2016.0,28,Africa
25,1954.0,"May 28, 1954 (age 65 years), Buffalo, NY","University of San Diego School of Business Administration, MORE",Lowell C. McAdam,2016.0,30,United States
26,1956.0,"October 1956 (age 63 years), California","The University of Chicago (1980), MORE",John S. Watson,2016.0,31,California
27,1959.0,"October 9, 1959 (age 60 years), Hildesheim, Germany",University of Göttingen,Johannes Teyssen,2016.0,32,Germany
28,1954.0,"August 15, 1954 (age 65 years), Bayonne, France","École Nationale d'Administration (1980), HEC Paris""",Henri de Castries,2016.0,33,France
29,1965.0,"March 1, 1965 (age 55 years), Bergisch Gladbach, Germany","University of Cologne (1988–1993), NYU Stern School of Business (1988–1993)",Oliver Bäte,2016.0,34,Germany
30,1959.0,"May 19, 1959 (age 60 years), Japan",Tokyo City University,Takahiro Hachigo,2016.0,36,Japan
31,1948.0,"November 18, 1948 (age 71 years), Otaru, Hokkaido, Japan",Hitotsubashi University,Masatsugu Nagato,2016.0,37,Japan
32,1952.0,"August 8, 1952 (age 67 years), California",San Diego State University (1975),W. Craig Jelinek,2016.0,38,United States
33,1961.0,"July 14, 1961 (age 58 years), Clichy, France","École Polytechnique, Lycée Louis-le-Grand",Jean-Laurent Bonnafé,2016.0,39,France
34,1959.0,"March 7, 1959 (age 61 years), West Reading, PA","Cornell University, NYU School of Law",Timothy J. Mayopoulos,2016.0,40,United States
35,1955.0,"December 1955 (age 64 years), China",Zhongnan University of Economics and Law,Ma Mingzhe,2016.0,41,China
36,1960.0,"July 25, 1960 (age 59 years), Pineville, KY",University of Kentucky,Rodney McMullen,2016.0,42,United States
37,1963.0,"July 3, 1963 (age 56 years), Paris, France","Sciences Po, École Nationale d'Administration, École Polytechnique""",Frédéric Oudéa,2016.0,43,France
38,1964.0,"January 12, 1964 (age 56 years), Albuquerque, NM","Princeton University (1986), River Oaks Elementary School, Miami Palmetto Senior High School",Jeff Bezos,2016.0,44,United States
39,1959.0,"1959 (age 61 years), China",Beijing University of Posts and Telecommunications,Li Yue,2016.0,45,China
40,1941.0,"June 4, 1941 (age 78 years), Pescara, Italy","University of Milan, Politecnico di Milano",Stefano Pessina,2016.0,47,Italy
41,1967.0,"August 20, 1967 (age 52 years), Australia",Monash University,Dion Weisler,2016.0,48,Australia
42,1960.0,"July 26, 1960 (age 59 years), Suresnes, France",École Polytechnique,Philippe Donnet,2016.0,49,France
43,1957.0,1957 (age 63 years),"NYU Stern School of Business (1988), Brown University (1977), Staples High School, New York University",George S. Barrett,2016.0,50,NaN
44,1965.0,"October 13, 1965 (age 54 years), Freiburg im Breisgau, Germany","RWTH Aachen University (1991), MORE",Harald Krüger,2016.0,51,Germany
45,NaN,NaN,"Cornell University, Monroe Community College",Tim Wentworth,2016.0,52,NaN
46,1954.0,"March 9, 1954 (age 66 years), Guajará-Mirim, State of Rondônia, Brazil","Mines ParisTech (1978), École Polytechnique (1974), MORE",Carlos Ghosn,2016.0,53,"Brazilian, Lebanese, French"
47,1956.0,"March 13, 1956 (age 64 years), New York, NY","Harvard Business School (1982), Tufts University, Browning School",Jamie Dimon,2016.0,55,United States
48,NaN,NaN,NaN,Guiqing Yao,2016.0,57,NaN
49,1953.0,"February 21, 1953 (age 67 years), Rio de Janeiro, State of Rio de Janeiro, Brazil",University of Brasília,Pedro Parente,2016.0,58,Brazil
50,1964.0,"1964 (age 56 years), Melbourne, Australia",University of Melbourne,Jeremy Weir,2016.0,59,Australia
51,1949.0,"January 13, 1949 (age 71 years), Nanao, Ishikawa, Japan",The University of Tokyo,Hiroo Unoura,2016.0,60,Japan
52,1964.0,"1964 (age 56 years), Orange City, IA","Sioux Center Community School District (1982), University of Washington, Iowa State University",Dennis Muilenburg,2016.0,61,United States
53,1967.0,"August 19, 1967 (age 52 years), Hyderabad, India","University of Wisconsin-Milwaukee (1990), MORE', ""Books: Hit Refresh: The Quest to Rediscover Microsoft's Soul and Imagine a Better Future for Everyone"", 'Children: Zain Nadella, Tara Nadella, Divya Nadella",Satya Nadella,2016.0,63,India
54,1959.0,"October 9, 1959 (age 60 years), Marietta, OH","Notre Dame Law School (1984), Brown University (1981), University of Notre Dame",Brian Moynihan,2016.0,64,United States
55,1955.0,"1955 (age 65 years), Milan, Italy",University of Milan,Claudio Descalzi,2016.0,65,Italy
56,1954.0,"September 8, 1954 (age 65 years), Roeselare, Belgium","IMD Business School, Vlerick Business School - Ghent, Katholieke Universiteit Leuven",Paul Bulcke,2016.0,66,Belgium
57,NaN,"Cleveland, OH",University of Michigan,Timothy J. Sloan,2016.0,67,United States
58,1959.0,"March 9, 1959 (age 61 years), United Kingdom","University of Oxford, Worcester College, Oxford",Stuart Gulliver,2016.0,68,United Kingdom
59,1958.0,"1958 (age 62 years), Flint, MI","Eli Broad College of Business, Central High School, Michigan State University",Craig Menear,2016.0,69,United States
60,1960.0,"May 2, 1960 (age 59 years), Bristol, CT",Harvard University (1983),Michael Corbat,2016.0,70,United States
61,1957.0,"June 23, 1957 (age 62 years), Arnbruck, Germany",Ostbayerische Technische Hochschule (OTH) Regensburg,Joe Kaeser,2016.0,71,Germany
62,1869.0,"May 1, 1869, Centre County, PA",NaN,David John Lewis,2016.0,72,United States
63,1949.0,"March 25, 1949 (age 71 years), Bollène, France","Cornell University, EHL - Ecole hôtelière de Lausanne",Georges Plassat,2016.0,73,France
64,NaN,NaN,Texas A&M University,Greg Garland,2016.0,74,NaN
65,1960.0,"January 6, 1960 (age 60 years), León, Spain",NaN,José Antonio Alvarez (José Antonio Álvarez Álvarez),2016.0,75,Spain
66,1959.0,"August 31, 1959 (age 60 years), Nîmes, France",ENSAE Paris,Philippe Brassac,2016.0,77,France
67,1955.0,"1955 (age 65 years), Rome, Italy",Politecnico di Milano,Francesco Starace,2016.0,78,Italy
68,1955.0,"March 18, 1955 (age 65 years), Suresnes, France","École Polytechnique, Télécom Paris",Jean-Bernard Lévy,2016.0,80,France
69,1961.0,"March 1961 (age 59 years), China",Zhejiang University,Zhu Yanfeng,2016.0,81,China
70,1957.0,"July 29, 1957 (age 62 years), Chicago, IL",Robert R. McCormick School of Engineering and Applied Science at Northwestern,Ginni Rometty,2016.0,82,United States
71,1957.0,May 1957 (age 62 years),"University of Missouri-St. Louis, Our Lady of the Lake School of Business",Joseph W. Gorder,2016.0,83,NaN
72,1938.0,"March 19, 1938 (age 82 years), Tongchŏn, North Korea",NaN,Chung Mong-koo,2016.0,84,South Korea
73,1951.0,"May 17, 1951 (age 68 years), Richmond, VA","Benedictine College Preparatory, UNC Charlotte",Joseph R. Swedish,2016.0,85,United States
74,1958.0,"April 20, 1958 (age 62 years), Charlotte, NC","Duke University (1980), West Charlotte High School",David S. Taylor,2016.0,86,United States
75,1956.0,"November 30, 1956 (age 63 years), Uhingen, Germany","University of Stuttgart (1985), University of Stuttgart (1981)",Volkmar Denner,2016.0,87,Germany
76,1966.0,"December 9, 1966 (age 53 years), Neuilly-sur-Seine, France","École Normale Supérieure (1987), Mines ParisTech",Isabelle Kocher,2016.0,89,France
77,1962.0,"September 18, 1962 (age 57 years), Solingen, Germany",University of Cologne,Timotheus Höttges,2016.0,90,Germany
78,1957.0,"August 11, 1957 (age 62 years), Tosu, Saga, Japan","University of California, Berkeley (1980), MORE",Masayoshi Son,2016.0,92,Japan
79,1959.0,"June 20, 1959 (age 60 years), Illinois","Illinois Wesleyan University (1981), University of Illinois at Urbana-Champaign",Michael L. Tipsord,2016.0,93,Illinois
80,1973.0,"March 26, 1973 (age 47 years), East Lansing, MI","East Lansing High School (1987–1991), MORE",Larry Page,2016.0,94,United States
81,1988.0,"January 19, 1988 (age 32 years), Gansu, China",NaN,Zhao Jianguo,2016.0,95,China
82,1959.0,"June 28, 1959 (age 60 years), Philadelphia, PA","Wharton School of the University of Pennsylvania, University of Pennsylvania, Germantown Academy",Brian L. Roberts,2016.0,96,United States
83,1958.0,"1958 (age 62 years), Queens, New York, NY","UCLA Anderson School of Management, University of California, Los Angeles",Brian Cornell,2016.0,97,United States
84,1967.0,"June 7, 1967 (age 52 years), Coatzacoalcos, Mexico","Massachusetts Institute of Technology, Stanford University, Harvard University, Asheville School",José Antonio González Anaya,2016.0,98,Mexico
85,NaN,NaN,NaN,Olaf Koch,2016.0,101,NaN
86,1960.0,"May 24, 1960 (age 59 years), Kansas City, KS","Wharton School of the University of Pennsylvania, United States Military Academy",Alex Gorsky,2016.0,103,United States
87,NaN,"West Hartford, CT","Georgetown University Law Center, MORE",Steven A. Kandarian,2016.0,104,United States
88,1961.0,"1961 (age 59 years), Pottsville, PA","MIT Sloan School of Management, Immaculata University",Megan Brennan,2016.0,107,United States
89,1961.0,"July 29, 1961 (age 58 years), Hamburg, Germany","ETH Zürich (2001), Ludwig Maximilian University of Munich",Frank Appel,2016.0,108,Germany
90,1951.0,"June 17, 1951 (age 68 years), Yokkaichi, Mie, Japan",Babson College,Motoya Okada,2016.0,111,Japan
91,1962.0,"1962 (age 58 years), Argentina",Instituto Tecnológico de Buenos Aires,Juan Ricardo Luciano,2016.0,112,Argentina
92,1960.0,"December 22, 1960 (age 59 years), Tokyo, Japan","Valley Park Middle School, International Christian University",Kaz Hirai,2016.0,113,Japan
93,1909.0,"July 16, 1909, Independence, MO","UMKC School of Law, University of Missouri",William J. Randall,2016.0,116,United States
94,1966.0,"1966 (age 54 years), Simpelveld, Netherlands",Tilburg University,Ralph Hamers,2016.0,117,Netherlands
95,1960.0,"September 7, 1960 (age 59 years), Russian Soviet Federative Socialist Republic",Saint Petersburg State University,Igor Sechin,2016.0,118,Republic
96,NaN,"Tiffin, OH","University of Dayton (1982), Tiffin University (1976)",Gary R. Heminger,2016.0,120,United States
97,1950.0,"June 15, 1950 (age 69 years), Sadulpur, India",NaN,Lakshmi Mittal,2016.0,123,India
98,1950.0,1950 (age 70 years),Massachusetts Institute of Technology,Donald H. Layton,2016.0,124,NaN
99,1961.0,"1961 (age 59 years), Malaysia",Malay College Kuala Kangsar,Wan Zulkiflee,2016.0,125,Malaysia
100,1960.0,"April 9, 1960 (age 60 years), Canada",San Diego State University,Michael A. Wells,2016.0,126,Canada
101,1955.0,"October 28, 1955 (age 64 years), Chennai, India","Yale School of Management (1978–1980), MORE",Indra Nooyi,2016.0,127,India
102,1956.0,"November 14, 1956 (age 63 years), Osaka, Osaka, Japan","University of California, Santa Barbara (1986), Osaka University (1979)",Kazuhiro Tsuga,2016.0,128,Japan
103,1944.0,"October 25, 1944 (age 75 years), Zhenning Buyei and Miao Autonomous County, Anshun, China",Chongqing University,Ren Zhengfei,2016.0,129,China
104,1961.0,"October 3, 1961 (age 58 years), Brescia, Italy","Harvard Business School, Bocconi University, Harvard University",Vittorio Colao,2016.0,133,Italy
105,NaN,United States,"Cornell University, Krannert School of Management, Purdue University",Gregory J. Hayes,2016.0,136,United States
106,1963.0,"December 12, 1963 (age 56 years), Madrid, Spain","Complutense University of Madrid, IPADE Business School, Université Libre de Bruxelles",José María Álvarez-Pallete López (José María Álvarez-Pallete),2016.0,137,Spain
107,1958.0,"November 9, 1958 (age 61 years), Binzhou, China","Joseph M. Katz Graduate School of Business, Shandong University, University of Pittsburgh",Ning Gaoning,2016.0,139,China
108,1958.0,"August 14, 1958 (age 61 years), Lisbon, Portugal",École Centrale Paris (1981),Carlos Tavares,2016.0,140,Portugal
109,1959.0,"June 16, 1959 (age 60 years), Naples, Italy",Sapienza University of Rome,Mario Greco,2016.0,141,Italy
110,1956.0,"1956 (age 64 years), Detroit, MI","Wayne State University, Cornell University",Mark Bertolini,2016.0,142,United States
111,1956.0,"February 8, 1956 (age 64 years), Vartdal, Norway",NHH Norwegian School of Economics,Eldar Sætre,2016.0,145,Norway
112,1958.0,"August 31, 1958 (age 61 years), Bangkok, Thailand","Chulalongkorn University, Rice University",Tevin Vongvanich,2016.0,146,Thailand
113,1956.0,"July 11, 1956 (age 63 years), Enschede, Netherlands","University of Cincinnati, University of Groningen",Paul Polman,2016.0,147,Netherlands
114,1963.0,"1963 (age 57 years), Florida",UNC Charlotte (1984),Robert Niblock,2016.0,148,Florida
115,1956.0,"1956 (age 64 years), Greenwood, MS","Delta State University, Pillow Academy",David P. Abney,2016.0,149,United States
116,NaN,"London, United Kingdom",University of Oxford,Peter Hancock,2016.0,150,United Kingdom
117,1955.0,"July 31, 1955 (age 64 years), Hyogo, Japan",Hyogo Prefectural Nagata High School,Takehiko Kakiuchi,2016.0,151,Japan
118,1954.0,1954 (age 66 years),"University of Virginia, Susquehanna University, Darden School of Business - University of Virginia",John Strangfeld,2016.0,152,NaN
119,1966.0,"1966 (age 54 years), Mexico City, Mexico",NaN,Daniel Hajj Aboumrad,2016.0,154,Mexico
120,1963.0,"November 6, 1963 (age 56 years), Le Creusot, France","HEC Paris, École Nationale d'Administration, Sciences Po""",François Pérol,2016.0,155,France
121,1956.0,"October 1956 (age 63 years), China","Tsinghua University High School, Beijing International Studies University",Chang Zhenming,2016.0,156,China
122,1960.0,"May 9, 1960 (age 59 years), Santa Clara County, CA",San José State University (1982),Brian Krzanich,2016.0,158,United States
123,1954.0,"October 13, 1954 (age 65 years), São Paulo, State of São Paulo, Brazil","Stanford University (1979), Polytechnic School of the University of São Paulo (1977)",Roberto Setubal,2016.0,159,Brazil
124,1963.0,1963 (age 57 years),NaN,Bruce D. Broussard,2016.0,162,NaN
125,1946.0,"November 25, 1946, China",Anhui University of Finance and Economics,Zhang Shiping,2016.0,163,China
126,1951.0,"February 10, 1951 (age 69 years), New York, NY","Ithaca College (1973), Oceanside High School, Roy H. Park School of Communications, The Center for Early Education",Robert Allen Iger,2016.0,164,United States
127,1962.0,"October 6, 1962 (age 57 years), Krefeld, Germany","University of Cologne, RWTH Aachen University",Werner Baumann,2016.0,165,Germany
128,1967.0,"November 17, 1967 (age 52 years), Austria","University of York, University of Innsbruck",Severin Schwan,2016.0,167,Austria
129,1956.0,"December 20, 1956 (age 63 years), Scotland, United Kingdom","University of Bristol, University of St Andrews",Andrew Stewart Mackenzie,2016.0,168,United Kingdom
130,1960.0,"1960 (age 60 years), Tambellup, Australia",NaN,Richard Goyder,2016.0,171,Australia
131,1950.0,"July 6, 1950 (age 69 years)","University of Pittsburgh (1981–1985), MORE",Oh-Joon Kwon,2016.0,173,NaN
132,NaN,NaN,NaN,Peter Terium,2016.0,174,NaN
133,1954.0,"March 9, 1954 (age 66 years), Guajará-Mirim, State of Rondônia, Brazil","Mines ParisTech (1978), École Polytechnique (1974), MORE",Carlos Ghosn,2016.0,178,"Brazilian, Lebanese, French"
134,1957.0,"October 4, 1957 (age 62 years), Tokyo, Japan",Aoyama Gakuin,Ryūichi Isaka,2016.0,179,Japan
135,NaN,NaN,NaN,Hyun-jung Do,2016.0,180,NaN
136,1956.0,"December 27, 1956 (age 63 years), Boston, MA",Bowdoin College,Jes Staley,2016.0,181,United States
137,1960.0,"June 11, 1960 (age 59 years)",HEC Paris,Frédéric Lavenir,2016.0,182,NaN
138,NaN,"Grayson, GA","University of North Carolina at Chapel Hill (1983–1987), Rocky Mt High School",Chuck Robbins,2016.0,183,United States
139,1960.0,"May 25, 1960 (age 59 years), Bopfingen, Germany",Technische Universität München,Heinrich Hiesinger,2016.0,184,Germany
140,1972.0,"December 8, 1972 (age 47 years), Anápolis, State of Goiás, Brazil",NaN,Wesley Mendonça Batista (Wesley Batista),2016.0,185,Brazil
141,1953.0,"1953 (age 67 years), Forfar, United Kingdom","Imperial College London (1974), Department of Chemical Engineering, Imperial College London",Ian C. Read,2016.0,186,United Kingdom
142,1954.0,"May 5, 1954 (age 65 years), Darwin, Australia","The University of Queensland (1975), Darwin High School, Brisbane State High School",Andrew N. Liveris,2016.0,187,"American, Australian"
143,NaN,NaN,"Wharton School of the University of Pennsylvania (1982), University of Notre Dame (1977)",William J. Delaney III,2016.0,188,NaN
144,1968.0,"1968 (age 52 years), Anhui, China","Anhui Qianshan Yezhai Middle School, Nanjing University",Wang Wenyin,2016.0,190,China

In [31]:
df_nv2=df_nv2[["ceo", "company_rank", "Born", "Nationality", "Education", "BoY", "ceo_year"]]

In [32]:
df_nv2.to_csv(r'D:\...\CEOs_info_2016_v1(Apr_25_2020).csv')

In [ ]:
from botocore.client import Config
from io import StringIO

ACCESS_KEY_ID = 'your_access_key_id'
ACCESS_SECRET_KEY = 'your_access_secret_key'
BUCKET_NAME = 'ceo-culture-sagemaker'

csv_buffer =StringIO()
df_nv2.to_csv(csv_buffer)

s3 = boto3.resource(
        's3',
        aws_access_key_id = ACCESS_KEY_ID,
        aws_secret_access_key=ACCESS_SECRET_KEY,
        config=Config(signature_version='s3v4')
        )
s3.Bucket(BUCKET_NAME).put_object(Key='CEOs_info_2016_v1(Apr_25_2020).csv', Body = csv_buffer.getvalue())

print("Uploaded")