In [1]:
import re
import pandas as pd
import numpy as np
import dataframe
from bs4 import BeautifulSoup
import socket 
import time
import requests
from selenium import webdriver
from urllib.parse import quote_plus
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import urllib.request
import urllib.parse

In [10]:
ceo_df = pd.read_csv(r'C:\Users\Jeeho\Documents\Python Scripts\Capstone project\Web_Scrap\fg500_CEOs_2018_v2(Apr_25_2020).csv')

In [11]:
c_sample = ceo_df['CEO']

In [12]:
browser = webdriver.Chrome(r"C:\Users\Jeeho\AppData\Local\Programs\Python\Python36\chromedriver.exe")


ceo_list = c_sample
values =[]
df = pd.DataFrame(columns = ['ceo'])

for ceo in ceo_list:
    baseUrl = 'https://www.google.com/search?q='
    browser.get(baseUrl + ceo)
    table = browser.find_elements_by_css_selector('div.ifM9O') 

    for row in table:
        ceo = str(([c.text for c in row.find_elements_by_css_selector('div.kno-ecr-pt.PZPZlf.gsmt.i8lZMc')])).strip('[]').strip("''")
    for row in table:
        value = str(([c.text for c in row.find_elements_by_css_selector('div.Z1hOCe')])).strip('[]').strip("''")
    if not table:
        value = 'Null'
    
    values.append(value)
    
    s = pd.Series(ceo,index=df.columns)
    vs = pd.Series(values) 

    df = df.append(s,ignore_index=True)

    time.sleep(2) # To make the scraping slower
    
    
df['value'] = vs  
df['ceo_year']=2018
print(df)

browser.close()

                                             ceo  \
0                                  Doug McMillon
1                                        Kou Wei
2                                   Dai Houliang
3                                  Zhang Jianhua
4                                Ben van Beurden
5                                    Akio Toyoda
6                                  Herbert Diess
7                                     Bob Dudley
8                                   Darren Woods
9                                 Warren Buffett
10                                      Tim Cook
11
12                            John H. Hammergren
13                               Ivan Glasenberg
14
15                                Dieter Zetsche
16                                Larry J. Merlo
17                                    Jeff Bezos
18                                   John Elkann
19                         Randall L. Stephenson
20                                 Mary T. Barra
21                                   Jim Hackett
22                                Wang Xiangming
23                                     Terry Gou
24                              Steven H. Collis
25
26                                 Thomas Buberl
27                              Patrick Pouyanné
28                                    Ma Mingzhe
29                              Takahiro Hachigo
30                                    Tian Guoli
31                                   Jeremy Weir
32                                    Mike Wirth
33                           Michael C. Kaufmann
34                              W. Craig Jelinek
35
36                              Lowell C. McAdam
37                                   Oliver Bäte
38                               Rodney McMullen
39
40                              John L. Flannery
41                                Yang Mingsheng
42                               Stefano Pessina
43                          Jean-Laurent Bonnafé
44                              Masatsugu Nagato
45                                   Chen Siqing
46                                   Jamie Dimon
47                         Timothy J. Mayopoulos
48                              Alexey B. Miller
49                              Michael A. Wells
50
51                                    Larry Page
52                                        Li Yue
53                                Hiroto Saikawa
54                                  Hiroo Unoura
55                                 Zhang Zongyan
56                                  Craig Menear
57                                 Meng Fengchao
58                               Philippe Donnet
59                                Brian Moynihan
60                                 Tim Wentworth
61                              Timothy J. Sloan
62                            Vagit Y. Alekperov
63                             Dennis Muilenburg
64                                    Li Shaozhu
65                                    Joe Kaeser
66                                  Greg Garland
67                             Alexandre Bompard
68                            Ulf Mark Schneider
69                        Gail Koziara Boudreaux
70                                 Satya Nadella
71                                  Ren Zhengfei
72                                 Ivan Monteiro
73                              Joseph W. Gorder
74                                Volkmar Denner
75                                Michael Corbat
76                          José Antonio Alvarez
77
78                          Toshiaki Higashihara
79                              Brian L. Roberts
80                             Timotheus Höttges
81                              Philippe Brassac
82                             Francesco Starace
83                  Tae Won Chey /Dong Hyun Jang
84                                 Masayoshi Son
85
86
87
88                              Claudio Descalzi
89                                    John Flint
90                                     Liu Qitao
91                                 Ginni Rometty
92                               Michael S. Dell
93                             Jean-Bernard Lévy
94                            Michael L. Tipsord
95                                       Yan Hao
96
97                                  Ning Gaoning
98
99                                   Alex Gorsky
100                                 Qiao Baoping
101                             David John Lewis
102                                 Motoya Okada
103                              Isabelle Kocher
104
105                             Donald H. Layton
106                Carlos Alberto Trevino Medina
107                               Carlos Tavares
108                                  Tang Fuping
109                                   Li Qingkui
110                                  Wang Wenyin
111
112                                    Li Guohua
113                               Kazuhiro Tsuga
114                                  Igor Sechin
115                                Brian Cornell
116                                 Jianmin Miao
117                                    Dick Boer
118                                  Frank Appel
119                              Joachim Wenning
120                               Frédéric Oudéa
121                                      Yu Xubo
122                                Megan Brennan
123                                      Xu Heyi
124                                   Xu Liuping
125                              Hiroshi Shimizu
126                               Lakshmi Mittal
127                               Marvin Ellison
128                            Takehiko Kakiuchi
129                                Fumiya Kokubu
130                             Gary R. Heminger
131                                   Wang Yuzhu
132
133                                 Carlos Ghosn
134                              David S. Taylor
135                          Steven A. Kandarian
136                                 Sanjiv Singh
137                               David P. Abney
138                          Alexander Wynaendts
139                                    Yin Jiaxu
140
141                                  Mario Greco
142                       Mark W. Wilson, MD, PC
143                                  Indra Nooyi
144
145                                     Bob Swan
146                              Edward D. Breen
147
148                               Chang Zhenming
149                                  Eldar Sætre
150                               François Pérol
151                         Juan Ricardo Luciano
152                                  Paul Polman
153                               Mark Bertolini
154                           Frederick W. Smith
155
156
157                               Vittorio Colao
158                             Gregory J. Hayes
159                              John Strangfeld
160                                  Tan Ruisong
161                                  Chen Derong
162                             Tevin Vongvanich
163             José María Álvarez-Pallete López
164                             Ichiro Kashitani
165                            Octavio de Lazari
166
167
168                               Severin Schwan
169                                 Carlos Brito
170                                 Ralph Hamers
171
172
173
174                     Paulo Rogerio Caffarelli
175                            Robert Allen Iger
176                              Nobuyuki Hirano
177                                Seong-Jin Cho
178                                Ryūichi Isaka
179                         Daniel Hajj Aboumrad
180                                Liu Qiangdong
181                                  Yan Zhiyong
182                           Bruce D. Broussard
183                                 Oh-Joon Kwon
184                                Zhang Shiping
185                           Tomoaki Kobayakawa
186                                  Ian C. Read
187
188
189                                 Dion Weisler
190                                Wan Zulkiflee
191                               Takeshi Kunibe
192                               Werner Baumann
193                                    She Lulin
194                               Richard Goyder
195
196
197                                 Kosei Shindo
198
199                              Marillyn Hewson
200                             Frédéric Lavenir
201
202                            Vasant Narasimhan
203                             Masahiro Okafuji
204                                  Herman Gref
205                              Elmar Degenhart
206                            Brian Duperreault
207                              Sidney Toledano
208                              Tsuyoshi Nagano
209
210
211                                Chuck Robbins
212                                   Tian Huiyu
213                          Rolf Martin Schmitz
214                            R. Milton Johnson
215                                Rajnish Kumar
216                           John W. McReynolds
217                           Heinrich Hiesinger
218                                 Han-Woo Park
219                                      He Qing
220                           Yasuyoshi Karasawa
221                                     Yu Dehui
222                             Christian Sewing
223                           Carlos Torres Vila
224                             Stéphane Richard
225                              Xavier Huillard
226                                    Gao Guofu
227
228
229                                    Xu Jiayin
230                    Pierre-André de Chalendar
231                             Guenter Butschek
232                               Soren Schroder
233                                    Li Weimin
234                                 Chen Jianhua
235
236                                   Tao Yiping
237                                  Jim Umpleby
238                                   Yu Yong MD
239                                Yang Yuanqing
240                                     Roy Gori
241                                   Gong Yande
242                                 Song Zhiping
243
244                                   Hu Wenming
245                              Tatsuo Yasunaga
246                         Stephen S. Rasmussen
247                              Kuok Khoon Hong
248                              James P. Gorman
249                               Masayuki Hyodo
250                                Zheng Wanchun
251                                Zhang Yuliang
252                              Nicke Widyawati
253                             Johannes Teyssen
254                                David H. Long
255
256                        Christian Mumenthaler
257                           Theodore A. Mathas
258                              Lloyd Blankfein
259                                  Doug Parker
260
261                                Josu Jon Imaz
262                                David Cordani
263                                 Tom Rutledge
264                     Alistair Phillips-Davies
265                                   Ed Bastian
266                                     Li Shufu
267                        Wolf-Henning Scheider
268                                    Olaf Koch
269                                  Wang Tingge
270                          Olivier Brandicourt
271                                  Bruce Flatt
272                                 Wang Xiaochu
273                              Mark Zuckerberg
274                              Darius Adamczyk
275                           Kenneth C. Frazier
276
277                       Jean-Sébastien Jacques
278
279                                  Li Jianhong
280                    Yousef Abdullah Al-Benyan
281                              André Desmarais
282
283
284                                Syh-Jang Liao
285                             Martin Lundstedt
286                             Donald J. Walker
287
288                                    Cao Peixi
289                                Emma Walmsley
290                                 Torsten Leue
291                               David I. McKay
292                             Thomas J. Wilson
293                                Yang Zhaoqian
294                                 Ng Keng Hooi
295                     Andrew Stewart Mackenzie
296                              Thomas P. Hayes
297
298                            Brian P. Hannasch
299                                 Daniel Zhang
300                                  Oscar Munoz
301
302                                   Mike Coupe
303                             Matteo Del Fante
304
305                               Sergio Ermotti
306                              Martin Bouygues
307
308                                 Akio Negishi
309
310                            Shunichi Miyanaga
311                                Zhang Zhengao
312
313
314                              Richard T. Hume
315                              Pierre Nanterme
316                                Fujio Mitarai
317                                    Iain Conn
318                        Roger W. Ferguson Jr.
319                               Guillaume Pepy
320
321
322                                    Paul Fang
323                                Carlo Messina
324                            Fabio Schvartsman
325                           Nobuaki Kurumatani
326                               Stephen Squeri
327                                James Quincey
328                               Yasumori Ihara
329                   José Ignacio Sánchez Galán
330                                   Ma Huateng
331
332
333
334                                    Xu Lirong
335                                   Jes Staley
336                               Bharat Masrani
337                             Bhavesh V. Patel
338                           William J. Randall
339                                  Mark Parker
340                           Ulrich Spiesshofer
341                                Takeo Higuchi
342
343                              Gregory J. Goff
344
345                                  Gao Hongwei
346                               Kengo Sakurada
347                             Toshihiro Suzuki
348                                   Matt Comyn
349                           Masahiro Hashimoto
350                            Michael J. Kasbar
351
352                                       Mo Bin
353                                    Barry Lam
354
355
356                            Roger W. Crandall
357                               Eiji Hayashida
358                                 Yang GuoZhan
359                                    Xu Xiaoxi
360
361
362                                   Ryan Lance
363
364                                Masaaki Tsuya
365                            Evan G. Greenberg
366
367                           Mark Liu /C.C. Wei
368                                   Rui Xiaowu
369                                  Long Ziping
370                                   Zhou Qiang
371                              Jay D. Debertin
372                                Tidjane Thiam
373  Li Tzar Kuoi, Victor /Fok Kin Ning, Canning
374                                 Zhang Shuili
375
376                              Gavin Patterson
377                              Masamichi Kogai
378                              John T. Stankey
379
380                                    Xi Guohua
381                              Albert Manifold
382                              Phebe Novakovic
383                           Yasuyuki Yoshinaga
384                                  Sun Yongcai
385                               Paal Kibsgaard
386                             John T. Standley
387                                 Xiong Qun Li
388
389
390                             Richard Fairbank
391                               Jean Paul Agon
392                                   Lei Fanpei
393                              Samuel R. Allen
394                                  Qian Zhimin
395                                  Omar Ishrak
396                                 Zhao Jianguo
397                                Shunichi Kito
398                                    Li Xiyong
399                           "Sean M. O'Connor"
400
401                          Jean Pierre Mustier
402                              A. James Teague
403                               Jui-Tsung Chen
404                              Rajesh J. Mehta
405                               Frédéric Gagey
406                            Alan D. Schnitzer
407                                   Pablo Isla
408                                 Antonio Neri
409                               Ming-Ho Hsiung
410
411                                  Joos Sutter
412                            Dominic Blakemore
413
414                           Fabrice Zumbrunnen
415                                James Murdoch
416                              Oliver Windholz
417                             Shuichi Watanabe
418                               Antoine Frérot
419                                Shigeki Iwane
420                               Sung-Chul Hyun
421                          Richard A. Gonzalez
422                             Frans van Houten
423                         Jean-Pascal Tricoire
424                          Masayoshi Matsumoto
425                               Emmanuel Faber
426
427
428                    Francisco Reynes Massanet
429
430                                Zhang Gongyan
431                                    Simon Lin
432                               Miles D. White
433                                Philippe Wahl
434                             Levent Çakıroğlu
435                                Shun-Chin Lee
436                              Tricia Griffith
437
438                              Antonio Huertas
439
440                                 Alain Dehaze
441                               Sung-Wook Park
442                                Yuki Fukasawa
443                                  Jan Jenisch
444                                  Dexter Goei
445                               Bill McDermott
446                           Gerald W. Schwartz
447                               Shayne Elliott
448                                Mark Cutifani
449                        Jacques van den Broek
450                                 Bernard Hees
451                            Greg L. Armstrong
452                             Nicandro Durante
453           Jaime Francisco Hernandez Martinez
454                          John F. Milligan IV
455                                Shang Jiqiang
456                                  Rajeev Suri
457                                 Chi-Hun Choi
458                              Dirk Van de Put
459                             William M. Walsh
460                               Wesley G. Bush
461                               Satoru Katsuno
462                                Takashi Niino
463                                 Lin Tengjiao
464
465                          Michael M. McNamara
466                            Thomas A. Kennedy
467                                 Chen Jinhang
468                               Daniel Obajtek
469             Frederico Pinheiro Fleury Curado
470                               Jong Kyoo Yoon
471                         Willem A.J. van Duin
472                             Jeffrey Gennette
473
474                    Jean-François van Boxmeer
475                              Steven Williams
476                               Frank Mastiaux
477                        Jean-Dominique Senard
478
479                               Kasper Rørsted

In [13]:
pd.set_option('display.max_rows', None)

In [14]:
#Make a copy of the original scraped dataset
df1 = df

In [15]:
#reindex the data
re_index = pd.Series(range(1,501))  
df1 = df1.set_index([re_index])

Rename the unnamed column as index

In [16]:
# convert the index to a column and name as company_rank 
df1['index1'] = df1.index

df1 = df1.rename(columns={'index1': 'company_rank'})

In [18]:
#reindex the data as starting from 1 to 500
re_index = pd.Series(range(1,501))  
df1 = df1.set_index([re_index])

Clear rows. Select the rows having values only

In [19]:
#Select only the rows with values to proceed RegEx later
# exclude the rows with ceo value having ''
df_n = df1[df1['ceo'] != '']

#exlucde the rows if the value of 'value' column is null
df_nv = df_n[(df_n['value'] != 'Null')]

In [20]:
# Exclude the rows if the value of 'company_rank' is null
df_nv = df_nv[(df_nv['company_rank'].notnull())]

In [21]:
# For Born
df_nv['Born'] = df_nv['value'].str.extract(r"Born: (.+?)\'\," )

# For Nationality 
df_nv['Nationality'] = df_nv['value'].str.extract(r"Nationality: (.+?)\'\," )


# For Education
## Select the strings end with "', '" and the strings end with nothing
Education = df_nv['value'].str.extract(r"Education: (.+?)\'\,\s\'|Education: (.+)?|Alma mater: (.+?)\'\,\s\'")

## merge the extracted two columes
df_nv['Education'] = pd.concat([Education[0].dropna(), Education[1].dropna(), Education[2].dropna()]).reindex_like(Education)

#See the full contents of the rows of value
pd.set_option('display.max_colwidth', -1)

Extract only Birth of Year only as BoY

In [22]:
df_nv['BoY'] = df_nv['Born'].str.extract(pat = "([0-9]{4})" )

Extract Nationality strings from Born based on 1) the postal abbreviations of the US and 2) the country names

In [23]:
# Create a list of the abbr

us_postal_abbr = {'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 
                  'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
                  'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
                  'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
                  'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WY'}

In [24]:
# Create a column for the extracted us abbreviation code 
df_nv['us_abbr'] = df_nv['Born'].str.extract(pat = "([A-Z]{2})")

# Insert value 'American' in the 'Nationality' column if where the us_abbr matchs with the list of abbr
df_nv.loc[df_nv['us_abbr'].isin(us_postal_abbr), 'Nationality'] = 'American'

For nationalities

Catch the missing countries among the values

In [26]:
#Extract the United States and United Kingdom and the other country names
bn = df_nv['Born'].str.extract(".*?([A-Za-z]{6}\s[A-Za-z]{6,7})$|.*?([A-Za-z]{5,11})$")

## merge the extracted two columes
df_nv['born_country'] = pd.concat([bn[0].dropna(), bn[1].dropna()]).reindex_like(bn)

#Replacing the NaN values of Nationality column with newly extracted values 
df_nv['Nationality'].fillna(df_nv['born_country'], inplace=True)

In [27]:
#drop value, us_abbr, and born_coutry columns
df_nv = df_nv.drop(['value', 'us_abbr', 'born_country'], axis = 1)

In [28]:
df_nv1 = df_nv

In [29]:
# change nationality values into country values

# Nationality list
nat = ['Afghan', 'Albanian', 'Algerian', 'American', 'Andorran', 'Angolan', 'Anguillan', 'Argentine', 'Armenian', 
       'Australian', 'Austrian', 'Azerbaijani', 'Bahamian', 'Bahraini', 'Bangladeshi', 'Barbadian', 'Belarusian',
       'Belgian', 'Belizean', 'Beninese', 'Bermudian', 'Bhutanese', 'Bolivian', 'Botswanan', 'Brazilian', 'British',
       'British Virgin Islander', 'Bruneian', 'Bulgarian', 'Burkinan', 'Burmese', 'Burundian', 'Cambodian', 'Cameroonian',
       'Canadian', 'Cape Verdean', 'Cayman Islander', 'Central African', 'Chadian', 'Chilean', 'Chinese', 
       'Citizen of Antigua and Barbuda', 'Citizen of Bosnia and Herzegovina', 'Citizen of Guinea-Bissau', 
       'Citizen of Kiribati', 'Citizen of Seychelles', 'Citizen of the Dominican Republic', 'Citizen of Vanuatu ', 
       'Colombian', 'Comoran','Congolese (Congo)', 'Congolese (DRC)', 'Cook Islander', 'Costa Rican', 'Croatian', 'Cuban',
       'Cymraes', 'Cymro', 'Cypriot', 'Czech', 'Danish', 'Djiboutian', 'Dominican', 'Dutch', 'East Timorese', 'Ecuadorean',
       'Egyptian', 'Emirati', 'English', 'Equatorial Guinean', 'Eritrean', 'Estonian', 'Ethiopian', 'Faroese', 'Fijian',
       'Filipino', 'Finnish', 'French', 'Gabonese', 'Gambian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek',
       'Greenlandic', 'Grenadian', 'Guamanian', 'Guatemalan', 'Guinean', 'Guyanese', 'Haitian', 'Honduran', 'Hong Konger',
       'Hungarian', 'Icelandic', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Israeli', 'Italian', 'Ivorian', 
       'Jamaican', 'Japanese', 'Jordanian', 'Kazakh', 'Kenyan', 'Kittitian', 'Kosovan', 'Kuwaiti', 'Kyrgyz', 'Lao', 'Latvian',
       'Lebanese', 'Liberian', 'Libyan', 'Liechtenstein citizen', 'Lithuanian', 'Luxembourger', 'Macanese', 'Macedonian',
       'Malagasy', 'Malawian', 'Malaysian', 'Maldivian', 'Malian', 'Maltese', 'Marshallese', 'Martiniquais', 'Mauritanian',
       'Mauritian', 'Mexican', 'Micronesian', 'Moldovan', 'Monegasque', 'Mongolian', 'Montenegrin', 'Montserratian',
       'Moroccan', 'Mosotho', 'Mozambican', 'Namibian', 'Nauruan', 'Nepalese', 'New Zealander', 'Nicaraguan', 'Nigerian',
       'Nigerien', 'Niuean', 'North Korean', 'Northern Irish', 'Norwegian', 'Omani', 'Pakistani', 'Palauan', 'Palestinian',
       'Panamanian', 'Papua New Guinean', 'Paraguayan', 'Peruvian', 'Pitcairn Islander', 'Polish', 'Portuguese', 'Prydeinig',
       'Puerto Rican', 'Qatari', 'Romanian', 'Russian', 'Rwandan', 'Salvadorean', 'Sammarinese', 'Samoan', 'Sao Tomean',
       'Saudi Arabian', 'Scottish', 'Senegalese', 'Serbian', 'Sierra Leonean', 'Singaporean', 'Slovak', 'Slovenian',
       'Solomon Islander', 'Somali', 'South African', 'South Korean', 'South Sudanese', 'Spanish', 'Sri Lankan',
       'St Helenian', 'St Lucian', 'Stateless', 'Sudanese', 'Surinamese', 'Swazi', 'Swedish', 'Swiss', 'Syrian', 'Taiwanese',
       'Tajik', 'Tanzanian', 'Thai', 'Togolese', 'Tongan', 'Trinidadian', 'Tristanian', 'Tunisian', 'Turkish', 'Turkmen',
       'Turks and Caicos Islander', 'Tuvaluan', 'Ugandan', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Vatican citizen', 'Venezuelan',
       'Vietnamese', 'Vincentian', 'Wallisian', 'Welsh', 'Yemeni', 'Zambian', 'Zimbabwean']

In [30]:
# create a value column "Check" showing Y if the value in country column is in the list of nationalities
df_nv1.loc[df_nv1['Nationality'].isin(nat), 'Check'] = 'Y'

In [31]:
''' a list of Nationality and other different country names among the Country values and correction
American = United States
Argentine = Argentina
Austrian = Austria
Brazilian = Brazil
British = United Kingdom
Canadian = Canada
Canada (English-speaking) = Canada
Canada French = Canada
Chinese = China
Danish = Denmark
French = France
German = Germany
Germany (EAST) = Germany
Germany (WEST) = Germany
Germany East = Germany
Indian = India
Japanese = Japan
Portuguese = Portugal
Singaporean = Singapore
Swedish = Sweden
Swiss = Switzerland
U.S. = United States
USA = United States
American, Indian = Indian
Korea = South Korea
Russian, German = Russia
French, Moroccan = Morocco
'''

a = ['American', 'Argentine', 'Austrian', 'Brazilian', 'British', 'Canadian', 'Canada (English-speaking)', 'Canada French', 
     'Chinese', 'Danish', 'French', 'German', 'Germany (EAST)', 'Germany (WEST)', 'Germany East', 'Indian', 'Japanese', 
     'Portuguese', 'Singaporean', 'Swedish', 'Swiss', 'U.S.', 'USA', "American, Indian", 'Korea', "Russian, German", "French, Moroccan"]
b = ['United States', 'Argentina', 'Austria', 'Brazil', 'United Kingdom', 'Canada', 'Canada', 'Canada', 'China', 'Denmark', 
     'France', 'Germany', 'Germany', 'Germany', 'Germany', 'India', 'Japan', 'Portugal', 'Singapore', 'Sweden', 'Switzerland',
     'United States', 'United States', 'India', 'South Korea', 'Russia', 'Morocco']

In [32]:
# Create a dataframe of the identified nationalities and thier matching countries
nat_correct = pd.DataFrame(columns = ('nat','correct'))

# Insert the list of nationalites and country names
nat_correct['nat'] = a
nat_correct['correct'] = b

In [33]:
#Match the identified country names with nationalities in the country_v1 dataframe
df_nv1= nat_correct.set_index(['nat'])\
         .combine_first(df_nv1.set_index(['Nationality']))\
         .reset_index()
#Drop Nationality and correction columns

In [34]:
df_nv1['Nationality'] = np.where(df_nv1['correct'].notnull(), df_nv1['correct'], df_nv1['index'])

#Drop index, correct, and Check columns
df_nv1 = df_nv1.drop(['index', 'correct', 'Check'], axis = 1)

In [35]:
df_nv1 = df_nv1[(df_nv1['company_rank'].notnull())]

In [36]:
df_nv1.sort_values(by='company_rank',inplace = True)

In [37]:
df_nv1['company_rank'] = df_nv1.company_rank.astype(int)

In [38]:
df_nv2 = df_nv1.reset_index(drop=True)

In [40]:
#reindex the data as starting from 1
re_index_nv2 = pd.Series(range(1,277)) #<---- Edit the range for each year 
df_nv2 = df_nv2.set_index([re_index_nv2])

In [41]:
df_nv2

,BoY,Born,Education,ceo,ceo_year,company_rank,Nationality
1,1966.0,"October 17, 1966 (age 53 years), Memphis, TN","Bentonville High School, Sam M. Walton College of Business, The University of Tulsa, University of Arkansas",Doug McMillon,2018.0,1,United States
2,1964.0,"September 1964 (age 55 years), Shanghai, China",East China University of Science and Technology,Zhang Jianhua,2018.0,4,China
3,1958.0,"April 23, 1958 (age 62 years), Netherlands",Delft University of Technology (1981–1983),Ben van Beurden,2018.0,5,Netherlands
4,1956.0,"May 3, 1956 (age 63 years), Nagoya, Aichi, Japan","Babson College, Keio University",Akio Toyoda,2018.0,6,Japan
5,1958.0,"October 24, 1958 (age 61 years), Munich, Germany","Technische Universität München (1987), MORE",Herbert Diess,2018.0,7,Germany
6,1955.0,"September 14, 1955 (age 64 years), Queens, New York, NY","University of Illinois at Urbana-Champaign, MORE",Bob Dudley,2018.0,8,United States
7,NaN,"Wichita, KS","Kellogg School of Management, Texas A&M University",Darren Woods,2018.0,9,United States
8,1930.0,"August 30, 1930 (age 89 years), Omaha, NE","Columbia Business School (1950–1951), MORE",Warren Buffett,2018.0,10,United States
9,1960.0,"November 1, 1960 (age 59 years), Mobile, AL","The Fuqua School of Business (1988), MORE",Tim Cook,2018.0,11,United States
10,1959.0,"February 20, 1959 (age 61 years), Saint Paul, MN","Williams College of Business (1987), MORE",John H. Hammergren,2018.0,13,United States
11,1957.0,"January 1957 (age 63 years), Johannesburg, South Africa","Marshall Business School, USC, University of the Witwatersrand, Johannesburg, University of Southern California",Ivan Glasenberg,2018.0,14,Africa
12,1953.0,"May 5, 1953 (age 66 years), İstanbul, Turkey","University of Paderborn, Karlsruhe Institute of Technology",Dieter Zetsche,2018.0,16,Turkey
13,1956.0,"1956 (age 64 years), Pittsburgh, PA",University of Pittsburgh School of Pharmacy (1978),Larry J. Merlo,2018.0,17,United States
14,1964.0,"January 12, 1964 (age 56 years), Albuquerque, NM","Princeton University (1986), River Oaks Elementary School, Miami Palmetto Senior High School",Jeff Bezos,2018.0,18,United States
15,1976.0,"April 1, 1976 (age 44 years), New York, NY",Polytechnic University of Turin,John Elkann,2018.0,19,United States
16,1960.0,"April 22, 1960 (age 60 years), Oklahoma City, OK","The University of Oklahoma, University of Central Oklahoma",Randall L. Stephenson,2018.0,20,United States
17,1961.0,"December 24, 1961 (age 58 years), Waterford, MI","Stanford Graduate School of Business (1988–1990), Kettering University, Mott High School",Mary T. Barra,2018.0,21,United States
18,1955.0,"April 22, 1955 (age 65 years), Columbus, OH",University of Michigan (1977),Jim Hackett,2018.0,22,United States
19,1950.0,"October 18, 1950 (age 69 years), Banqiao District, Taipei, Taiwan","Taipei College of Maritime Technology (1966–1971), New Taipei Municipal Panchiao Senior High School",Terry Gou,2018.0,24,Taiwan
20,1961.0,"1961 (age 59 years), South Africa","University of the Witwatersrand, Johannesburg",Steven H. Collis,2018.0,25,Africa
21,1973.0,"March 24, 1973 (age 47 years), Cologne, Germany","WHU - Otto Beisheim School of Management, Lancaster University, University of St. Gallen",Thomas Buberl,2018.0,27,Germany
22,1963.0,"June 24, 1963 (age 56 years), Le Petit-Quevilly, France",École Polytechnique,Patrick Pouyanné,2018.0,28,France
23,1955.0,"December 1955 (age 64 years), China",Zhongnan University of Economics and Law,Ma Mingzhe,2018.0,29,China
24,1959.0,"May 19, 1959 (age 60 years), Japan",Tokyo City University,Takahiro Hachigo,2018.0,30,Japan
25,1964.0,"1964 (age 56 years), Melbourne, Australia",University of Melbourne,Jeremy Weir,2018.0,32,Australia
26,1960.0,1960 (age 60 years),University of Colorado Boulder,Mike Wirth,2018.0,33,NaN
27,1952.0,"August 8, 1952 (age 67 years), California",San Diego State University (1975),W. Craig Jelinek,2018.0,35,United States
28,1954.0,"May 28, 1954 (age 65 years), Buffalo, NY","University of San Diego School of Business Administration, MORE",Lowell C. McAdam,2018.0,37,United States
29,1965.0,"March 1, 1965 (age 55 years), Bergisch Gladbach, Germany","University of Cologne (1988–1993), NYU Stern School of Business (1988–1993)",Oliver Bäte,2018.0,38,Germany
30,1960.0,"July 25, 1960 (age 59 years), Pineville, KY",University of Kentucky,Rodney McMullen,2018.0,39,United States
31,1962.0,"1962 (age 58 years), Alexandria, VA","Wharton School of the University of Pennsylvania (1987), MORE",John L. Flannery,2018.0,41,United States
32,1941.0,"June 4, 1941 (age 78 years), Pescara, Italy","University of Milan, Politecnico di Milano",Stefano Pessina,2018.0,43,Italy
33,1961.0,"July 14, 1961 (age 58 years), Clichy, France","École Polytechnique, Lycée Louis-le-Grand",Jean-Laurent Bonnafé,2018.0,44,France
34,1948.0,"November 18, 1948 (age 71 years), Otaru, Hokkaido, Japan",Hitotsubashi University,Masatsugu Nagato,2018.0,45,Japan
35,1956.0,"March 13, 1956 (age 64 years), New York, NY","Harvard Business School (1982), Tufts University, Browning School",Jamie Dimon,2018.0,47,United States
36,1959.0,"March 7, 1959 (age 61 years), West Reading, PA","Cornell University, NYU School of Law",Timothy J. Mayopoulos,2018.0,48,United States
37,1960.0,"April 9, 1960 (age 60 years), Canada",San Diego State University,Michael A. Wells,2018.0,50,Canada
38,1973.0,"March 26, 1973 (age 47 years), East Lansing, MI","East Lansing High School (1987–1991), MORE",Larry Page,2018.0,52,United States
39,1959.0,"1959 (age 61 years), China",Beijing University of Posts and Telecommunications,Li Yue,2018.0,53,China
40,NaN,NaN,NaN,Hiroto Saikawa,2018.0,54,NaN
41,1949.0,"January 13, 1949 (age 71 years), Nanao, Ishikawa, Japan",The University of Tokyo,Hiroo Unoura,2018.0,55,Japan
42,1958.0,"1958 (age 62 years), Flint, MI","Eli Broad College of Business, Central High School, Michigan State University",Craig Menear,2018.0,57,United States
43,1960.0,"July 26, 1960 (age 59 years), Suresnes, France",École Polytechnique,Philippe Donnet,2018.0,59,France
44,1959.0,"October 9, 1959 (age 60 years), Marietta, OH","Notre Dame Law School (1984), Brown University (1981), University of Notre Dame",Brian Moynihan,2018.0,60,United States
45,NaN,NaN,"Cornell University, Monroe Community College",Tim Wentworth,2018.0,61,NaN
46,NaN,"Cleveland, OH",University of Michigan,Timothy J. Sloan,2018.0,62,United States
47,1964.0,"1964 (age 56 years), Orange City, IA","Sioux Center Community School District (1982), University of Washington, Iowa State University",Dennis Muilenburg,2018.0,64,United States
48,1957.0,"June 23, 1957 (age 62 years), Arnbruck, Germany",Ostbayerische Technische Hochschule (OTH) Regensburg,Joe Kaeser,2018.0,66,Germany
49,NaN,NaN,Texas A&M University,Greg Garland,2018.0,67,NaN
50,1972.0,"October 4, 1972 (age 47 years), Saint-Étienne, France","École Nationale d'Administration (1997–1999), Sciences Po""",Alexandre Bompard,2018.0,68,France
51,1965.0,"September 9, 1965 (age 54 years), Neuwied, Germany","Harvard Business School, University of St. Gallen",Ulf Mark Schneider,2018.0,69,Germany
52,1960.0,1960 (age 60 years),"Chicopee Comprehensv High Sch, Columbia University, Columbia Business School, Dartmouth College",Gail Koziara Boudreaux,2018.0,70,NaN
53,1967.0,"August 19, 1967 (age 52 years), Hyderabad, India","University of Wisconsin-Milwaukee (1990), MORE', ""Books: Hit Refresh: The Quest to Rediscover Microsoft's Soul and Imagine a Better Future for Everyone"", 'Children: Zain Nadella, Tara Nadella, Divya Nadella",Satya Nadella,2018.0,71,India
54,1944.0,"October 25, 1944 (age 75 years), Zhenning Buyei and Miao Autonomous County, Anshun, China",Chongqing University,Ren Zhengfei,2018.0,72,China
55,1960.0,"1960 (age 60 years), Manaus, State of Amazonas, Brazil","PUC-Rio (2000), MORE",Ivan Monteiro,2018.0,73,Brazil
56,1957.0,May 1957 (age 62 years),"University of Missouri-St. Louis, Our Lady of the Lake School of Business",Joseph W. Gorder,2018.0,74,NaN
57,1956.0,"November 30, 1956 (age 63 years), Uhingen, Germany","University of Stuttgart (1985), University of Stuttgart (1981)",Volkmar Denner,2018.0,75,Germany
58,1960.0,"May 2, 1960 (age 59 years), Bristol, CT",Harvard University (1983),Michael Corbat,2018.0,76,United States
59,1960.0,"January 6, 1960 (age 60 years), León, Spain",NaN,José Antonio Alvarez,2018.0,77,Spain
60,1959.0,"June 28, 1959 (age 60 years), Philadelphia, PA","Wharton School of the University of Pennsylvania, University of Pennsylvania, Germantown Academy",Brian L. Roberts,2018.0,80,United States
61,1962.0,"September 18, 1962 (age 57 years), Solingen, Germany",University of Cologne,Timotheus Höttges,2018.0,81,Germany
62,1959.0,"August 31, 1959 (age 60 years), Nîmes, France",ENSAE Paris,Philippe Brassac,2018.0,82,France
63,1955.0,"1955 (age 65 years), Rome, Italy",Politecnico di Milano,Francesco Starace,2018.0,83,Italy
64,1957.0,"August 11, 1957 (age 62 years), Tosu, Saga, Japan","University of California, Berkeley (1980), MORE",Masayoshi Son,2018.0,85,Japan
65,1955.0,"1955 (age 65 years), Milan, Italy",University of Milan,Claudio Descalzi,2018.0,89,Italy
66,1968.0,"June 1968 (age 51 years), Yorkshire, United Kingdom","University of Portsmouth, Giggleswick School",John Flint,2018.0,90,United Kingdom
67,1957.0,"July 29, 1957 (age 62 years), Chicago, IL",Robert R. McCormick School of Engineering and Applied Science at Northwestern,Ginni Rometty,2018.0,92,United States
68,1965.0,"February 23, 1965 (age 55 years), Houston, TX","Memorial Senior High School, The University of Texas at Austin, Herod Elementary School",Michael S. Dell,2018.0,93,United States
69,1955.0,"March 18, 1955 (age 65 years), Suresnes, France","École Polytechnique, Télécom Paris",Jean-Bernard Lévy,2018.0,94,France
70,1959.0,"June 20, 1959 (age 60 years), Illinois","Illinois Wesleyan University (1981), University of Illinois at Urbana-Champaign",Michael L. Tipsord,2018.0,95,Illinois
71,1958.0,"November 9, 1958 (age 61 years), Binzhou, China","Joseph M. Katz Graduate School of Business, Shandong University, University of Pittsburgh",Ning Gaoning,2018.0,98,China
72,1960.0,"May 24, 1960 (age 59 years), Kansas City, KS","Wharton School of the University of Pennsylvania, United States Military Academy",Alex Gorsky,2018.0,100,United States
73,1869.0,"May 1, 1869, Centre County, PA",NaN,David John Lewis,2018.0,102,United States
74,1951.0,"June 17, 1951 (age 68 years), Yokkaichi, Mie, Japan",Babson College,Motoya Okada,2018.0,103,Japan
75,1966.0,"December 9, 1966 (age 53 years), Neuilly-sur-Seine, France","École Normale Supérieure (1987), Mines ParisTech",Isabelle Kocher,2018.0,104,France
76,1950.0,1950 (age 70 years),Massachusetts Institute of Technology,Donald H. Layton,2018.0,106,NaN
77,1958.0,"August 14, 1958 (age 61 years), Lisbon, Portugal",École Centrale Paris (1981),Carlos Tavares,2018.0,108,Portugal
78,1956.0,"March 1956 (age 64 years), Shandong, China",North China Electric Power University,Li Qingkui,2018.0,110,China
79,1968.0,"1968 (age 52 years), Anhui, China","Anhui Qianshan Yezhai Middle School, Nanjing University",Wang Wenyin,2018.0,111,China
80,1956.0,"November 14, 1956 (age 63 years), Osaka, Osaka, Japan","University of California, Santa Barbara (1986), Osaka University (1979)",Kazuhiro Tsuga,2018.0,114,Japan
81,1960.0,"September 7, 1960 (age 59 years), Russian Soviet Federative Socialist Republic",Saint Petersburg State University,Igor Sechin,2018.0,115,Republic
82,1958.0,"1958 (age 62 years), Queens, New York, NY","UCLA Anderson School of Management, University of California, Los Angeles",Brian Cornell,2018.0,116,United States
83,NaN,NaN,NaN,Jianmin Miao,2018.0,117,NaN
84,1957.0,"August 31, 1957 (age 62 years), Axel, Netherlands",NaN,Dick Boer,2018.0,118,Netherlands
85,1961.0,"July 29, 1961 (age 58 years), Hamburg, Germany","ETH Zürich (2001), Ludwig Maximilian University of Munich",Frank Appel,2018.0,119,Germany
86,1963.0,"July 3, 1963 (age 56 years), Paris, France","Sciences Po, École Nationale d'Administration, École Polytechnique""",Frédéric Oudéa,2018.0,121,France
87,1961.0,"1961 (age 59 years), Pottsville, PA","MIT Sloan School of Management, Immaculata University",Megan Brennan,2018.0,123,United States
88,1903.0,"March 28, 1903",Hokkaido University,Hiroshi Shimizu,2018.0,126,NaN
89,1950.0,"June 15, 1950 (age 69 years), Sadulpur, India",NaN,Lakshmi Mittal,2018.0,127,India
90,1966.0,1966 (age 54 years),"Haywood High School, Emory University, Emory University's Goizueta Business School, University of Memphis"", 'Children: Donavan Ellison",Marvin Ellison,2018.0,128,United States
91,1955.0,"July 31, 1955 (age 64 years), Hyogo, Japan",Hyogo Prefectural Nagata High School,Takehiko Kakiuchi,2018.0,129,Japan
92,NaN,"Tiffin, OH","University of Dayton (1982), Tiffin University (1976)",Gary R. Heminger,2018.0,131,United States
93,1954.0,"March 9, 1954 (age 66 years), Guajará-Mirim, State of Rondônia, Brazil","Mines ParisTech (1978), École Polytechnique (1974), MORE",Carlos Ghosn,2018.0,134,"Brazilian, Lebanese, French"
94,1958.0,"April 20, 1958 (age 62 years), Charlotte, NC","Duke University (1980), West Charlotte High School",David S. Taylor,2018.0,135,United States
95,NaN,"West Hartford, CT","Georgetown University Law Center, MORE",Steven A. Kandarian,2018.0,136,United States
96,1956.0,"1956 (age 64 years), Greenwood, MS","Delta State University, Pillow Academy",David P. Abney,2018.0,138,United States
97,NaN,NaN,NaN,Alexander Wynaendts,2018.0,139,NaN
98,1959.0,"June 16, 1959 (age 60 years), Naples, Italy",Sapienza University of Rome,Mario Greco,2018.0,142,Italy
99,NaN,NaN,NaN,"Mark W. Wilson, MD, PC",2018.0,143,NaN
100,1955.0,"October 28, 1955 (age 64 years), Chennai, India","Yale School of Management (1978–1980), MORE",Indra Nooyi,2018.0,144,India
101,1960.0,"May 9, 1960 (age 59 years), Syracuse, NY","Corcoran High School, Binghamton University, University at Buffalo School of Management",Bob Swan,2018.0,146,United States
102,1956.0,"1956 (age 64 years), Grove City, PA",Grove City College (1978),Edward D. Breen,2018.0,147,United States
103,1956.0,"October 1956 (age 63 years), China","Tsinghua University High School, Beijing International Studies University",Chang Zhenming,2018.0,149,China
104,1956.0,"February 8, 1956 (age 64 years), Vartdal, Norway",NHH Norwegian School of Economics,Eldar Sætre,2018.0,150,Norway
105,1963.0,"November 6, 1963 (age 56 years), Le Creusot, France","HEC Paris, École Nationale d'Administration, Sciences Po""",François Pérol,2018.0,151,France
106,1962.0,"1962 (age 58 years), Argentina",Instituto Tecnológico de Buenos Aires,Juan Ricardo Luciano,2018.0,152,Argentina
107,1956.0,"July 11, 1956 (age 63 years), Enschede, Netherlands","University of Cincinnati, University of Groningen",Paul Polman,2018.0,153,Netherlands
108,1956.0,"1956 (age 64 years), Detroit, MI","Wayne State University, Cornell University",Mark Bertolini,2018.0,154,United States
109,1944.0,"August 11, 1944 (age 75 years), Marks, MS","Yale University (1962–1966), Memphis University School, Presbyterian Day School",Frederick W. Smith,2018.0,155,United States
110,1961.0,"October 3, 1961 (age 58 years), Brescia, Italy","Harvard Business School, Bocconi University, Harvard University",Vittorio Colao,2018.0,158,Italy
111,NaN,United States,"Cornell University, Krannert School of Management, Purdue University",Gregory J. Hayes,2018.0,159,United States
112,1954.0,1954 (age 66 years),"University of Virginia, Susquehanna University, Darden School of Business - University of Virginia",John Strangfeld,2018.0,160,NaN
113,1958.0,"August 31, 1958 (age 61 years), Bangkok, Thailand","Chulalongkorn University, Rice University",Tevin Vongvanich,2018.0,163,Thailand
114,1963.0,"December 12, 1963 (age 56 years), Madrid, Spain","Complutense University of Madrid, IPADE Business School, Université Libre de Bruxelles",José María Álvarez-Pallete López,2018.0,164,Spain
115,1967.0,"November 17, 1967 (age 52 years), Austria","University of York, University of Innsbruck",Severin Schwan,2018.0,169,Austria
116,1960.0,"1960 (age 60 years), Rio de Janeiro, State of Rio de Janeiro, Brazil","Stanford Graduate School of Business, Universidade Federal do Rio de Janeiro",Carlos Brito,2018.0,170,Brazil
117,1966.0,"1966 (age 54 years), Simpelveld, Netherlands",Tilburg University,Ralph Hamers,2018.0,171,Netherlands
118,1951.0,"February 10, 1951 (age 69 years), New York, NY","Ithaca College (1973), Oceanside High School, Roy H. Park School of Communications, The Center for Early Education",Robert Allen Iger,2018.0,176,United States
119,1994.0,"May 28, 1994 (age 25 years), Seoul, South Korea","Conservatoire National Supérieur de Musique et de Danse de Paris, MORE",Seong-Jin Cho,2018.0,178,South Korea
120,1957.0,"October 4, 1957 (age 62 years), Tokyo, Japan",Aoyama Gakuin,Ryūichi Isaka,2018.0,179,Japan
121,1966.0,"1966 (age 54 years), Mexico City, Mexico",NaN,Daniel Hajj Aboumrad,2018.0,180,Mexico
122,NaN,"Lailongzhen, Suqian, China","China Europe International Business School, Renmin University of China",Liu Qiangdong,2018.0,181,China
123,1963.0,1963 (age 57 years),NaN,Bruce D. Broussard,2018.0,183,NaN
124,1950.0,"July 6, 1950 (age 69 years)","University of Pittsburgh (1981–1985), MORE",Oh-Joon Kwon,2018.0,184,NaN
125,1946.0,"November 25, 1946, China",Anhui University of Finance and Economics,Zhang Shiping,2018.0,185,China
126,1953.0,"1953 (age 67 years), Forfar, United Kingdom","Imperial College London (1974), Department of Chemical Engineering, Imperial College London",Ian C. Read,2018.0,187,United Kingdom
127,1967.0,"August 20, 1967 (age 52 years), Australia",Monash University,Dion Weisler,2018.0,190,Australia
128,1961.0,"1961 (age 59 years), Malaysia",Malay College Kuala Kangsar,Wan Zulkiflee,2018.0,191,Malaysia
129,1962.0,"October 6, 1962 (age 57 years), Krefeld, Germany","University of Cologne, RWTH Aachen University",Werner Baumann,2018.0,193,Germany
130,1960.0,"1960 (age 60 years), Tambellup, Australia",NaN,Richard Goyder,2018.0,195,Australia
131,1949.0,"September 14, 1949 (age 70 years), Akita, Japan",Harvard Business School,Kosei Shindo,2018.0,198,Japan
132,1954.0,"1954 (age 66 years), Junction City, KS","Columbia Business School, The University of Alabama, Harvard Business School",Marillyn Hewson,2018.0,200,United States
133,1960.0,"June 11, 1960 (age 59 years)",HEC Paris,Frédéric Lavenir,2018.0,201,NaN
134,1976.0,"1976 (age 44 years), Moorestown, NJ","Harvard University, Harvard Kennedy School, Harvard Medical School, The University of Chicago",Vasant Narasimhan,2018.0,203,United States
135,1964.0,"February 8, 1964 (age 56 years), Panfilovo, Kazakhstan","Saint Petersburg State University (1990–1993), MORE",Herman Gref,2018.0,205,Russia
136,1959.0,"January 29, 1959 (age 61 years), Dossenheim, Germany",University of Stuttgart,Elmar Degenhart,2018.0,206,Germany
137,1947.0,"May 8, 1947 (age 72 years), Hamilton, Bermuda","Saint Joseph's University, Trenton Catholic Academy""",Brian Duperreault,2018.0,207,Bermuda
138,1951.0,"July 25, 1951 (age 68 years), Casablanca, Morocco",NaN,Sidney Toledano,2018.0,208,Morocco
139,NaN,NaN,NaN,Tsuyoshi Nagano,2018.0,209,NaN
140,NaN,"Grayson, GA","University of North Carolina at Chapel Hill (1983–1987), Rocky Mt High School",Chuck Robbins,2018.0,212,United States
141,1957.0,"June 17, 1957 (age 62 years), Mönchengladbach, Germany",RWTH Aachen University,Rolf Martin Schmitz,2018.0,214,Germany
142,1956.0,"December 15, 1956 (age 63 years), Nashville, TN","Belmont University, Nashville State Community College",R. Milton Johnson,2018.0,215,United States
143,1958.0,"January 14, 1958 (age 62 years)",NaN,Rajnish Kumar,2018.0,216,NaN
144,1960.0,"May 25, 1960 (age 59 years), Bopfingen, Germany",Technische Universität München,Heinrich Hiesinger,2018.0,218,Germany
145,1964.0,"1964 (age 56 years), Zhejiang, China",Jiangshan High School,He Qing,2018.0,220,China

In [42]:
df_nv2=df_nv2[["ceo", "company_rank", "Born", "Nationality", "Education", "BoY", "ceo_year"]]

In [43]:
df_nv2.to_csv(r'D:\Yeshiva_Univ\Courses\Capstone_project\CEOs_Culture_project\Data\ceo_information\ceo_bio\CEOs_info_2018_v1(Apr_25_2020).csv')