In [1]:
import re
import pandas as pd
import numpy as np
import dataframe
from bs4 import BeautifulSoup
import socket 
import time
import requests
from selenium import webdriver
from urllib.parse import quote_plus
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import urllib.request
import urllib.parse

In [2]:
ceo_df = pd.read_csv(r'C:\Users\Jeeho\Documents\Python Scripts\Capstone project\Web_Scrap\fg500_CEOs_2015_v1(May_5_2020).csv')

In [3]:
c_sample = ceo_df['CEO']

In [4]:
browser = webdriver.Chrome(r"C:\Users\Jeeho\AppData\Local\Programs\Python\Python36\chromedriver.exe")


ceo_list = c_sample
values =[]
df = pd.DataFrame(columns = ['ceo'])

for ceo in ceo_list:
    baseUrl = 'https://www.google.com/search?q='
    browser.get(baseUrl + ceo)
    table = browser.find_elements_by_css_selector('div.ifM9O') 

    for row in table:
        ceo = str(([c.text for c in row.find_elements_by_css_selector('div.kno-ecr-pt.PZPZlf.gsmt.i8lZMc')])).strip('[]').strip("''")
    for row in table:
        value = str(([c.text for c in row.find_elements_by_css_selector('div.Z1hOCe')])).strip('[]').strip("''")
    if not table:
        value = 'Null'
    
    values.append(value)
    
    s = pd.Series(ceo,index=df.columns)
    vs = pd.Series(values) 

    df = df.append(s,ignore_index=True)

    time.sleep(2) # To make the scraping slower
    
    
df['value'] = vs  
df['ceo_year']=2015
print(df)

browser.close()

                      ceo                                              value  \
0           Doug McMillon  Born: October 17, 1966 (age 53 years), Memphis...
1               Wang Yupu  Born: October 1956 (age 63 years), Xinmin, Lia...
2         Ben van Beurden  Born: April 23, 1958 (age 62 years), Netherlan...
3              Wang Yilin  Born: September 1956 (age 63 years), Jiangsu, ...
4        Rex W. Tillerson  Born: March 23, 1952 (age 68 years), Wichita F...
5              Bob Dudley  Born: September 14, 1955 (age 64 years), Queen...
6             Shu Yinbiao  Born: 1958 (age 62 years)', 'Education: North ...
7       Martin Winterkorn  Born: May 24, 1947 (age 72 years), Leonberg, G...
8             Akio Toyoda  Born: May 3, 1956 (age 64 years), Nagoya, Aich...
9         Ivan Glasenberg  Born: January 1957 (age 63 years), Johannesbur...
10       Patrick Pouyanné  Born: June 24, 1963 (age 56 years), Le Petit-Q...
11         John S. Watson  Born: October 1956 (age 63 years), California'...
12           Kwon Oh-hyun  Born: October 15, 1952 (age 67 years), South K...
13         Warren Buffett  Net worth: 72 billion USD (2020) Trending', 'B...
14               Tim Cook  Born: November 1, 1960 (age 59 years), Mobile,...
15     John H. Hammergren  Born: February 20, 1959 (age 61 years), Saint ...
16         Dieter Zetsche  Born: May 5, 1953 (age 67 years), İstanbul, Tu...
17              Yi Huiman  Born: December 1964 (age 55 years), Cangnan Co...
18            John Elkann  Born: April 1, 1976 (age 44 years), New York, ...
19      Henri de Castries  Born: August 15, 1954 (age 65 years), Bayonne,...
20          Mary T. Barra  Born: December 24, 1961 (age 58 years), Waterf...
21       Johannes Teyssen  Born: October 9, 1959 (age 60 years), Hildeshe...
22           Greg Garland  Spouse(s): married', 'Children: 4', 'Education...
23            Jeff Immelt  Born: February 19, 1956 (age 64 years), Cincin...
24       Claudio Descalzi  Born: 1955 (age 65 years), Milan, Italy', 'Edu...
25       Alexey B. Miller                                               Null
26
27        Aldemir Bendine  Born: December 10, 1963 (age 56 years), Paragu...
28          Zhang Jianguo                                               Null
29         Larry J. Merlo  Born: 1956 (age 64 years), Pittsburgh, PA', 'N...
..                    ...                                                ...
470        Ming-Ho Hsiung                                               Null
471              Mark Liu                                               Null
472
473          Andrew Owens                                               Null
474       Albert Manifold  Born: August 1962 (age 57 years)', 'Term: Janu...
475        Tetsuro Tomita                                               Null
476              Li Shufu  Born: June 25, 1963 (age 56 years), Taizhou, C...
477      John F. Milligan  Education: Ohio Wesleyan University, Universit...
478          Bill Winters  Born: September 1961 (age 58 years), Connectic...
479          Sofyan Basir  Born: May 2, 1958 (age 62 years), Bogor, Indon...
480
481          Patrick Kron  Born: September 26, 1953 (age 66 years), Paris...
482   Martin S. Craighead                                               Null
483            David Farr  Born: 1955 (age 65 years), United States', 'Em...
484         Michel Landel  Born: November 7, 1951 (age 68 years), Meknes,...
485
486       Joseph M. Tucci  Born: 1947 (age 73 years), Brooklyn, New York,...
487         Stefan Sommer  Born: January 7, 1963 (age 57 years), Münster,...
488      Hans-Jörg Vetter                                               Null
489    Gerald W. Schwartz  Born: November 24, 1941 (age 78 years), Winnip...
490           Magnus Hall  Born: 1959 (age 61 years), Sundsvall, Sweden',...
491
492
493        Wesley G. Bush  Born: 1961 (age 59 years), United States', 'Sp...
494       Klaus Kleinfeld  Born: November 6, 1957 (age 62 years), Bremen,...
495      Richard Fairbank  Born: September 18, 1950 (age 69 years), Calif...
496  Jorge Andueza Fouque                                               Null
497
498        Keizo Morikawa                                               Null
499

     ceo_year
0        2015
1        2015
2        2015
3        2015
4        2015
5        2015
6        2015
7        2015
8        2015
9        2015
10       2015
11       2015
12       2015
13       2015
14       2015
15       2015
16       2015
17       2015
18       2015
19       2015
20       2015
21       2015
22       2015
23       2015
24       2015
25       2015
26       2015
27       2015
28       2015
29       2015
..        ...
470      2015
471      2015
472      2015
473      2015
474      2015
475      2015
476      2015
477      2015
478      2015
479      2015
480      2015
481      2015
482      2015
483      2015
484      2015
485      2015
486      2015
487      2015
488      2015
489      2015
490      2015
491      2015
492      2015
493      2015
494      2015
495      2015
496      2015
497      2015
498      2015
499      2015

[500 rows x 3 columns]

In [5]:
pd.set_option('display.max_rows', None)

In [6]:
#Make a copy of the original scraped dataset
df1 = df

In [7]:
#reindex the data
re_index = pd.Series(range(1,501))  
df1 = df1.set_index([re_index])

Rename the unnamed column as index

In [8]:
# convert the index to a column and name as company_rank 
df1['index1'] = df1.index

df1 = df1.rename(columns={'index1': 'company_rank'})

In [9]:
#reindex the data as starting from 1 to 500
re_index = pd.Series(range(1,501))  
df1 = df1.set_index([re_index])

Clear rows. Select the rows having values only

In [10]:
#Select only the rows with values to proceed RegEx later
# exclude the rows with ceo value having ''
df_n = df1[df1['ceo'] != '']

#exlucde the rows if the value of 'value' column is null
df_nv = df_n[(df_n['value'] != 'Null')]

In [11]:
# Exclude the rows if the value of 'company_rank' is null
df_nv = df_nv[(df_nv['company_rank'].notnull())]

In [12]:
# For Born
df_nv['Born'] = df_nv['value'].str.extract(r"Born: (.+?)\'\," )

# For Nationality 
df_nv['Nationality'] = df_nv['value'].str.extract(r"Nationality: (.+?)\'\," )


# For Education
## Select the strings end with "', '" and the strings end with nothing
Education = df_nv['value'].str.extract(r"Education: (.+?)\'\,\s\'|Education: (.+)?|Alma mater: (.+?)\'\,\s\'")

## merge the extracted two columes
df_nv['Education'] = pd.concat([Education[0].dropna(), Education[1].dropna(), Education[2].dropna()]).reindex_like(Education)

#See the full contents of the rows of value
pd.set_option('display.max_colwidth', -1)

Extract only Birth of Year only as BoY

In [13]:
df_nv['BoY'] = df_nv['Born'].str.extract(pat = "([0-9]{4})" )

Extract Nationality strings from Born based on 1) the postal abbreviations of the US and 2) the country names

In [14]:
# Create a list of the abbr

us_postal_abbr = {'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 
                  'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
                  'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
                  'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
                  'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WY'}

In [15]:
# Create a column for the extracted us abbreviation code 
df_nv['us_abbr'] = df_nv['Born'].str.extract(pat = "([A-Z]{2})")

# Insert value 'American' in the 'Nationality' column if where the us_abbr matchs with the list of abbr
df_nv.loc[df_nv['us_abbr'].isin(us_postal_abbr), 'Nationality'] = 'American'

For nationalities

Catch the missing countries among the values

In [16]:
#Extract the United States and United Kingdom and the other country names
bn = df_nv['Born'].str.extract(".*?([A-Za-z]{6}\s[A-Za-z]{6,7})$|.*?([A-Za-z]{5,11})$")

## merge the extracted two columes
df_nv['born_country'] = pd.concat([bn[0].dropna(), bn[1].dropna()]).reindex_like(bn)

#Replacing the NaN values of Nationality column with newly extracted values 
df_nv['Nationality'].fillna(df_nv['born_country'], inplace=True)

In [17]:
#drop value, us_abbr, and born_coutry columns
df_nv = df_nv.drop(['value', 'us_abbr', 'born_country'], axis = 1)

In [18]:
df_nv1 = df_nv

In [19]:
# change nationality values into country values

# Nationality list
nat = ['Afghan', 'Albanian', 'Algerian', 'American', 'Andorran', 'Angolan', 'Anguillan', 'Argentine', 'Armenian', 
       'Australian', 'Austrian', 'Azerbaijani', 'Bahamian', 'Bahraini', 'Bangladeshi', 'Barbadian', 'Belarusian',
       'Belgian', 'Belizean', 'Beninese', 'Bermudian', 'Bhutanese', 'Bolivian', 'Botswanan', 'Brazilian', 'British',
       'British Virgin Islander', 'Bruneian', 'Bulgarian', 'Burkinan', 'Burmese', 'Burundian', 'Cambodian', 'Cameroonian',
       'Canadian', 'Cape Verdean', 'Cayman Islander', 'Central African', 'Chadian', 'Chilean', 'Chinese', 
       'Citizen of Antigua and Barbuda', 'Citizen of Bosnia and Herzegovina', 'Citizen of Guinea-Bissau', 
       'Citizen of Kiribati', 'Citizen of Seychelles', 'Citizen of the Dominican Republic', 'Citizen of Vanuatu ', 
       'Colombian', 'Comoran','Congolese (Congo)', 'Congolese (DRC)', 'Cook Islander', 'Costa Rican', 'Croatian', 'Cuban',
       'Cymraes', 'Cymro', 'Cypriot', 'Czech', 'Danish', 'Djiboutian', 'Dominican', 'Dutch', 'East Timorese', 'Ecuadorean',
       'Egyptian', 'Emirati', 'English', 'Equatorial Guinean', 'Eritrean', 'Estonian', 'Ethiopian', 'Faroese', 'Fijian',
       'Filipino', 'Finnish', 'French', 'Gabonese', 'Gambian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek',
       'Greenlandic', 'Grenadian', 'Guamanian', 'Guatemalan', 'Guinean', 'Guyanese', 'Haitian', 'Honduran', 'Hong Konger',
       'Hungarian', 'Icelandic', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Israeli', 'Italian', 'Ivorian', 
       'Jamaican', 'Japanese', 'Jordanian', 'Kazakh', 'Kenyan', 'Kittitian', 'Kosovan', 'Kuwaiti', 'Kyrgyz', 'Lao', 'Latvian',
       'Lebanese', 'Liberian', 'Libyan', 'Liechtenstein citizen', 'Lithuanian', 'Luxembourger', 'Macanese', 'Macedonian',
       'Malagasy', 'Malawian', 'Malaysian', 'Maldivian', 'Malian', 'Maltese', 'Marshallese', 'Martiniquais', 'Mauritanian',
       'Mauritian', 'Mexican', 'Micronesian', 'Moldovan', 'Monegasque', 'Mongolian', 'Montenegrin', 'Montserratian',
       'Moroccan', 'Mosotho', 'Mozambican', 'Namibian', 'Nauruan', 'Nepalese', 'New Zealander', 'Nicaraguan', 'Nigerian',
       'Nigerien', 'Niuean', 'North Korean', 'Northern Irish', 'Norwegian', 'Omani', 'Pakistani', 'Palauan', 'Palestinian',
       'Panamanian', 'Papua New Guinean', 'Paraguayan', 'Peruvian', 'Pitcairn Islander', 'Polish', 'Portuguese', 'Prydeinig',
       'Puerto Rican', 'Qatari', 'Romanian', 'Russian', 'Rwandan', 'Salvadorean', 'Sammarinese', 'Samoan', 'Sao Tomean',
       'Saudi Arabian', 'Scottish', 'Senegalese', 'Serbian', 'Sierra Leonean', 'Singaporean', 'Slovak', 'Slovenian',
       'Solomon Islander', 'Somali', 'South African', 'South Korean', 'South Sudanese', 'Spanish', 'Sri Lankan',
       'St Helenian', 'St Lucian', 'Stateless', 'Sudanese', 'Surinamese', 'Swazi', 'Swedish', 'Swiss', 'Syrian', 'Taiwanese',
       'Tajik', 'Tanzanian', 'Thai', 'Togolese', 'Tongan', 'Trinidadian', 'Tristanian', 'Tunisian', 'Turkish', 'Turkmen',
       'Turks and Caicos Islander', 'Tuvaluan', 'Ugandan', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Vatican citizen', 'Venezuelan',
       'Vietnamese', 'Vincentian', 'Wallisian', 'Welsh', 'Yemeni', 'Zambian', 'Zimbabwean']

In [20]:
# create a value column "Check" showing Y if the value in country column is in the list of nationalities
df_nv1.loc[df_nv1['Nationality'].isin(nat), 'Check'] = 'Y'

In [21]:
''' a list of Nationality and other different country names among the Country values and correction
American = United States
Argentine = Argentina
Austrian = Austria
Brazilian = Brazil
British = United Kingdom
Canadian = Canada
Canada (English-speaking) = Canada
Canada French = Canada
Chinese = China
Danish = Denmark
French = France
German = Germany
Germany (EAST) = Germany
Germany (WEST) = Germany
Germany East = Germany
Indian = India
Japanese = Japan
Portuguese = Portugal
Singaporean = Singapore
Swedish = Sweden
Swiss = Switzerland
U.S. = United States
USA = United States
American, Indian = Indian
Korea = South Korea
Russian, German = Russia
French, Moroccan = Morocco
'''

a = ['American', 'Argentine', 'Austrian', 'Brazilian', 'British', 'Canadian', 'Canada (English-speaking)', 'Canada French', 
     'Chinese', 'Danish', 'French', 'German', 'Germany (EAST)', 'Germany (WEST)', 'Germany East', 'Indian', 'Japanese', 
     'Portuguese', 'Singaporean', 'Swedish', 'Swiss', 'U.S.', 'USA', "American, Indian", 'Korea', "Russian, German", "French, Moroccan"]
b = ['United States', 'Argentina', 'Austria', 'Brazil', 'United Kingdom', 'Canada', 'Canada', 'Canada', 'China', 'Denmark', 
     'France', 'Germany', 'Germany', 'Germany', 'Germany', 'India', 'Japan', 'Portugal', 'Singapore', 'Sweden', 'Switzerland',
     'United States', 'United States', 'India', 'South Korea', 'Russia', 'Morocco']

In [22]:
# Create a dataframe of the identified nationalities and thier matching countries
nat_correct = pd.DataFrame(columns = ('nat','correct'))

# Insert the list of nationalites and country names
nat_correct['nat'] = a
nat_correct['correct'] = b

In [23]:
#Match the identified country names with nationalities in the country_v1 dataframe
df_nv1= nat_correct.set_index(['nat'])\
         .combine_first(df_nv1.set_index(['Nationality']))\
         .reset_index()
#Drop Nationality and correction columns

In [24]:
df_nv1['Nationality'] = np.where(df_nv1['correct'].notnull(), df_nv1['correct'], df_nv1['index'])

#Drop index, correct, and Check columns
df_nv1 = df_nv1.drop(['index', 'correct', 'Check'], axis = 1)

In [25]:
df_nv1 = df_nv1[(df_nv1['company_rank'].notnull())]

In [26]:
df_nv1.sort_values(by='company_rank',inplace = True)

In [27]:
df_nv1['company_rank'] = df_nv1.company_rank.astype(int)

In [28]:
df_nv2 = df_nv1.reset_index(drop=True)

In [29]:
#reindex the data as starting from 1
re_index_nv2 = pd.Series(range(1,308)) #<---- Edit the range for each year 
df_nv2 = df_nv2.set_index([re_index_nv2])

In [30]:
df_nv2

,BoY,Born,Education,ceo,ceo_year,company_rank,Nationality
1,1966.0,"October 17, 1966 (age 53 years), Memphis, TN","Bentonville High School, Sam M. Walton College of Business, The University of Tulsa, University of Arkansas",Doug McMillon,2015.0,1,United States
2,1956.0,"October 1956 (age 63 years), Xinmin, Liaoning, Shenyang, China",Northeast Petroleum University,Wang Yupu,2015.0,2,China
3,1958.0,"April 23, 1958 (age 62 years), Netherlands",Delft University of Technology (1981–1983),Ben van Beurden,2015.0,3,Netherlands
4,1956.0,"September 1956 (age 63 years), Jiangsu, China","China University of Petroleum, China University of Petroleum (Huadong)",Wang Yilin,2015.0,4,China
5,1952.0,"March 23, 1952 (age 68 years), Wichita Falls, TX","The University of Texas at Austin (1975), MORE",Rex W. Tillerson,2015.0,5,United States
6,1955.0,"September 14, 1955 (age 64 years), Queens, New York, NY","University of Illinois at Urbana-Champaign, MORE",Bob Dudley,2015.0,6,United States
7,1958.0,1958 (age 62 years),North China Electric Power University,Shu Yinbiao,2015.0,7,NaN
8,1947.0,"May 24, 1947 (age 72 years), Leonberg, Germany",University of Stuttgart (1966–1973),Martin Winterkorn,2015.0,8,Germany
9,1956.0,"May 3, 1956 (age 64 years), Nagoya, Aichi, Japan","Babson College, Keio University",Akio Toyoda,2015.0,9,Japan
10,1957.0,"January 1957 (age 63 years), Johannesburg, South Africa","Marshall Business School, USC, University of the Witwatersrand, Johannesburg, University of Southern California",Ivan Glasenberg,2015.0,10,Africa
11,1963.0,"June 24, 1963 (age 56 years), Le Petit-Quevilly, France",École Polytechnique,Patrick Pouyanné,2015.0,11,France
12,1956.0,"October 1956 (age 63 years), California","The University of Chicago (1980), MORE",John S. Watson,2015.0,12,California
13,1952.0,"October 15, 1952 (age 67 years), South Korea","Seoul National University (1975), Stanford University, KAIST",Kwon Oh-hyun,2015.0,13,South Korea
14,1930.0,"August 30, 1930 (age 89 years), Omaha, NE","Columbia Business School (1950–1951), MORE",Warren Buffett,2015.0,14,United States
15,1960.0,"November 1, 1960 (age 59 years), Mobile, AL","The Fuqua School of Business (1988), MORE",Tim Cook,2015.0,15,United States
16,1959.0,"February 20, 1959 (age 61 years), Saint Paul, MN","Williams College of Business (1987), MORE",John H. Hammergren,2015.0,16,United States
17,1953.0,"May 5, 1953 (age 67 years), İstanbul, Turkey","University of Paderborn, Karlsruhe Institute of Technology",Dieter Zetsche,2015.0,17,Turkey
18,1964.0,"December 1964 (age 55 years), Cangnan County, Wenzhou, China","Nanjing University, Zhejiang Financial College, Guanghua School of Management",Yi Huiman,2015.0,18,China
19,1976.0,"April 1, 1976 (age 44 years), New York, NY",Polytechnic University of Turin,John Elkann,2015.0,19,United States
20,1954.0,"August 15, 1954 (age 65 years), Bayonne, France","École Nationale d'Administration (1980), HEC Paris""",Henri de Castries,2015.0,20,France
21,1961.0,"December 24, 1961 (age 58 years), Waterford, MI","Stanford Graduate School of Business (1988–1990), Kettering University, Mott High School",Mary T. Barra,2015.0,21,United States
22,1959.0,"October 9, 1959 (age 60 years), Hildesheim, Germany",University of Göttingen,Johannes Teyssen,2015.0,22,Germany
23,NaN,NaN,Texas A&M University,Greg Garland,2015.0,23,NaN
24,1956.0,"February 19, 1956 (age 64 years), Cincinnati, OH","Harvard Business School (1982), Dartmouth College (1978), Harvard University, Finneytown Secondary Campus",Jeff Immelt,2015.0,24,United States
25,1955.0,"1955 (age 65 years), Milan, Italy",University of Milan,Claudio Descalzi,2015.0,25,Italy
26,1963.0,"December 10, 1963 (age 56 years), Paraguaçu Paulista, State of São Paulo, Brazil","PUC-Rio, Fundacao Instituto de Pesquisas Contabeis, Atuariais e Financeiras",Aldemir Bendine,2015.0,28,Brazil
27,1956.0,"1956 (age 64 years), Pittsburgh, PA",University of Pittsburgh School of Pharmacy (1978),Larry J. Merlo,2015.0,30,United States
28,1950.0,"October 18, 1950 (age 69 years), Banqiao District, Taipei, Taiwan","Taipei College of Maritime Technology (1966–1971), New Taipei Municipal Panchiao Senior High School",Terry Gou,2015.0,31,Taiwan
29,1965.0,"March 1, 1965 (age 55 years), Bergisch Gladbach, Germany","University of Cologne (1988–1993), NYU Stern School of Business (1988–1993)",Oliver Bäte,2015.0,32,Germany
30,1960.0,"April 22, 1960 (age 60 years), Oklahoma City, OK","The University of Oklahoma, University of Central Oklahoma",Randall L. Stephenson,2015.0,33,United States
31,1957.0,May 1957 (age 63 years),"University of Missouri-St. Louis, Our Lady of the Lake School of Business",Joseph W. Gorder,2015.0,34,NaN
32,1952.0,"1952 (age 68 years), United States","Fordham University, Gabelli School of Business",Stephen J. Hemsley,2015.0,35,United States
33,1961.0,"November 1961 (age 58 years), Guanyun County, Lianyungang, China",Tsinghua University,Liu Shiyu,2015.0,36,China
34,1935.0,"December 19, 1935, Tsuru, Yamanashi, Japan","Keio University, Musashi High School & Junior High School",Taizo Nishimuro,2015.0,38,Japan
35,1964.0,"1964 (age 56 years), Melbourne, Australia",University of Melbourne,Jeremy Weir,2015.0,40,Australia
36,1954.0,"May 28, 1954 (age 65 years), Buffalo, NY","University of San Diego School of Business Administration, MORE",Lowell C. McAdam,2015.0,41,United States
37,1961.0,"July 14, 1961 (age 58 years), Clichy, France","École Polytechnique, Lycée Louis-le-Grand",Jean-Laurent Bonnafé,2015.0,42,France
38,1959.0,"May 19, 1959 (age 60 years), Japan",Tokyo City University,Takahiro Hachigo,2015.0,44,Japan
39,1961.0,"1961 (age 59 years), South Africa","University of the Witwatersrand, Johannesburg",Steven H. Collis,2015.0,46,Africa
40,1974.0,"December 9, 1974 (age 45 years), Mexico City, Mexico","Harvard University, National Autonomous University of Mexico, Instituto Tecnológico Autónomo de México",Emilio Lozoya Austin,2015.0,47,Mexican
41,1959.0,"June 16, 1959 (age 60 years), Naples, Italy",Sapienza University of Rome,Mario Greco,2015.0,48,Italy
42,1963.0,"July 3, 1963 (age 56 years), Paris, France","Sciences Po, École Nationale d'Administration, École Polytechnique""",Frédéric Oudéa,2015.0,49,France
43,1959.0,"March 7, 1959 (age 61 years), West Reading, PA","Cornell University, NYU School of Law",Timothy J. Mayopoulos,2015.0,50,United States
44,1952.0,"August 8, 1952 (age 67 years), California",San Diego State University (1975),W. Craig Jelinek,2015.0,52,United States
45,1967.0,"August 20, 1967 (age 52 years), Australia",Monash University,Dion Weisler,2015.0,53,Australia
46,1960.0,"July 25, 1960 (age 59 years), Pineville, KY",University of Kentucky,Rodney McMullen,2015.0,54,United States
47,1959.0,"1959 (age 61 years), China",Beijing University of Posts and Telecommunications,Li Yue,2015.0,55,China
48,1965.0,"October 13, 1965 (age 54 years), Freiburg im Breisgau, Germany","RWTH Aachen University (1991), MORE",Harald Krüger,2015.0,56,Germany
49,1959.0,"August 31, 1959 (age 60 years), Nîmes, France",ENSAE Paris,Philippe Brassac,2015.0,58,France
50,1954.0,"March 9, 1954 (age 66 years), Guajará-Mirim, State of Rondônia, Brazil","Mines ParisTech (1978), École Polytechnique (1974), MORE",Carlos Ghosn,2015.0,59,"Brazilian, Lebanese, French"
51,1956.0,"March 13, 1956 (age 64 years), New York, NY","Harvard Business School (1982), Tufts University, Browning School",Jamie Dimon,2015.0,61,United States
52,1869.0,"May 1, 1869, Centre County, PA",NaN,David John Lewis,2015.0,62,United States
53,1957.0,"June 23, 1957 (age 62 years), Arnbruck, Germany",Ostbayerische Technische Hochschule (OTH) Regensburg,Joe Kaeser,2015.0,63,Germany
54,1949.0,"March 25, 1949 (age 71 years), Bollène, France","Cornell University, EHL - Ecole hôtelière de Lausanne",Georges Plassat,2015.0,64,France
55,1949.0,"January 13, 1949 (age 71 years), Nanao, Ishikawa, Japan",The University of Tokyo,Hiroo Unoura,2015.0,65,Japan
56,NaN,NaN,"Cornell University, Monroe Community College",Tim Wentworth,2015.0,66,NaN
57,1960.0,"January 6, 1960 (age 60 years), León, Spain",NaN,José Antonio Alvarez,2015.0,67,Spain
58,1961.0,"1961 (age 59 years), Malaysia",Malay College Kuala Kangsar,Wan Zulkiflee,2015.0,68,Malaysia
59,1955.0,"1955 (age 65 years), Rome, Italy",Politecnico di Milano,Francesco Starace,2015.0,69,Italy
60,1954.0,"September 8, 1954 (age 65 years), Roeselare, Belgium","IMD Business School, Vlerick Business School - Ghent, Katholieke Universiteit Leuven",Paul Bulcke,2015.0,70,Belgium
61,NaN,NaN,NaN,Guiqing Yao,2015.0,71,NaN
62,1949.0,"April 1, 1949 (age 71 years), Paris, France","École Nationale d'Administration, Sciences Po Toulouse, École Polytechnique"", 'Siblings: Michael Mestrallet, Patrick Mestrallet",Gérard Mestrallet,2015.0,73,France
63,1960.0,"April 9, 1960 (age 60 years), Canada",San Diego State University,Michael A. Wells,2015.0,74,Canada
64,1956.0,"February 8, 1956 (age 64 years), Vartdal, Norway",NHH Norwegian School of Economics,Eldar Sætre,2015.0,75,Norway
65,NaN,NaN,NaN,Yusuf Alireza,2015.0,77,NaN
66,1955.0,"March 18, 1955 (age 65 years), Suresnes, France","École Polytechnique, Télécom Paris",Jean-Bernard Lévy,2015.0,78,France
67,1959.0,"October 9, 1959 (age 60 years), Marietta, OH","Notre Dame Law School (1984), Brown University (1981), University of Notre Dame",Brian Moynihan,2015.0,80,United States
68,1959.0,"March 9, 1959 (age 61 years), United Kingdom","University of Oxford, Worcester College",Stuart Gulliver,2015.0,81,United Kingdom
69,1957.0,"July 29, 1957 (age 62 years), Chicago, IL",Robert R. McCormick School of Engineering and Applied Science at Northwestern,Ginni Rometty,2015.0,82,United States
70,NaN,"Tiffin, OH","University of Dayton (1982), Tiffin University (1976)",Gary R. Heminger,2015.0,83,United States
71,1957.0,1957 (age 63 years),"NYU Stern School of Business (1988), Brown University (1977), Staples High School, New York University",George S. Barrett,2015.0,84,NaN
72,1964.0,"1964 (age 56 years), Orange City, IA","Sioux Center Community School District (1982), University of Washington, Iowa State University",Dennis Muilenburg,2015.0,85,United States
73,1960.0,"May 2, 1960 (age 60 years), Bristol, CT",Harvard University (1983),Michael Corbat,2015.0,86,United States
74,1964.0,"January 12, 1964 (age 56 years), Albuquerque, NM","Princeton University (1986), River Oaks Elementary School, Miami Palmetto Senior High School",Jeff Bezos,2015.0,88,United States
75,1946.0,"March 14, 1946 (age 74 years), Yokohama, Kanagawa, Japan","Stanford University, The University of Tokyo",Hiroaki Nakanishi,2015.0,89,Japan
76,1953.0,"September 15, 1953 (age 66 years), Pierz, MN","University of Minnesota, St. Cloud State University",John G. Stumpf,2015.0,90,United States
77,1966.0,"1966 (age 54 years), Simpelveld, Netherlands",Tilburg University,Ralph Hamers,2015.0,91,Netherlands
78,1956.0,"July 8, 1956 (age 63 years), Bangkok, Thailand",Faculty of Education Chulalongkorn University,Pailin Chuchottaworn,2015.0,93,Thailand
79,1967.0,"August 19, 1967 (age 52 years), Hyderabad, India","University of Wisconsin-Milwaukee (1990), MORE', ""Books: Hit Refresh: The Quest to Rediscover Microsoft's Soul and Imagine a Better Future for Everyone"", 'Children: Zain Nadella, Tara Nadella, Divya Nadella",Satya Nadella,2015.0,95,India
80,1955.0,"December 1955 (age 64 years), China",Zhongnan University of Economics and Law,Ma Mingzhe,2015.0,96,China
81,NaN,NaN,NaN,Olaf Koch,2015.0,97,NaN
82,1938.0,"March 19, 1938 (age 82 years), Tongchŏn, North Korea",NaN,Chung Mong-koo,2015.0,99,South Korea
83,1958.0,"April 20, 1958 (age 62 years), Charlotte, NC","Duke University (1980), West Charlotte High School",David S. Taylor,2015.0,100,United States
84,1958.0,"1958 (age 62 years), Flint, MI","Eli Broad College of Business, Central High School, Michigan State University",Craig Menear,2015.0,101,United States
85,1962.0,"September 18, 1962 (age 57 years), Solingen, Germany",University of Cologne,Timotheus Höttges,2015.0,102,Germany
86,1962.0,"1962 (age 58 years), Argentina",Instituto Tecnológico de Buenos Aires,Juan Ricardo Luciano,2015.0,104,Argentina
87,1950.0,"June 15, 1950 (age 69 years), Sadulpur, India",NaN,Lakshmi Mittal,2015.0,108,India
88,1957.0,"August 11, 1957 (age 62 years), Tosu, Saga, Japan","University of California, Berkeley (1980), MORE",Masayoshi Son,2015.0,110,Japan
89,1961.0,"July 29, 1961 (age 58 years), Hamburg, Germany","ETH Zürich (2001), Ludwig Maximilian University of Munich",Frank Appel,2015.0,111,Germany
90,1954.0,"October 13, 1954 (age 65 years), São Paulo, State of São Paulo, Brazil","Stanford University (1979), Polytechnic School of the University of São Paulo (1977)",Roberto Setubal,2015.0,112,Brazil
91,1988.0,"January 19, 1988 (age 32 years), Gansu, China",NaN,Zhao Jianguo,2015.0,113,China
92,1941.0,"June 4, 1941 (age 78 years), Pescara, Italy","University of Milan, Politecnico di Milano",Stefano Pessina,2015.0,114,Italy
93,1960.0,"December 22, 1960 (age 59 years), Tokyo, Japan","Valley Park Middle School, International Christian University",Kaz Hirai,2015.0,116,Japan
94,1958.0,"1958 (age 62 years), Queens, New York, NY","UCLA Anderson School of Management, University of California, Los Angeles",Brian Cornell,2015.0,117,United States
95,1960.0,"May 24, 1960 (age 59 years), Kansas City, KS","Wharton School of the University of Pennsylvania, United States Military Academy",Alex Gorsky,2015.0,118,United States
96,1951.0,"May 17, 1951 (age 68 years), Richmond, VA","Benedictine College Preparatory, UNC Charlotte",Joseph R. Swedish,2015.0,120,United States
97,NaN,"West Hartford, CT","Georgetown University Law Center, MORE",Steven A. Kandarian,2015.0,121,United States
98,1954.0,"March 22, 1954, Binningen, Switzerland",NaN,Martin Senn,2015.0,122,Switzerland
99,1973.0,"March 26, 1973 (age 47 years), East Lansing, MI","East Lansing High School (1987–1991), MORE",Larry Page,2015.0,124,United States
100,1959.0,"June 20, 1959 (age 60 years), Illinois","Illinois Wesleyan University (1981), University of Illinois at Urbana-Champaign",Michael L. Tipsord,2015.0,127,Illinois
101,1958.0,"August 14, 1958 (age 61 years), Lisbon, Portugal",École Centrale Paris (1981),Carlos Tavares,2015.0,128,Portugal
102,1955.0,"November 10, 1955 (age 64 years), Surabaya, Indonesia","Sepuluh Nopember Institute of Technology (ITS), University of Indonesia, Andalas University",Dwi Soetjipto,2015.0,130,Indonesia
103,1956.0,"November 14, 1956 (age 63 years), Osaka, Osaka, Japan","University of California, Santa Barbara (1986), Osaka University (1979)",Kazuhiro Tsuga,2015.0,131,Japan
104,NaN,NaN,NaN,Honzokaku Natural Remedies Center,2015.0,132,NaN
105,1950.0,1950 (age 70 years),Massachusetts Institute of Technology,Donald H. Layton,2015.0,133,NaN
106,1963.0,"November 6, 1963 (age 56 years), Le Creusot, France","HEC Paris, École Nationale d'Administration, Sciences Po""",François Pérol,2015.0,134,France
107,1959.0,"June 28, 1959 (age 60 years), Philadelphia, PA","Wharton School of the University of Pennsylvania, University of Pennsylvania, Germantown Academy",Brian L. Roberts,2015.0,135,United States
108,1961.0,"October 3, 1961 (age 58 years), Brescia, Italy","Harvard Business School, Bocconi University, Harvard University",Vittorio Colao,2015.0,136,Italy
109,1961.0,"1961 (age 59 years), Pottsville, PA","MIT Sloan School of Management, Immaculata University",Megan Brennan,2015.0,137,United States
110,1956.0,"December 20, 1956 (age 63 years), Scotland, United Kingdom","University of Bristol, University of St Andrews",Andrew Stewart Mackenzie,2015.0,139,United Kingdom
111,1945.0,"May 5, 1945 (age 75 years), Zaragoza, Spain","Columbia University (1970), University of Zaragoza (1967), Columbia Business School",César Alierta,2015.0,140,Spain
112,1955.0,"October 28, 1955 (age 64 years), Chennai, India","Yale School of Management (1978–1980), MORE",Indra Nooyi,2015.0,141,India
113,1964.0,"January 28, 1964 (age 56 years), Lisbon, Portugal","INSEAD Europe Campus, Catholic University of Portugal",António Horta-Osório,2015.0,145,Portugal
114,1951.0,"June 17, 1951 (age 68 years), Yokkaichi, Mie, Japan",Babson College,Motoya Okada,2015.0,147,Japan
115,NaN,United States,"Cornell University, Krannert School of Management, Purdue University",Gregory J. Hayes,2015.0,149,United States
116,1956.0,"November 30, 1956 (age 63 years), Uhingen, Germany","University of Stuttgart (1985), University of Stuttgart (1981)",Volkmar Denner,2015.0,150,Germany
117,NaN,"London, United Kingdom",University of Oxford,Peter Hancock,2015.0,152,United Kingdom
118,1956.0,"July 11, 1956 (age 63 years), Enschede, Netherlands","University of Cincinnati, University of Groningen",Paul Polman,2015.0,153,Netherlands
119,NaN,NaN,NaN,Peter Terium,2015.0,154,NaN
120,1966.0,"1966 (age 54 years), Mexico City, Mexico",NaN,Daniel Hajj Aboumrad,2015.0,155,Mexico
121,1950.0,"July 6, 1950 (age 69 years)","University of Pittsburgh (1981–1985), MORE",Oh-Joon Kwon,2015.0,162,NaN
122,NaN,NaN,NaN,Alexander Wynaendts,2015.0,163,NaN
123,1948.0,"September 1, 1948 (age 71 years), Harsefeld, Germany",University of Hamburg,Jürgen Fitschen,2015.0,164,Germany
124,1960.0,"June 11, 1960 (age 59 years)",HEC Paris,Frédéric Lavenir,2015.0,166,NaN
125,1956.0,"1956 (age 64 years), Greenwood, MS","Delta State University, Pillow Academy",David P. Abney,2015.0,168,United States
126,1954.0,"May 5, 1954 (age 66 years), Darwin, Australia","The University of Queensland (1975), Darwin High School, Brisbane State High School",Andrew N. Liveris,2015.0,169,"American, Australian"
127,1956.0,"1956 (age 64 years), Detroit, MI","Wayne State University, Cornell University",Mark Bertolini,2015.0,170,United States
128,1960.0,"1960 (age 60 years), Tambellup, Australia",NaN,Richard Goyder,2015.0,171,Australia
129,NaN,"Aarhus, Denmark",Connecticut College,Soren Schroder,2015.0,172,Denmark
130,1951.0,"December 24, 1951 (age 68 years)","The University of Chicago (1982), Seoul National University (1978), Kyungbock High School (1970)",Bon-Joon Koo,2015.0,175,NaN
131,1963.0,"1963 (age 57 years), Florida",UNC Charlotte (1984),Robert Niblock,2015.0,176,Florida
132,1964.0,"February 8, 1964 (age 56 years), Panfilovo, Kazakhstan","Saint Petersburg State University (1990–1993), MORE",Herman Gref,2015.0,177,Russia
133,1957.0,"September 22, 1957 (age 62 years), Tilburg, Netherlands","Radboud University Nijmegen, Eindhoven University of Technology",Marijn Dekkers,2015.0,178,Netherlands
134,1960.0,"May 25, 1960 (age 59 years), Bopfingen, Germany",Technische Universität München,Heinrich Hiesinger,2015.0,179,Germany
135,NaN,"Butte, MT","Montana Tech (1984), Great Falls High School",Ryan Lance,2015.0,180,United States
136,1960.0,"May 9, 1960 (age 59 years), Santa Clara County, CA",San José State University (1982),Brian Krzanich,2015.0,182,United States
137,1932.0,"December 1, 1932 (age 87 years), Sakaki, Nagano, Japan",Chuo University,Toshifumi Suzuki,2015.0,184,Japan
138,1951.0,"October 6, 1951 (age 68 years), Marília, State of São Paulo, Brazil","Universidade Estadual Paulista em Marília, Fundação Escola de Sociologia e Política de São Paulo",Luiz Carlos Trabuco Cappi,2015.0,185,Brazil
139,1956.0,"October 1956 (age 63 years), China","Tsinghua University High School, Beijing International Studies University",Chang Zhenming,2015.0,186,China
140,1953.0,"February 25, 1953 (age 67 years), Peoria, IL",Millikin University,Douglas R. Oberhelman,2015.0,187,United States
141,1963.0,"September 6, 1963 (age 56 years), Zumarraga, Spain",Campus De Bizkaia - Campus of Biscay,Josu Jon Imaz,2015.0,188,Spain
142,1967.0,"November 17, 1967 (age 52 years), Austria","University of York, University of Innsbruck",Severin Schwan,2015.0,189,Austria
143,1954.0,"March 9, 1954 (age 66 years), Guajará-Mirim, State of Rondônia, Brazil","Mines ParisTech (1978), École Polytechnique (1974), MORE",Carlos Ghosn,2015.0,191,"Brazilian, Lebanese, French"

In [31]:
df_nv2=df_nv2[["ceo", "company_rank", "Born", "Nationality", "Education", "BoY", "ceo_year"]]

In [32]:
df_nv2.to_csv(r'D:\Yeshiva_Univ\Courses\Capstone_project\CEOs_Culture_project\Data\ceo_information\ceo_bio\CEOs_info_2015_v1(May_5_2020).csv')