## Web Scraping Forbes Global 500 (2015) Data

In [1]:
import awscli
import sys
import selenium
import unittest
import boto3
import pandas as pd
import tabulate
import time
import requests
import csv
import dataframe
from bs4 import BeautifulSoup
from tabulate import tabulate
from selenium import webdriver

In [2]:
browser = webdriver.Chrome(r"C:\Users\...\chromedriver.exe")
browser.get('https://fortune.com/global500/2015/search/')

In [4]:
#Find EIN filed
inputElement = browser.find_element_by_xpath("//*[@id='content']/div/div[2]/div/div[2]/div/div[2]/span[2]/select")
inputElement.send_keys('100 Rows')

In [5]:
#identify the table to scrape
table = browser.find_element_by_css_selector('div.rt-tbody')

In [6]:
datetime = time.strftime("%Y%m%d-%H%M%S")
filedirectory = 'C:/Users/Jeeho/Documents/Python Scripts/Capstone project/Web_Scrap/'
filename = 'fg500_2015_'
datetime = time.strftime("%Y%m%d%H%M%S")
file = "%s%s%s.csv"%(filedirectory,filename,datetime)

In [7]:
#create empty dataframe Test 2 : Included For Loop for next pages 
data =[]

#Use For Loop for Index

index = 1
while True:
    if index > 5:
        break
    try:
        print("Scraping Page number " + str(index))
        index = index + 1
        for row in table.find_elements_by_css_selector('div.rt-tr'):
            cols = data.append([cell.text for cell in row.find_elements_by_css_selector('div.rt-td.searchResults__cell--2Y7Ce')])

        time.sleep(4)
        next_button = browser.find_element_by_css_selector('div.-next')
        next_button.click()
    except Exception as e:
        print(e)
        break


data1 = pd.DataFrame(data, columns = ['rank','company','revenue % change', 'profits($M)','profits % change','assets($M)','employees'])

data1['year']=2015

print(data1)

browser.quit()

Scraping Page number 1
Scraping Page number 2
Scraping Page number 3
Scraping Page number 4
Scraping Page number 5
    rank                             company revenue % change profits($M)  \
0      1                             Walmart             2.0%      16,363
1      2                       Sinopec Group            -2.3%       5,177
2      3                   Royal Dutch Shell            -6.1%      14,874
3      4            China National Petroleum            -0.8%    16,359.5
4      5                         Exxon Mobil            -6.1%      32,520
5      6                                  BP            -9.5%       3,780
6      7                          State Grid             1.8%     9,796.2
7      8                          Volkswagen             2.7%    14,571.9
8      9                        Toyota Motor            -3.4%    19,766.9
9     10                            Glencore            -5.0%       2,308
10    11                               Total            -7.0%       4,244
11    12                             Chevron            -7.5%      19,241
12    13                 Samsung Electronics            -6.3%    21,922.7
13    14                  Berkshire Hathaway             6.9%      19,872
14    15                               Apple             7.0%      39,510
15    16                            McKesson            31.3%       1,476
16                                   Daimler            10.0%     9,235.3
17    18  Industrial & Commer. Bank of China             9.7%    44,763.9
18    19                          EXOR Group             7.4%       428.5
19    20                                 AXA            -2.8%     6,664.5
20    21                      General Motors             0.3%       3,949
21    22                                E.ON            -6.8%    -4,191.8
22    23                         Phillips 66            -7.3%       4,762
23    24                    General Electric             1.4%      15,233
24    25                                 ENI            -4.5%     1,712.6
25    26                             Gazprom           -12.5%     4,124.4
26    27                          Ford Motor            -1.9%       3,187
27    28                           Petrobras             1.6%      -7,367
28    29             China Construction Bank            11.6%    36,976.6
29    30                          CVS Health             9.9%       4,644
..   ...                                 ...              ...         ...
470  471               Cathay Life Insurance            12.9%     1,048.7
471  472                Taiwan Semiconductor            25.1%     8,392.2
472  473                          LG Display             1.7%       858.8
473  474            Greenergy Fuels Holdings             9.6%        17.4
474  475                                 CRH             4.8%         772
475  476                  East Japan Railway            -7.1%     1,640.7
476  477        Zhejiang Geely Holding Group            -3.0%       275.5
477  478                     Gilead Sciences           122.2%      12,101
478  479                  Standard Chartered            -3.5%       2,613
479  480           Perusahaan Listrik Negara            -1.4%         989
480  481                             Telstra            -7.5%     3,923.5
481  482                              Alstom            -9.6%      -906.1
482  483                        Baker Hughes             9.8%       1,719
483  484                    Emerson Electric            -0.5%       2,147
484  485                              Sodexo             1.9%       666.7
485  486                       National Grid             4.0%     3,248.6
486  487                                 EMC             5.2%       2,714
487  488                  ZF Friedrichshafen             9.3%       859.6
488  489        Landesbank Baden-WÃ¼rttemberg           -23.7%       575.7
489  490                                Onex           -18.3%        -115
490  491                          Vattenfall            -8.3%    -1,191.7
491  492         United Services Auto. Assn.            14.6%     3,409.6
492  493                       Union Pacific             9.2%       5,180
493  494                    Northrop Grumman            -2.8%       2,069
494  495                               Alcoa             3.8%         268
495  496               Capital One Financial            -1.2%       4,428
496  497                          AntarChile            -2.1%       509.2
497  498                Rolls-Royce Holdings            -1.9%       113.6
498  499                           Cosmo Oil           -23.1%        -707
499  500                  Wuhan Iron & Steel           -35.8%        54.5

    profits % change   assets($M)  employees  year
0               2.1%      203,706  2,200,000  2015
1             -42.0%    359,182.2    897,488  2015
2              -9.1%      353,116     94,000  2015
3             -11.6%    634,811.5  1,636,532  2015
4              -0.2%      349,493     83,700  2015
5             -83.9%      284,305     84,500  2015
6              22.7%    466,298.1    921,964  2015
7              20.7%    424,935.3    592,586  2015
8               8.6%    398,047.1    344,109  2015
9                  -      152,205    106,831  2015
10            -62.1%      229,798    100,307  2015
11            -10.2%      266,026     64,700  2015
12            -19.5%      209,666    307,000  2015
13              2.0%      526,186    316,000  2015
14              6.7%      231,839     97,200  2015
15             16.9%       53,870     70,400  2015
16              1.7%    229,443.4    279,972  2015
17              4.8%  3,322,042.7    462,282  2015
18            -84.5%    182,104.1    318,562  2015
19             12.0%  1,016,417.4     96,279  2015
20            -26.1%      177,677    216,000  2015
21           -247.4%      152,075     58,503  2015
22             27.8%       48,741     14,000  2015
23             16.7%      648,349    305,000  2015
24            -75.0%      176,899     84,405  2015
25            -88.5%    253,591.8    459,600  2015
26            -55.5%      208,527    187,000  2015
27           -166.4%      298,687     80,908  2015
28              5.9%  2,698,924.9    372,321  2015
29              1.1%       74,252    177,800  2015
..               ...          ...        ...   ...
470           101.4%    148,900.7     31,239  2015
471            35.4%     47,305.5     43,591  2015
472           120.6%     20,898.1     49,421  2015
473            -7.3%      2,742.8        518  2015
474                -     26,638.8     75,706  2015
475           -17.8%     63,428.3     86,986  2015
476           133.2%     20,975.7     42,968  2015
477           293.6%       34,664      7,000  2015
478           -36.1%      725,914     90,940  2015
479                -     48,760.8     48,068  2015
480             0.3%     37,142.6     31,931  2015
481          -221.6%     35,688.4     90,365  2015
482            56.8%       28,827     62,000  2015
483             7.1%       24,177    115,100  2015
484            16.1%     19,070.1    419,317  2015
485           -17.4%     81,770.8     24,274  2015
486            -6.1%       45,885     70,000  2015
487            48.2%     16,198.4     71,402  2015
488            26.4%    322,117.4     11,117  2015
489                -       28,936    192,000  2015
490                -     63,449.2     30,181  2015
491            25.1%    130,253.2     27,635  2015
492            18.0%       52,716     47,201  2015
493             6.0%       26,572     64,300  2015
494                -       37,399     59,000  2015
495             6.5%      308,854     46,000  2015
496            11.0%     22,523.7     24,031  2015
497           -94.7%     34,649.2     54,100  2015
498         -1728.9%     11,914.2      6,359  2015
499           347.2%       34,447    103,594  2015

[500 rows x 8 columns]

In [9]:
data1.to_csv(file, header=True, line_terminator='\n')

In [ ]:
from botocore.client import Config
from io import StringIO

ACCESS_KEY_ID = 'your_access_key_id'
ACCESS_SECRET_KEY = 'your_access_secret_key'
BUCKET_NAME = 'ceo-culture-sagemaker'

csv_buffer =StringIO()
data1.to_csv(csv_buffer)

s3 = boto3.resource(
        's3',
        aws_access_key_id = ACCESS_KEY_ID,
        aws_secret_access_key=ACCESS_SECRET_KEY,
        config=Config(signature_version='s3v4')
        )
s3.Bucket(BUCKET_NAME).put_object(Key='fg500_2015_20200505022239.csv', Body = csv_buffer.getvalue())

print("Uploaded")