In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load company data
company_c = pd.read_csv(r'D:\Yeshiva_Univ\Courses\Capstone_project\CEOs_Culture_project\Data\fortune_global_500\fg500_20200219001549.csv')

In [3]:
com_c = pd.DataFrame(company_c['country/territory'].unique())

In [4]:
#Load ceo data
ceo_c = pd.read_csv(r'D:\Yeshiva_Univ\Courses\Capstone_project\CEOs_Culture_project\Data\ceo_information\ceo_bio\CEOs_info_v6.1(Apr_10_2020).csv')

In [5]:
ceo_c = pd.DataFrame(ceo_c['Nationality'].unique())

In [6]:
# load Globe Project data
gsc_c = pd.read_csv(r'D:\Yeshiva_Univ\Courses\Capstone_project\CEOs_Culture_project\Data\cultural_values\globe_societal_culture\GLOBE_Phase_2_Aggregated_Societal_Culture.csv')

In [7]:
gsc_c = pd.DataFrame(gsc_c['Country Name'].unique())

In [8]:
#Load Hofstede data
hof_c = pd.read_csv(r'D:\Yeshiva_Univ\Courses\Capstone_project\CEOs_Culture_project\Data\cultural_values\hofstede\Hofstede_6D_v2(Mar_16_2020).csv')

In [9]:
hof_c = pd.DataFrame(hof_c['country'].unique())

In [10]:
# Append data
com_ceo = com_c.append(ceo_c, ignore_index = True)

In [11]:
com_ceo_gsc = com_ceo.append(gsc_c, ignore_index = True)

In [12]:
com_ceo_gsc_hof = com_ceo_gsc.append(hof_c, ignore_index = True)

In [13]:
# Rename the column from 0 to country
country_v1 = com_ceo_gsc_hof.rename(columns = {0:'country'})

In [14]:
# Get the unique values
country_v1 = pd.DataFrame(country_v1.country.unique())

In [15]:
# Rename the column from 0 to country
country_v1 = country_v1.rename(columns = {0:'country'})

In [16]:
# order the rows alphabetically
country_v1 = country_v1.sort_values('country', ascending= True)

In [21]:
#pd.set_option('display.max_rows', None)

In [17]:
#Reset index
country_v1.reset_index(drop=True, inplace=True)

In [18]:
# change nationality values into country values

# Nationality list
nat = ['Afghan', 'Albanian', 'Algerian', 'American', 'Andorran', 'Angolan', 'Anguillan', 'Argentine', 'Armenian', 
       'Australian', 'Austrian', 'Azerbaijani', 'Bahamian', 'Bahraini', 'Bangladeshi', 'Barbadian', 'Belarusian',
       'Belgian', 'Belizean', 'Beninese', 'Bermudian', 'Bhutanese', 'Bolivian', 'Botswanan', 'Brazilian', 'British',
       'British Virgin Islander', 'Bruneian', 'Bulgarian', 'Burkinan', 'Burmese', 'Burundian', 'Cambodian', 'Cameroonian',
       'Canadian', 'Cape Verdean', 'Cayman Islander', 'Central African', 'Chadian', 'Chilean', 'Chinese', 
       'Citizen of Antigua and Barbuda', 'Citizen of Bosnia and Herzegovina', 'Citizen of Guinea-Bissau', 
       'Citizen of Kiribati', 'Citizen of Seychelles', 'Citizen of the Dominican Republic', 'Citizen of Vanuatu ', 
       'Colombian', 'Comoran','Congolese (Congo)', 'Congolese (DRC)', 'Cook Islander', 'Costa Rican', 'Croatian', 'Cuban',
       'Cymraes', 'Cymro', 'Cypriot', 'Czech', 'Danish', 'Djiboutian', 'Dominican', 'Dutch', 'East Timorese', 'Ecuadorean',
       'Egyptian', 'Emirati', 'English', 'Equatorial Guinean', 'Eritrean', 'Estonian', 'Ethiopian', 'Faroese', 'Fijian',
       'Filipino', 'Finnish', 'French', 'Gabonese', 'Gambian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek',
       'Greenlandic', 'Grenadian', 'Guamanian', 'Guatemalan', 'Guinean', 'Guyanese', 'Haitian', 'Honduran', 'Hong Konger',
       'Hungarian', 'Icelandic', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Israeli', 'Italian', 'Ivorian', 
       'Jamaican', 'Japanese', 'Jordanian', 'Kazakh', 'Kenyan', 'Kittitian', 'Kosovan', 'Kuwaiti', 'Kyrgyz', 'Lao', 'Latvian',
       'Lebanese', 'Liberian', 'Libyan', 'Liechtenstein citizen', 'Lithuanian', 'Luxembourger', 'Macanese', 'Macedonian',
       'Malagasy', 'Malawian', 'Malaysian', 'Maldivian', 'Malian', 'Maltese', 'Marshallese', 'Martiniquais', 'Mauritanian',
       'Mauritian', 'Mexican', 'Micronesian', 'Moldovan', 'Monegasque', 'Mongolian', 'Montenegrin', 'Montserratian',
       'Moroccan', 'Mosotho', 'Mozambican', 'Namibian', 'Nauruan', 'Nepalese', 'New Zealander', 'Nicaraguan', 'Nigerian',
       'Nigerien', 'Niuean', 'North Korean', 'Northern Irish', 'Norwegian', 'Omani', 'Pakistani', 'Palauan', 'Palestinian',
       'Panamanian', 'Papua New Guinean', 'Paraguayan', 'Peruvian', 'Pitcairn Islander', 'Polish', 'Portuguese', 'Prydeinig',
       'Puerto Rican', 'Qatari', 'Romanian', 'Russian', 'Rwandan', 'Salvadorean', 'Sammarinese', 'Samoan', 'Sao Tomean',
       'Saudi Arabian', 'Scottish', 'Senegalese', 'Serbian', 'Sierra Leonean', 'Singaporean', 'Slovak', 'Slovenian',
       'Solomon Islander', 'Somali', 'South African', 'South Korean', 'South Sudanese', 'Spanish', 'Sri Lankan',
       'St Helenian', 'St Lucian', 'Stateless', 'Sudanese', 'Surinamese', 'Swazi', 'Swedish', 'Swiss', 'Syrian', 'Taiwanese',
       'Tajik', 'Tanzanian', 'Thai', 'Togolese', 'Tongan', 'Trinidadian', 'Tristanian', 'Tunisian', 'Turkish', 'Turkmen',
       'Turks and Caicos Islander', 'Tuvaluan', 'Ugandan', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Vatican citizen', 'Venezuelan',
       'Vietnamese', 'Vincentian', 'Wallisian', 'Welsh', 'Yemeni', 'Zambian', 'Zimbabwean']

In [19]:
# create a value column "Nationality" showing Y if the value in country column is in the list of nationalities
country_v1.loc[country_v1['country'].isin(nat), 'Nationality'] = 'Y'

In [24]:
''' a list of Nationality values among the Country values and correction
American = United States
Argentine = Argentina
Austrian = Austria
Brazilian = Brazil
British = United Kingdom
Canadian = Canada
Canada (English-speaking) = Canada
Canada French = Canada
Chinese = China
Danish = Denmark
French = France
German = Germany
Germany (EAST) = Germany
Germany (WEST) = Germany
Germany East = Germany
Indian = India
Japanese = Japan
Portuguese = Portugal
Singaporean = Singapore
Swedish = Sweden
Swiss = Switzerland
U.S. = United States
USA = United States
'''

a = ['American', 'Argentine', 'Austrian', 'Brazilian', 'British', 'Canadian', 'Canada (English-speaking)', 'Canada French', 
     'Chinese', 'Danish', 'French', 'German', 'Germany (EAST)', 'Germany (WEST)', 'Germany East', 'Indian', 'Japanese', 
     'Portuguese', 'Singaporean', 'Swedish', 'Swiss', 'U.S.', 'USA']
b = ['United States', 'Argentina', 'Austria', 'Brazil', 'United Kingdom', 'Canada', 'Canada', 'Canada', 'China', 'Denmark', 
     'France', 'Germany', 'Germany', 'Germany', 'Germany', 'India', 'Japan', 'Portugal', 'Singapore', 'Sweden', 'Switzerland',
     'United States', 'United States']

In [25]:
# Create a dataframe of the identified nationalities and thier matching countries
nat_correct = pd.DataFrame(columns = ('nat','correct'))

# Insert the list of nationalites and country names
nat_correct['nat'] = a
nat_correct['correct'] = b

In [31]:
#Match the identified country names with nationalities in the country_v1 dataframe
country_v2 = nat_correct.set_index(['nat'])\
         .combine_first(country_v1.set_index(['country']))\
         .reset_index()
#Drop Nationality and correction columns
del country_v2['Nationality']
del country_v2['correction']

In [33]:
#
country_v2['country'] = np.where(country_v2['correct'].notnull(), country_v2['correct'], country_v2['index'])
country_v3 = pd.DataFrame(country_v2['country'].unique())

In [34]:
country_v3

                               0
0                  United States
1                      Argentina
2                        Austria
3                         Brazil
4                 United Kingdom
5                         Canada
6                          China
7                        Denmark
8                         France
9                        Germany
10                         India
11                         Japan
12                      Portugal
13                     Singapore
14                        Sweden
15                   Switzerland
16                        Africa
17                   Africa East
18                   Africa West
19                       Albania
20                       Algeria
21              American, Indian
22                       Andorra
23                Arab countries
24                       Armenia
25                     Australia
26                    Azerbaijan
27                    Bangladesh
28                       Belarus
29                       Belgium
..                           ...
102                       Russia
103              Russian, German
104                       Rwanda
105                        Saudi
106                 Saudi Arabia
107                       Serbia
108                   Slovak Rep
109                     Slovenia
110                 South Africa
111  South Africa (Black Sample)
112  South Africa (White Sample)
113                  South Korea
114                        Spain
115                     Suriname
116                       Taiwan
117                     Tanzania
118                     Thailand
119                        Thiam
120          Trinidad and Tobago
121                       Turkey
122                       Uganda
123                      Ukraine
124         United Arab Emirates
125                      Uruguay
126                    Venezuela
127                      Vietnam
128                       Zambia
129                      Zealand
130                     Zimbabwe
131                          NaN

[132 rows x 1 columns]