In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Load company data
company_c = pd.read_csv(r'D:\...\fg500_20200219001549.csv')

In [ ]:
com_c = pd.DataFrame(company_c['country/territory'].unique())

In [ ]:
#Load ceo data
ceo_c = pd.read_csv(r'D:\...\CEOs_info_v6.1(Apr_10_2020).csv')

In [ ]:
ceo_c = pd.DataFrame(ceo_c['Nationality'].unique())

In [ ]:
# load Globe Project data
gsc_c = pd.read_csv(r'D:\...\GLOBE_Phase_2_Aggregated_Societal_Culture.csv')

In [ ]:
gsc_c = pd.DataFrame(gsc_c['Country Name'].unique())

In [ ]:
#Load Hofstede data
hof_c = pd.read_csv(r'D:\...\Hofstede_6D_v2(Mar_16_2020).csv')

In [ ]:
hof_c = pd.DataFrame(hof_c['country'].unique())

In [ ]:
# Append data
com_ceo = com_c.append(ceo_c, ignore_index = True)

In [ ]:
com_ceo_gsc = com_ceo.append(gsc_c, ignore_index = True)

In [ ]:
com_ceo_gsc_hof = com_ceo_gsc.append(hof_c, ignore_index = True)

In [ ]:
# Rename the column from 0 to country
country_v1 = com_ceo_gsc_hof.rename(columns = {0:'country'})

In [ ]:
# Get the unique values
country_v1 = pd.DataFrame(country_v1.country.unique())

In [ ]:
# Rename the column from 0 to country
country_v1 = country_v1.rename(columns = {0:'country'})

In [ ]:
# order the rows alphabetically
country_v1 = country_v1.sort_values('country', ascending= True)

In [ ]:
#pd.set_option('display.max_rows', None)

In [ ]:
#Reset index
country_v1.reset_index(drop=True, inplace=True)

In [ ]:
# change nationality values into country values

# Nationality list
nat = ['Afghan', 'Albanian', 'Algerian', 'American', 'Andorran', 'Angolan', 'Anguillan', 'Argentine', 'Armenian', 
       'Australian', 'Austrian', 'Azerbaijani', 'Bahamian', 'Bahraini', 'Bangladeshi', 'Barbadian', 'Belarusian',
       'Belgian', 'Belizean', 'Beninese', 'Bermudian', 'Bhutanese', 'Bolivian', 'Botswanan', 'Brazilian', 'British',
       'British Virgin Islander', 'Bruneian', 'Bulgarian', 'Burkinan', 'Burmese', 'Burundian', 'Cambodian', 'Cameroonian',
       'Canadian', 'Cape Verdean', 'Cayman Islander', 'Central African', 'Chadian', 'Chilean', 'Chinese', 
       'Citizen of Antigua and Barbuda', 'Citizen of Bosnia and Herzegovina', 'Citizen of Guinea-Bissau', 
       'Citizen of Kiribati', 'Citizen of Seychelles', 'Citizen of the Dominican Republic', 'Citizen of Vanuatu ', 
       'Colombian', 'Comoran','Congolese (Congo)', 'Congolese (DRC)', 'Cook Islander', 'Costa Rican', 'Croatian', 'Cuban',
       'Cymraes', 'Cymro', 'Cypriot', 'Czech', 'Danish', 'Djiboutian', 'Dominican', 'Dutch', 'East Timorese', 'Ecuadorean',
       'Egyptian', 'Emirati', 'English', 'Equatorial Guinean', 'Eritrean', 'Estonian', 'Ethiopian', 'Faroese', 'Fijian',
       'Filipino', 'Finnish', 'French', 'Gabonese', 'Gambian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek',
       'Greenlandic', 'Grenadian', 'Guamanian', 'Guatemalan', 'Guinean', 'Guyanese', 'Haitian', 'Honduran', 'Hong Konger',
       'Hungarian', 'Icelandic', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Israeli', 'Italian', 'Ivorian', 
       'Jamaican', 'Japanese', 'Jordanian', 'Kazakh', 'Kenyan', 'Kittitian', 'Kosovan', 'Kuwaiti', 'Kyrgyz', 'Lao', 'Latvian',
       'Lebanese', 'Liberian', 'Libyan', 'Liechtenstein citizen', 'Lithuanian', 'Luxembourger', 'Macanese', 'Macedonian',
       'Malagasy', 'Malawian', 'Malaysian', 'Maldivian', 'Malian', 'Maltese', 'Marshallese', 'Martiniquais', 'Mauritanian',
       'Mauritian', 'Mexican', 'Micronesian', 'Moldovan', 'Monegasque', 'Mongolian', 'Montenegrin', 'Montserratian',
       'Moroccan', 'Mosotho', 'Mozambican', 'Namibian', 'Nauruan', 'Nepalese', 'New Zealander', 'Nicaraguan', 'Nigerian',
       'Nigerien', 'Niuean', 'North Korean', 'Northern Irish', 'Norwegian', 'Omani', 'Pakistani', 'Palauan', 'Palestinian',
       'Panamanian', 'Papua New Guinean', 'Paraguayan', 'Peruvian', 'Pitcairn Islander', 'Polish', 'Portuguese', 'Prydeinig',
       'Puerto Rican', 'Qatari', 'Romanian', 'Russian', 'Rwandan', 'Salvadorean', 'Sammarinese', 'Samoan', 'Sao Tomean',
       'Saudi Arabian', 'Scottish', 'Senegalese', 'Serbian', 'Sierra Leonean', 'Singaporean', 'Slovak', 'Slovenian',
       'Solomon Islander', 'Somali', 'South African', 'South Korean', 'South Sudanese', 'Spanish', 'Sri Lankan',
       'St Helenian', 'St Lucian', 'Stateless', 'Sudanese', 'Surinamese', 'Swazi', 'Swedish', 'Swiss', 'Syrian', 'Taiwanese',
       'Tajik', 'Tanzanian', 'Thai', 'Togolese', 'Tongan', 'Trinidadian', 'Tristanian', 'Tunisian', 'Turkish', 'Turkmen',
       'Turks and Caicos Islander', 'Tuvaluan', 'Ugandan', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Vatican citizen', 'Venezuelan',
       'Vietnamese', 'Vincentian', 'Wallisian', 'Welsh', 'Yemeni', 'Zambian', 'Zimbabwean']

In [ ]:
# create a value column "Nationality" showing Y if the value in country column is in the list of nationalities
country_v1.loc[country_v1['country'].isin(nat), 'Nationality'] = 'Y'

In [ ]:
''' a list of Nationality values among the Country values and correction
American = United States
Argentine = Argentina
Austrian = Austria
Brazilian = Brazil
British = United Kingdom
Canadian = Canada
Canada (English-speaking) = Canada
Canada French = Canada
Chinese = China
Danish = Denmark
French = France
German = Germany
Germany (EAST) = Germany
Germany (WEST) = Germany
Germany East = Germany
Indian = India
Japanese = Japan
Portuguese = Portugal
Singaporean = Singapore
Swedish = Sweden
Swiss = Switzerland
U.S. = United States
USA = United States
'''

a = ['American', 'Argentine', 'Austrian', 'Brazilian', 'British', 'Canadian', 'Canada (English-speaking)', 'Canada French', 
     'Chinese', 'Danish', 'French', 'German', 'Germany (EAST)', 'Germany (WEST)', 'Germany East', 'Indian', 'Japanese', 
     'Portuguese', 'Singaporean', 'Swedish', 'Swiss', 'U.S.', 'USA']
b = ['United States', 'Argentina', 'Austria', 'Brazil', 'United Kingdom', 'Canada', 'Canada', 'Canada', 'China', 'Denmark', 
     'France', 'Germany', 'Germany', 'Germany', 'Germany', 'India', 'Japan', 'Portugal', 'Singapore', 'Sweden', 'Switzerland',
     'United States', 'United States']

In [ ]:
# Create a dataframe of the identified nationalities and thier matching countries
nat_correct = pd.DataFrame(columns = ('nat','correct'))

# Insert the list of nationalites and country names
nat_correct['nat'] = a
nat_correct['correct'] = b

In [ ]:
#Match the identified country names with nationalities in the country_v1 dataframe
country_v2 = nat_correct.set_index(['nat'])\
         .combine_first(country_v1.set_index(['country']))\
         .reset_index()
#Drop Nationality and correction columns
del country_v2['Nationality']
del country_v2['correction']

In [ ]:
#
country_v2['country'] = np.where(country_v2['correct'].notnull(), country_v2['correct'], country_v2['index'])
country_v3 = pd.DataFrame(country_v2['country'].unique())

In [ ]:
country_v3