In [1]:
import re
import pandas as pd
import numpy as np
import dataframe
from bs4 import BeautifulSoup
import socket 
import time
import requests
from selenium import webdriver
from urllib.parse import quote_plus
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

import urllib.request
import urllib.parse

In [2]:
ceo_df = pd.read_csv(r'C:\Users\Jeeho\Documents\Python Scripts\Capstone project\Web_Scrap\fg500_CEOs_v4_all(Apr_10_2020).csv')

In [3]:
c_sample = ceo_df['CEO']

In [4]:
browser = webdriver.Chrome(r"C:\Users\Jeeho\AppData\Local\Programs\Python\Python36\chromedriver.exe")


ceo_list = c_sample
values =[]
df = pd.DataFrame(columns = ['ceo'])

for ceo in ceo_list:
    baseUrl = 'https://www.google.com/search?q='
    browser.get(baseUrl + ceo)
    table = browser.find_elements_by_css_selector('div.ifM9O') 

    for row in table:
        ceo = str(([c.text for c in row.find_elements_by_css_selector('div.kno-ecr-pt.PZPZlf.gsmt.i8lZMc')])).strip('[]').strip("''")
    for row in table:
        value = str(([c.text for c in row.find_elements_by_css_selector('div.Z1hOCe')])).strip('[]').strip("''")
    if not table:
        value = 'Null'
    
    values.append(value)
    
    s = pd.Series(ceo,index=df.columns)
    vs = pd.Series(values) 

    df = df.append(s,ignore_index=True)

    time.sleep(2) # To make the scraping slower
    
    
df['value'] = vs  
print(df)

browser.close()

                                  ceo  \
0                       Doug McMillon
1                        Dai Houliang
2                     Ben van Beurden
3
4
5                      Amin H. Nasser
6                          Bob Dudley
7                        Darren Woods
8                       Herbert Diess
9                         Akio Toyoda
10                           Tim Cook
11                     Warren Buffett
12                         Jeff Bezos
13
14
15                    Ivan Glasenberg
16                     Brian S. Tyler
17                      Ola Källenius
18                     Larry J. Merlo
19                   Patrick Pouyanné
20
21                        Jeremy Weir
22                          Terry Gou
23                        John Elkann
24              Randall L. Stephenson
25
26                   Steven H. Collis
27                         Mike Wirth
28                         Ma Mingzhe
29                        Jim Hackett
..                                ...
469                   Richard M. Tsai
470                   Miguel Patricio
471
472                  Revathi Advaithi
473                       Zhang Yalin
474
475                    Jörn H. Werner
476                  Florent Menrgaux
477               Philip W. Chronican
478                   Dirk Van de Put
479                    Kasper Rørsted
480                     Li Hongshuang
481                     Wiebe Draijer
482
483                       Xu Xianping
484                  Andrew J. Cecere
485                  Jeffrey Gennette
486      Miguel Eduardo Padilla Silva
487                     Todd J. Vasos
488                         H.C. Shin
489                Gerald W. Schwartz
490                     Bao Lang Chen
491               Philippe Petitcolin
492              Willem A.J. van Duin
493                   Rajesh J. Mehta
494                  Leon J. Topalian
495                      Darryl White
496
497  Frederico Pinheiro Fleury Curado
498                     Benoît Potier

                                                 value
0    Born: October 17, 1966 (age 53 years), Memphis...
1                                                 Null
2    Born: April 23, 1958 (age 61 years), Netherlan...
3
4
5    Born: 1960 (age 60 years)', 'Nationality: Saud...
6    Born: September 14, 1955 (age 64 years), Queen...
7    Born: Wichita, KS', 'Nationality: American', '...
8    Born: October 24, 1958 (age 61 years), Munich,...
9    Born: May 3, 1956 (age 63 years), Nagoya, Aich...
10   Born: November 1, 1960 (age 59 years), Mobile,...
11   Born: August 30, 1930 (age 89 years), Omaha, N...
12   Born: January 12, 1964 (age 56 years), Albuque...
13
14
15   Born: January 1957 (age 63 years), Johannesbur...
16                                                Null
17   Born: June 11, 1969 (age 50 years), Västervik,...
18   Born: 1956 (age 64 years), Pittsburgh, PA', 'N...
19   Born: June 24, 1963 (age 56 years), Le Petit-Q...
20
21   Born: 1964 (age 56 years), Melbourne, Australi...
22   Born: October 18, 1950 (age 69 years), Banqiao...
23   Born: April 1, 1976 (age 44 years), New York, ...
24   Born: April 22, 1960 (age 59 years), Oklahoma ...
25
26   Born: 1961 (age 59 years), South Africa', 'Edu...
27   Born: 1960 (age 60 years)', 'Education: Univer...
28   Born: December 1955 (age 64 years), China', 'E...
29   Born: April 22, 1955 (age 64 years), Columbus,...
..                                                 ...
469                                               Null
470  Nationality: Portuguese', 'Predecessor: Bernar...
471
472                                               Null
473  Born: April 19, 1981, Dalian, China', 'Died: F...
474
475                                               Null
476                                               Null
477                                               Null
478  Born: 1959 (age 61 years), Mechelen, Belgium',...
479  Born: February 24, 1962 (age 58 years), Aarhus...
480                                               Null
481  Born: August 27, 1965 (age 54 years), Enschede...
482
483  Born: October 1954 (age 65 years), Longhui Cou...
484                                               Null
485  "Movies: The 92nd Annual Macy's Thanksgiving D...
486                                               Null
487                                               Null
488                                               Null
489  Born: November 24, 1941 (age 78 years), Winnip...
490                                               Null
491  Born: September 28, 1952 (age 67 years), Banno...
492                                               Null
493                                               Null
494                                               Null
495                    Education: Ivey Business School
496
497                                               Null
498  Born: 1957 (age 63 years), Mulhouse, France', ...

[499 rows x 2 columns]

In [5]:
#Make a copy of the original scraped dataset
df1 = df

In [6]:
#reindex the data
re_index = pd.Series(range(1,500))  
df1 = df1.set_index([re_index])

Rename the unnamed column as index

In [8]:
#ceo list from 1-266
df_1 = df1.iloc[0:266]

#ceo list from 267 to 500
df_2 = df1.iloc[266:499]

#reindex the df_2
re_index2 = pd.Series(range(268,501))  
df_2 = df_2.set_index([re_index2])

#Merge the reindexed lists
df1=df_1.append(df_2, ignore_index=False)

In [10]:
# convert the index to a column and name as company_rank 
df1['index1'] = df1.index

df1 = df1.rename(columns={'index1': 'company_rank'})

In [12]:
#reindex the data as starting from 1 to 499
re_index = pd.Series(range(1,500))  
df1 = df1.set_index([re_index])

Clear rows. Select the rows having values only

In [20]:
#Select only the rows with values to proceed RegEx later
# exclude the rows with ceo value having ''
df_n = df1[df1['ceo'] != '']

#exlucde the rows if the value of 'value' column is null
df_nv = df_n[(df_n['value'] != 'Null')]

Splite the 'value' column using regex

Succeed to split the values. However, only some of the should be selected: Born, Nationality, and Education

In [22]:
# For Born
df_nv['Born'] = df_nv['value'].str.extract(r"Born: (.+?)\'\," )

# For Nationality 
df_nv['Nationality'] = df_nv['value'].str.extract(r"Nationality: (.+?)\'\," )


# For Education
## Select the strings end with "', '" and the strings end with nothing
Education = df_nv['value'].str.extract(r"Education: (.+?)\'\,\s\'|Education: (.+)?|Alma mater: (.+?)\'\,\s\'")

## merge the extracted two columes
df_nv['Education'] = pd.concat([Education[0].dropna(), Education[1].dropna(), Education[2].dropna()]).reindex_like(Education)

#See the full contents of the rows of value
pd.set_option('display.max_colwidth', -1)

C:\Users\Jeeho\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Jeeho\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Jeeho\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

Extract only Birth of Year only as BoY

In [23]:
df_nv['BoY'] = df_nv['Born'].str.extract(pat = "([0-9]{4})" )

C:\Users\Jeeho\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Extract Nationality strings from Born based on 1) the postal abbreviations of the US and 2) the country names

In [24]:
# Create a list of the abbr

us_postal_abbr = {'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 
                  'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
                  'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
                  'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
                  'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WY'}

reorder the index to run the for loop

In [25]:
df_nv_index = pd.Series(range(len(df_nv)))

In [26]:
df_nv = df_nv.set_index([df_nv_index])

In [27]:
# Create a column for the extracted us abbreviation code 
df_nv['us_abbr'] = df_nv['Born'].str.extract(pat = "([A-Z]{2})")

# Insert value 'American' in the 'Nationality' column if where the us_abbr matchs with the list of abbr
df_nv.loc[df_nv['us_abbr'].isin(us_postal_abbr), 'Nationality'] = 'American'

For nationalities

In [28]:
pd.set_option('display.max_rows', None)

Catch the missing countries among the values

In [29]:
#Extract the United States and United Kingdom and the other country names
bn = df_nv['Born'].str.extract(".*?([A-Za-z]{6}\s[A-Za-z]{6,7})$|.*?([A-Za-z]{5,11})$")

## merge the extracted two columes
df_nv['born_country'] = pd.concat([bn[0].dropna(), bn[1].dropna()]).reindex_like(bn)

#Replacing the NaN values of Nationality column with newly extracted values 
df_nv['Nationality'].fillna(df_nv['born_country'], inplace=True)

In [30]:
#drop value, us_abbr, and born_coutry columns
df_nv = df_nv.drop(['value', 'us_abbr', 'born_country'], axis = 1)

In [32]:
#reindex the data as starting from 1
re_index_nv = pd.Series(range(1,245))  
df_nv = df_nv.set_index([re_index_nv])

In [34]:
df_nv.to_csv(r'D:\Yeshiva_Univ\Courses\Capstone_project\CEOs_Culture_project\Data\ceo_information\CEOs_info_v6.1(Apr_10_2020).csv')