In [1]:
import re
import pandas as pd

In [2]:
df = pd.read_csv(r'D:\Yeshiva_Univ\Courses\Capstone_project\CEOs_Culture_project\Data\ceo_information\CEOs_by_google_v2(Mar_14_2020).csv')

Rename the unnamed column as index

In [3]:
df.rename(columns={'Unnamed: 0' :'index'}, inplace = True)

Clear rows. Select the rows having values only

In [4]:
#Select the rows with values only to proceed RegEx
df_n = df[df.ceo.notnull()]

df_nv = df_n[(df_n['value'] != 'Null')]

Splite the 'value' column using regex

Succeed to split the values. However, only some of the should be selected: Born, Nationality, and Education

In [5]:
# For Born
df_nv['Born'] = df_nv['value'].str.extract(r"Born: (.+?)\'\," )

# For Nationality 
df_nv['Nationality'] = df_nv['value'].str.extract(r"Nationality: (.+?)\'\," )


# For Education
## Select the strings end with "', '" and the strings end with nothing
Education = df_nv['value'].str.extract(r"Education: (.+?)\'\,\s\'|Education: (.+)?")

## merge the extracted two columes
df_nv['Education'] = pd.concat([Education[0].dropna(), Education[1].dropna()]).reindex_like(Education)

#See the full contents of the rows of value
pd.set_option('display.max_colwidth', -1)

C:\Users\Jeeho\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Jeeho\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Jeeho\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

Extract only Birth of Year only as BoY

In [6]:
df_nv['BoY'] = df_nv['Born'].str.extract(pat = "([0-9]{4})" )

C:\Users\Jeeho\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Extract Nationality strings from Born based on 1) the postal abbreviations of the US and 2) the country names

In [7]:
# Create a list of the abbr

us_postal_abbr = {'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 
                  'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
                  'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
                  'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
                  'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WY'}

reorder the index to run the for loop

In [8]:
df_nv_index = pd.Series(range(len(df_nv)))

In [9]:
df_nv = df_nv.set_index([df_nv_index])

In [10]:
# Create a column for the extracted us abbreviation code 
df_nv['us_abbr'] = df_nv['Born'].str.extract(pat = "([A-Z]{2})")

# Insert value 'American' in the 'Nationality' column if where the us_abbr matchs with the list of abbr
df_nv.loc[df_nv['us_abbr'].isin(us_postal_abbr), 'Nationality'] = 'American'

For nationalities

In [11]:
pd.set_option('display.max_rows', None)

Catch the missing countries among the values

In [12]:
#Extract the United States and United Kingdom and the other country names
bn = df_nv['Born'].str.extract(".*?([A-Za-z]{6}\s[A-Za-z]{6,7})$|.*?([A-Za-z]{5,11})$")

## merge the extracted two columes
df_nv['born_country'] = pd.concat([bn[0].dropna(), bn[1].dropna()]).reindex_like(bn)

#Replacing the NaN values of Nationality column with newly extracted values 
df_nv['Nationality'].fillna(df_nv['born_country'], inplace=True)

In [13]:
display(df_nv)

,index,ceo,value,Born,Nationality,Education,BoY,us_abbr,born_country
0,0,Doug McMillon,"Born: October 17, 1966 (age 53 years), Memphis, TN', 'Nationality: American', 'Spouse: Shelley McMillon', 'Education: Bentonville High School, Sam M. Walton College of Business, The University of Tulsa, University of Arkansas', 'Children: Blake McMillon, Spencer McMillon', 'Parents: Laura McMillon, Morris McMillon","October 17, 1966 (age 53 years), Memphis, TN",American,"Bentonville High School, Sam M. Walton College of Business, The University of Tulsa, University of Arkansas",1966,TN,NaN
1,2,Ben van Beurden,"Born: April 23, 1958 (age 61 years), Netherlands', 'Full name: Bernardus Cornelis Adriana Margriet van Beurden', 'Nationality: Dutch', 'Spouse: Stacey van Beurden', 'Children: 4', 'Term: January 2014–present","April 23, 1958 (age 61 years), Netherlands",Dutch,NaN,1958,NaN,Netherlands
2,5,Amin H. Nasser,"Born: 1960 (age 60 years)', 'Nationality: Saudi', 'Education: جامعة الملك فهد للبترول والمعادن",1960 (age 60 years),Saudi,جامعة الملك فهد للبترول والمعادن,1960,NaN,NaN
3,6,Bob Dudley,"Born: September 14, 1955 (age 64 years), Queens, New York, NY', 'Nationality: American', 'Spouse: Mary Dudley', 'Citizenship: United Kingdom; United States', 'Title: Former Group Chief Executive of BP', 'Education: University of Illinois at Urbana-Champaign, MORE","September 14, 1955 (age 64 years), Queens, New York, NY",American,"University of Illinois at Urbana-Champaign, MORE",1955,NY,NaN
4,7,Darren Woods,"Born: Wichita, KS', 'Spouse: Kathryn Woods', 'Predecessor: Rex W. Tillerson', 'Education: Kellogg School of Management, Texas A&M University","Wichita, KS",American,"Kellogg School of Management, Texas A&M University",NaN,KS,NaN
5,8,Herbert Diess,"Born: October 24, 1958 (age 61 years), Munich, Germany', 'Education: Technische Universität München (1987), MORE', 'Board member of: Audi, Volkswagen Group, SEAT, Škoda Auto, Porsche Holding","October 24, 1958 (age 61 years), Munich, Germany",Germany,"Technische Universität München (1987), MORE",1958,NaN,Germany
6,9,Akio Toyoda,"Born: May 3, 1956 (age 63 years), Nagoya, Aichi, Japan', 'Nationality: Japanese', 'Children: 2', 'Education: Babson College, Keio University', 'Parents: Shoichiro Toyoda, Hiroko Mitsui', 'Grandparents: Kiichiro Toyoda, Hatako Toyoda","May 3, 1956 (age 63 years), Nagoya, Aichi, Japan",Japanese,"Babson College, Keio University",1956,NaN,Japan
7,10,Tim Cook,"Born: November 1, 1960 (age 59 years), Mobile, AL', 'Height: 6′ 0″', 'Net worth: US$ 1.3 billion (2015)', 'Education: The Fuqua School of Business (1988), MORE', 'Parents: Geraldine Cook, Donald Cook', 'Siblings: Gerald Cook, Michael Cook","November 1, 1960 (age 59 years), Mobile, AL",American,"The Fuqua School of Business (1988), MORE",1960,AL,NaN
8,11,Warren Buffett,"Born: August 30, 1930 (age 89 years), Omaha, NE', 'Net worth: 73.4 billion USD (2020)', 'Education: Columbia Business School (1950–1951), MORE', 'Spouse: Astrid Menks (m. 2006), Susan Buffett (m. 1952–2004)","August 30, 1930 (age 89 years), Omaha, NE",American,"Columbia Business School (1950–1951), MORE",1930,NE,NaN
9,12,Jeff Bezos,"Net worth: 106.2 billion USD (2020) Trending', 'Born: January 12, 1964 (age 56 years), Albuquerque, NM', 'Height: 5′ 7″', 'Nationality: American', 'Children: 4', 'Education: Princeton University (1986), River Oaks Elementary School, Miami Palmetto Senior High School, University of Florida","January 12, 1964 (age 56 years), Albuquerque, NM",American,"Princeton University (1986), River Oaks Elementary School, Miami Palmetto Senior High School, University of Florida",1964,NM,NaN
10,15,Ivan Glasenberg,"Born: January 1957 (age 63 years), Johannesburg, South Africa', 'Net worth: 2.9 billion USD (2020)', 'Spouse: Elana Glasenberg', 'Children: 2', 'Known for: CEO of Glencore', 'Education: Marshall Business School, USC, University of the Witwatersrand, Johannesburg, University of Southern California","January 1957 (age 63 years), Johannesburg, South Africa",Africa,"Marshall Business School, USC, University of the Witwatersrand, Johannesburg, University of Southern California",1957,NaN,Africa
11,17,Ola Källenius,"Born: June 11, 1969 (age 50 years), Västervik, Sweden', 'Employer: Daimler AG', 'Education: University of St. Gallen, Stockholm School of Economics, Danderyds gymnasium","June 11, 1969 (age 50 years), Västervik, Sweden",Sweden,"University of St. Gallen, Stockholm School of Economics, Danderyds gymnasium",1969,NaN,Sweden
12,18,Larry J. Merlo,"Born: 1956 (age 64 years), Pittsburgh, PA', 'Nationality: American', 'Spouse: Lee Ann Merlo', 'Education: University of Pittsburgh School of Pharmacy (1978)', 'Residence: Rhode Island","1956 (age 64 years), Pittsburgh, PA",American,University of Pittsburgh School of Pharmacy (1978),1956,PA,NaN
13,19,Patrick Pouyanné,"Born: June 24, 1963 (age 56 years), Le Petit-Quevilly, France', 'Education: École Polytechnique","June 24, 1963 (age 56 years), Le Petit-Quevilly, France",France,École Polytechnique,1963,NaN,France
14,21,Jeremy Weir,"Born: 1964 (age 56 years), Melbourne, Australia', 'Education: University of Melbourne', 'Predecessor: Claude Dauphin","1964 (age 56 years), Melbourne, Australia",Australia,University of Melbourne,1964,NaN,Australia
15,22,Terry Gou,"Born: October 18, 1950 (age 69 years), Banqiao District, Taipei, Taiwan', 'Nationality: Taiwanese', 'Net worth: 5.8 billion USD (2020)', 'Spouse: Delia Tseng (m. 2008), Serena Lin (m. 1974–2005)', 'Education: Taipei College of Maritime Technology (1966–1971), New Taipei Municipal Panchiao Senior High School', 'Children: Gou Shou-zheng, Gou Xiao-ling, Gou Shou-shan, Gou Xiao-ru","October 18, 1950 (age 69 years), Banqiao District, Taipei, Taiwan",Taiwanese,"Taipei College of Maritime Technology (1966–1971), New Taipei Municipal Panchiao Senior High School",1950,NaN,Taiwan
16,23,John Elkann,"Born: April 1, 1976 (age 43 years), New York, NY', 'Spouse: Lavinia Borromeo (m. 2004)', 'Education: Polytechnic University of Turin', 'Siblings: Lapo Elkann, Ginevra Elkann, Anna de Pahlen, Maria de Pahlen, Pietro de Pahlen, Tatiana de Pahlen, Sofia de Pahlen', 'Children: Oceano Noah Elkann, Leone Mosé Elkann, Vita Talita Elkann', 'Parents: Alain Elkann, Margherita Agnelli","April 1, 1976 (age 43 years), New York, NY",American,Polytechnic University of Turin,1976,NY,NaN
17,24,Randall L. Stephenson,"Born: April 22, 1960 (age 59 years), Oklahoma City, OK', 'Nationality: American', 'Spouse: Lenise Stephenson', 'Children: 2', 'Residence: Dallas, TX', 'Education: The University of Oklahoma, University of Central Oklahoma","April 22, 1960 (age 59 years), Oklahoma City, OK",American,"The University of Oklahoma, University of Central Oklahoma",1960,OK,NaN
18,26,Steven H. Collis,"Born: 1961 (age 59 years), South Africa', 'Education: University of the Witwatersrand, Johannesburg', 'Predecessor: R. David Yost","1961 (age 59 years), South Africa",Africa,"University of the Witwatersrand, Johannesburg",1961,NaN,Africa
19,27,Mike Wirth,"Born: 1960 (age 60 years)', 'Education: University of Colorado Boulder",1960 (age 60 years),NaN,University of Colorado Boulder,1960,NaN,NaN
20,28,Ma Mingzhe,"Born: December 1955 (age 64 years), China', 'Education: Zhongnan University of Economics and Law', 'Organization founded: Ping An Insurance","December 1955 (age 64 years), China",China,Zhongnan University of Economics and Law,1955,NaN,China
21,29,Jim Hackett,"Born: April 22, 1955 (age 64 years), Columbus, OH', 'Education: University of Michigan (1977)', 'Spouse: Kathy Hackett', 'Residence: Grand Rapids, Michigan, U.S', 'Children: 2","April 22, 1955 (age 64 years), Columbus, OH",American,University of Michigan (1977),1955,OH,NaN
22,31,Mary T. Barra,"Born: December 24, 1961 (age 58 years), Waterford, MI', 'Nationality: American', 'Spouse: Anthony E. Barra', 'Education: Stanford Graduate School of Business (1988–1990), Kettering University, Mott High School', 'Children: Nicholas Barra, Rachel Barra', 'Parents: Ray Makela, Eva Makela","December 24, 1961 (age 58 years), Waterford, MI",American,"Stanford Graduate School of Business (1988–1990), Kettering University, Mott High School",1961,MI,NaN
23,33,Takahiro Hachigo,"Born: May 19, 1959 (age 60 years), Japan', 'Alma mater: Tokyo City University', 'Board member of: Honda Motor Company","May 19, 1959 (age 60 years), Japan",Japan,NaN,1959,NaN,Japan
24,34,W. Craig Jelinek,"Born: August 8, 1952 (age 67 years), California', 'Nationality: American', 'Education: San Diego State University (1975)', 'Predecessor: James Sinegal","August 8, 1952 (age 67 years), California",American,San Diego State University (1975),1952,NaN,California
25,36,Sundar Pichai,"Born: June 10, 1972 (age 47 years), Madurai, India', 'Spouse: Anjali Pichai', 'Education: Wharton School of the University of Pennsylvania, MORE', 'Children: Kiran Pichai, Kavya Pichai', 'Nationality: American, Indian', 'Parents: Regunatha Pichai, Lakshmi Pichai","June 10, 1972 (age 47 years), Madurai, India","American, Indian","Wharton School of the University of Pennsylvania, MORE",1972,NaN,India
26,38,Chen Zhixin,Born: 1959 (age 61 years),NaN,NaN,NaN,NaN,NaN,NaN
27,39,Stefano Pessina,"Born: June 4, 1941 (age 78 years), Pescara, Italy', 'Net worth: 8.7 billion USD (2020)', 'Children: 2', 'Partner: Ornella Barra (1985–)', 'Board member of: Walgreens Boots Alliance', 'Education: University of Milan, Politecnico di Milano","June 4, 1941 (age 78 years), Pescara, Italy",Italy,"University of Milan, Politecnico di Milano",1941,NaN,Italy
28,40,Jamie Dimon,"Born: March 13, 1956 (age 64 years), New York, NY', 'Nationality: American', 'Net worth: 1.2 billion USD (2020)', 'Spouse: Judith Kent (m. 1983)', 'Children: Julia Dimon, Kara Leigh Dimon, Laura Dimon', 'Education: Harvard Business School (1982), Tufts University, Browning School","March 13, 1956 (age 64 years), New York, NY",American,"Harvard Business School (1982), Tufts University, Browning School",1956,NY,NaN
29,44,Oliver Bäte,"Born: March 1, 1965 (age 55 years), Bergisch Gladbach, Germany', 'Education: University of Cologne (1988–1993), NYU Stern School of Business (1988–1993)","March 1, 1965 (age 55 years), Bergisch Gladbach, Germany",Germany,"University of Cologne (1988–1993), NYU Stern School of Business (1988–1993)",1965,NaN,Germany
30,45,Thomas Buberl,"Born: March 24, 1973 (age 46 years), Cologne, Germany', 'Education: WHU - Otto Beisheim School of Management, Lancaster University, University of St. Gallen","March 24, 1973 (age 46 years), Cologne, Germany",Germany,"WHU - Otto Beisheim School of Management, Lancaster University, University of St. Gallen",1973,NaN,Germany
31,46,Rodney McMullen,"Born: 1961 (age 59 years), Pineville, KY', 'Education: University of Kentucky', 'Predecessor: David Dillon', 'Board member of: Cincinnati Financial, Kroger","1961 (age 59 years), Pineville, KY",American,University of Kentucky,1961,KY,NaN
32,47,H. Lawrence Culp Jr.,"Born: 1964 (age 56 years), Washington, D.C.', 'Nationality: American', 'Children: 3', 'Title: Chairman and CEO, General Electric', 'Predecessor: John L. Flannery', 'Education: Washington College, Harvard Business School","1964 (age 56 years), Washington, D.C.",American,"Washington College, Harvard Business School",1964,NaN,NaN
33,50,Wang Bin MD,"Address: 13347 Sanford Ave C1G, Flushing, NY 11355', 'Hours:\nOpen ⋅ Closes 8PM', 'Phone: (718) 886-7888",NaN,NaN,NaN,NaN,NaN,NaN
34,51,Masatsugu Nagato,"Born: November 18, 1948 (age 71 years), Otaru, Hokkaido, Japan', 'Education: Hitotsubashi University', 'Predecessor: Taizo Nishimuro","November 18, 1948 (age 71 years), Otaru, Hokkaido, Japan",Japan,Hitotsubashi University,1948,NaN,Japan
35,52,Harald Krüger,"Born: October 13, 1965 (age 54 years), Freiburg im Breisgau, Germany', 'Education: RWTH Aachen University (1991), MORE","October 13, 1965 (age 54 years), Freiburg im Breisgau, Germany",Germany,"RWTH Aachen University (1991), MORE",1965,NaN,Germany
36,56,Joseph W. Gorder,"Born: May 1957 (age 62 years)', 'Education: University of Missouri-St. Louis, Our Lady of the Lake School of Business",May 1957 (age 62 years),NaN,"University of Missouri-St. Louis, Our Lady of the Lake School of Business",1957,NaN,NaN
37,57,Brian Moynihan,"Born: October 9, 1959 (age 60 years), Marietta, OH', 'Nationality: American', 'Spouse: Susan Berry', 'Children: 3', 'Education: Notre Dame Law School (1984), Brown University (1981), University of Notre Dame', 'Siblings: Kathryn Moynihan, Patrick Moynihan","October 9, 1959 (age 60 years), Marietta, OH",American,"Notre Dame Law School (1984), Brown University (1981), University of Notre Dame",1959,OH,NaN
38,59,Satya Nadella,"Born: August 19, 1967 (age 52 years), Hyderabad, India', 'Title: CEO of Microsoft', 'Spouse: Anupama Nadella (m. 1992)', 'Education: University of Wisconsin-Milwaukee (1990), MORE', ""Books: Hit Refresh: The Quest to Rediscover Microsoft's Soul and Imagine a Better Future for Everyone"", 'Children: Zain Nadella, Tara Nadella, Divya Nadella","August 19, 1967 (age 52 years), Hyderabad, India",India,"University of Wisconsin-Milwaukee (1990), MORE', ""Books: Hit Refresh: The Quest to Rediscover Microsoft's Soul and Imagine a Better Future for Everyone"", 'Children: Zain Nadella, Tara Nadella, Divya Nadella",1967,NaN,India
39,60,Ren Zhengfei,"Born: October 25, 1944 (age 75 years), Zhenning Buyei and Miao Autonomous County, Anshun, China', 'Nationality: Chinese', 'Net worth: 1.3 billion USD (2020)', 'Spouse: Yao Ling', 'Education: Chongqing University', 'Children: Meng Wanzhou, Annabel Yao, Ren Ping","October 25, 1944 (age 75 years), Zhenning Buyei and Miao Autonomous County, Anshun, China",Chinese,Chongqing University,1944,NaN,China
40,61,Craig Menear,"Born: 1958 (age 62 years), Flint, MI', 'Nationality: American', 'Education: Central High School, Michigan State University","1958 (age 62 years), Flint, MI",American,"Central High School, Michigan State University",1958,MI,NaN
41,63,Jun Sawada,"Born: July 30, 1955 (age 64 years)', 'Predecessor: Hiroo Unoura","July 30, 1955 (age 64 years)",NaN,NaN,1955,NaN,NaN
42,65,Hiroto Saikawa,"Born: November 14, 1953 (age 66 years), Japan",NaN,NaN,NaN,NaN,NaN,NaN
43,66,Zheng Zhijie,"Born: May 1958 (age 61 years)', 'Education: Dongbei University of Finance and Economics', 'Party: Communist Party of China",May 1958 (age 61 years),NaN,Dongbei University of Finance and Economics,1958,NaN,NaN
44,67,Dave Calhoun,"Born: April 18, 1957 (age 62 years), Philadelphia, PA', 'Nationality: American', ""Books: How Companies Win: Profiting from Demand-Driven Business Models No Matter What Business You're In"", 'Education: Orefield Middle School, Pamplin College of Business, Virginia Polytechnic Institute and State University', ""Albums: Salmon Chanted Harbor, Day Drinkin', Momentary Mutiny"", 'Children: Corey Calhoun, Amy Calhoun, Devon Calhoun, Jessica Calhoun","April 18, 1957 (age 62 years), Philadelphia, PA",American,"Orefield Middle School, Pamplin College of Business, Virginia Polytechnic Institute and State University', ""Albums: Salmon Chanted Harbor, Day Drinkin', Momentary Mutiny"", 'Children: Corey Calhoun, Amy Calhoun, Devon Calhoun, Jessica Calhoun",1957,PA,NaN
45,68,Charles W. Scharf,"Born: 1965 (age 55 years)', 'Nationality: American', 'Organization: Visa U.S.A', 'Education: New York University, Johns Hopkins University",1965 (age 55 years),American,"New York University, Johns Hopkins University",1965,NaN,NaN
46,69,Joe Kaeser,"Born: June 23, 1957 (age 62 years), Arnbruck, Germany', 'Spouse: Rosemarie Kaeser', 'Education: Ostbayerische Technische Hochschule (OTH) Regensburg","June 23, 1957 (age 62 years), Arnbruck, Germany",Germany,Ostbayerische Technische Hochschule (OTH) Regensburg,1957,NaN,Germany
47,70,Michael Corbat,"Born: May 2, 1960 (age 59 years), Bristol, CT', 'Nationality: American', 'Spouse: Donna Corbat', 'Education: Harvard University (1983)","May 2, 1960 (age 59 years), Bristol, CT",American,Harvard University (1983),1960,CT,NaN
48,71,Gary R. Heminger,"Born: Tiffin, OH', 'Education: University of Dayton (1982), Tiffin University (1976)","Tiffin, OH",American,"University of Dayton (1982), Tiffin University (1976)",NaN,OH,NaN
49,74,Brian L. Roberts,"Born: June 28, 1959 (age 60 years), Philadelphia, PA', 'Nationality: American', 'Net worth: 1.6 billion USD (2020)', 'Spouse: Aileen Roberts', 'Children: Sarah Roberts, Tucker Roberts', 'Education: Wharton School of the University of Pennsylvania, University of Pennsylvania, Germantown Academy","June 28, 1959 (age 60 years), Philadelphia, PA",American,"Wharton School of the University of Pennsylvania, University of Pennsylvania, Germantown Academy",1959,PA,NaN
50,75,Ulf Mark Schneider,"Born: September 9, 1965 (age 54 years), Neuwied, Germany', 'Nationality: German', 'Citizenship: German and American', 'Predecessor: Paul Bulcke', 'Education: Harvard Business School, University of St. Gallen","September 9, 1965 (age 54 years), Neuwied, Germany",German,"Harvard Business School, University of St. Gallen",1965,NaN,Germany
51,76,Volkmar Denner,"Born: November 30, 1956 (age 63 years), Uhingen, Germany', 'Education: University of Stuttgart (1985), University of Stuttgart (1981)', 'Appointed by: Angela Merkel","November 30, 1956 (age 63 years), Uhingen, Germany",Germany,"University of Stuttgart (1985), University of Stuttgart (1981)",1956,NaN,Germany
52,78,Gail Koziara Boudreaux,"Born: 1960 (age 60 years)', 'Spouse: Terry Boudreaux (m. 1989)', 'Children: 2 sons', 'Education: Chicopee Comprehensv High Sch, Columbia University, Columbia Business School, Dartmouth College",1960 (age 60 years),NaN,"Chicopee Comprehensv High Sch, Columbia University, Columbia Business School, Dartmouth College",1960,NaN,NaN
53,80,Alexandre Bompard,"Born: October 4, 1972 (age 47 years), Saint-Étienne, France', 'Spouse: Charlotte Bompard', 'Predecessor: Georges Plassat', 'Board member of: Fnac', ""Education: École Nationale d'Administration (1997–1999), Sciences Po""","October 4, 1972 (age 47 years), Saint-Étienne, France",France,"École Nationale d'Administration (1997–1999), Sciences Po""",1972,NaN,France
54,82,Claudio Descalzi,"Born: 1955 (age 65 years), Milan, Italy', 'Education: University of Milan","1955 (age 65 years), Milan, Italy",Italy,University of Milan,1955,NaN,Italy
55,83,Michael S. Dell,"Born: February 23, 1965 (age 55 years), Houston, TX', 'Net worth: US$31.2 billion (October 2019)', 'Spouse: Susan Dell (m. 1989)', 'Education: Memorial Senior High School, The University of Texas at Austin, Herod Elementary School', 'Children: Alexa Dell, Kira Dell, Juliette Dell, Zachary Dell","February 23, 1965 (age 55 years), Houston, TX",American,"Memorial Senior High School, The University of Texas at Austin, Herod Elementary School",1965,TX,NaN
56,84,José Antonio Alvarez (José Antonio ...,"Born: January 6, 1960 (age 60 years), León, Spain', 'Predecessor: Javier Marín","January 6, 1960 (age 60 years), León, Spain",Spain,NaN,1960,NaN,Spain
57,85,Igor Sechin,"Born: September 7, 1960 (age 59 years), Russian Soviet Federative Socialist Republic', 'Height: 5′ 9″', 'Spouse: Olga Rozhkova (m. 2011–2017)', 'Education: Saint Petersburg State University', 'Nationality: Russian, Soviet', 'Children: Inga Sechina, Ivan Sechin","September 7, 1960 (age 59 years), Russian Soviet Federative Socialist Republic","Russian, Soviet",Saint Petersburg State University,1960,NaN,Republic
58,87,Ning Gaoning,"Born: November 9, 1958 (age 61 years), Binzhou, China', 'Education: Joseph M. Katz Graduate School of Business, Shandong University, University of Pittsburgh","November 9, 1958 (age 61 years), Binzhou, China",China,"Joseph M. Katz Graduate School of Business, Shandong University, University of Pittsburgh",1958,NaN,China
59,88,Francesco Starace,"Born: 1955 (age 65 years), Rome, Italy', 'Education: Politecnico di Milano","1955 (age 65 years), Rome, Italy",Italy,Politecnico di Milano,1955,NaN,Italy

In [15]:
df_nv.to_csv(r'D:\Yeshiva_Univ\Courses\Capstone_project\CEOs_Culture_project\Data\ceo_information\CEOs_info_v1(Apr_1_2020).csv')