In [1]:
import re
import pandas as pd
import numpy as np
import dataframe
from bs4 import BeautifulSoup
import socket 
import time
import requests
from selenium import webdriver
from urllib.parse import quote_plus
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import urllib.request
import urllib.parse

In [2]:
ceo_df = pd.read_csv(r'C:\Users\Jeeho\Documents\Python Scripts\Capstone project\Web_Scrap\fg500_CEOs_2017_v1(Apr_25_2020).csv')

In [3]:
c_sample = ceo_df['CEO']

In [4]:
browser = webdriver.Chrome(r"C:\Users\Jeeho\AppData\Local\Programs\Python\Python36\chromedriver.exe")


ceo_list = c_sample
values =[]
df = pd.DataFrame(columns = ['ceo'])

for ceo in ceo_list:
    baseUrl = 'https://www.google.com/search?q='
    browser.get(baseUrl + ceo)
    table = browser.find_elements_by_css_selector('div.ifM9O') 

    for row in table:
        ceo = str(([c.text for c in row.find_elements_by_css_selector('div.kno-ecr-pt.PZPZlf.gsmt.i8lZMc')])).strip('[]').strip("''")
    for row in table:
        value = str(([c.text for c in row.find_elements_by_css_selector('div.Z1hOCe')])).strip('[]').strip("''")
    if not table:
        value = 'Null'
    
    values.append(value)
    
    s = pd.Series(ceo,index=df.columns)
    vs = pd.Series(values) 

    df = df.append(s,ignore_index=True)

    time.sleep(2) # To make the scraping slower
    
    
df['value'] = vs  
df['ceo_year']=2017
print(df)

browser.close()

                       ceo                                              value  \
0            Doug McMillon  Born: October 17, 1966 (age 53 years), Memphis...
1                  Kou Wei                                               Null
2                Wang Yupu  Born: October 1956 (age 63 years), Xinmin, Lia...
3                Wang Yupu  Born: October 1956 (age 63 years), Xinmin, Lia...
4            Zhang Jianhua  Born: September 1964 (age 55 years), Shanghai,...
5              Akio Toyoda  Born: May 3, 1956 (age 63 years), Nagoya, Aich...
6
7          Ben van Beurden  Born: April 23, 1958 (age 62 years), Netherlan...
8           Warren Buffett  Born: August 30, 1930 (age 89 years), Omaha, N...
9                 Tim Cook  Born: November 1, 1960 (age 59 years), Mobile,...
10            Darren Woods  Born: Wichita, KS', 'Spouse: Kathryn Woods', '...
11      John H. Hammergren  Born: February 20, 1959 (age 61 years), Saint ...
12              Bob Dudley  Born: September 14, 1955 (age 64 years), Queen...
13      Stephen J. Hemsley  Born: 1952 (age 68 years), United States', 'Sp...
14          Larry J. Merlo  Born: 1956 (age 64 years), Pittsburgh, PA', 'N...
15            Kwon Oh-hyun  Born: October 15, 1952 (age 67 years), South K...
16         Ivan Glasenberg  Born: January 1957 (age 63 years), Johannesbur...
17          Dieter Zetsche  Born: May 5, 1953 (age 66 years), İstanbul, Tu...
18           Mary T. Barra  Born: December 24, 1961 (age 58 years), Waterf...
19   Randall L. Stephenson  Born: April 22, 1960 (age 60 years), Oklahoma ...
20             John Elkann  Born: April 1, 1976 (age 44 years), New York, ...
21             Jim Hackett  Born: April 22, 1955 (age 65 years), Columbus,...
22
23        Steven H. Collis  Born: 1961 (age 59 years), South Africa', 'Edu...
24
25           Thomas Buberl  Born: March 24, 1973 (age 47 years), Cologne, ...
26              Jeff Bezos  Born: January 12, 1964 (age 56 years), Albuque...
27               Terry Gou  Born: October 18, 1950 (age 69 years), Banqiao...
28          Wang Hongzhang  Born: July 1954 (age 65 years), Changtu County...
29        Takahiro Hachigo  Born: May 19, 1959 (age 60 years), Japan', 'Al...
..                     ...                                                ...
470          Pascal Soriot  Born: May 23, 1959 (age 60 years), France', 'N...
471      Robert A. Bradway  Born: 1963 (age 57 years)', 'Education: Amhers...
472          Wiebe Draijer  Born: August 27, 1965 (age 54 years), Enschede...
473          Michel Combes  Born: March 29, 1962 (age 58 years), Boulogne-...
474     Gerald W. Schwartz  Born: November 24, 1941 (age 78 years), Winnip...
475        Pietro Satriano                                               Null
476             He Tiancai                                               Null
477  Jacques van den Broek  Born: May 24, 1960 (age 59 years), Goes, Nethe...
478             Ma Huateng  Born: October 29, 1971 (age 48 years), Chaoyan...
479          Sang-Beom Han  Born: June 1955 (age 64 years)', 'Education: S...
480
481
482     Karl-Johan Persson  Born: March 25, 1975 (age 45 years), London, U...
483               Dan Amos  Born: August 13, 1951 (age 68 years), Florida'...
484
485
486
487
488
489          Eddie Lampert  Born: July 19, 1962 (age 57 years), Roslyn, NY...
490            Xu Xianping  Born: October 1954 (age 65 years), Longhui Cou...
491         John Pettigrew  Born: October 1968 (age 51 years), Pontypridd,...
492
493        Flavio Cattaneo  Born: June 27, 1963 (age 56 years), Rho, Italy...
494              Xu Xiaoxi  Born: November 18, 1981 (age 38 years), Chengd...
495          Shang Jiqiang                                               Null
496      Yitzhak Peterburg                                               Null
497
498          Potts David T  Address: Mid-Continent Tower, 401 S Boston Ave...
499      Friedrich Joussen  Born: April 19, 1963 (age 57 years), Duisburg,...

     ceo_year
0        2017
1        2017
2        2017
3        2017
4        2017
5        2017
6        2017
7        2017
8        2017
9        2017
10       2017
11       2017
12       2017
13       2017
14       2017
15       2017
16       2017
17       2017
18       2017
19       2017
20       2017
21       2017
22       2017
23       2017
24       2017
25       2017
26       2017
27       2017
28       2017
29       2017
..        ...
470      2017
471      2017
472      2017
473      2017
474      2017
475      2017
476      2017
477      2017
478      2017
479      2017
480      2017
481      2017
482      2017
483      2017
484      2017
485      2017
486      2017
487      2017
488      2017
489      2017
490      2017
491      2017
492      2017
493      2017
494      2017
495      2017
496      2017
497      2017
498      2017
499      2017

[500 rows x 3 columns]

In [5]:
pd.set_option('display.max_rows', None)

In [6]:
#Make a copy of the original scraped dataset
df1 = df

In [7]:
#reindex the data
re_index = pd.Series(range(1,501))  
df1 = df1.set_index([re_index])

Rename the unnamed column as index

In [8]:
# convert the index to a column and name as company_rank 
df1['index1'] = df1.index

df1 = df1.rename(columns={'index1': 'company_rank'})

In [9]:
#reindex the data as starting from 1 to 500
re_index = pd.Series(range(1,501))  
df1 = df1.set_index([re_index])

Clear rows. Select the rows having values only

In [10]:
#Select only the rows with values to proceed RegEx later
# exclude the rows with ceo value having ''
df_n = df1[df1['ceo'] != '']

#exlucde the rows if the value of 'value' column is null
df_nv = df_n[(df_n['value'] != 'Null')]

In [11]:
# Exclude the rows if the value of 'company_rank' is null
df_nv = df_nv[(df_nv['company_rank'].notnull())]

In [12]:
# For Born
df_nv['Born'] = df_nv['value'].str.extract(r"Born: (.+?)\'\," )

# For Nationality 
df_nv['Nationality'] = df_nv['value'].str.extract(r"Nationality: (.+?)\'\," )


# For Education
## Select the strings end with "', '" and the strings end with nothing
Education = df_nv['value'].str.extract(r"Education: (.+?)\'\,\s\'|Education: (.+)?|Alma mater: (.+?)\'\,\s\'")

## merge the extracted two columes
df_nv['Education'] = pd.concat([Education[0].dropna(), Education[1].dropna(), Education[2].dropna()]).reindex_like(Education)

#See the full contents of the rows of value
pd.set_option('display.max_colwidth', -1)

Extract only Birth of Year only as BoY

In [13]:
df_nv['BoY'] = df_nv['Born'].str.extract(pat = "([0-9]{4})" )

Extract Nationality strings from Born based on 1) the postal abbreviations of the US and 2) the country names

In [14]:
# Create a list of the abbr

us_postal_abbr = {'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 
                  'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
                  'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
                  'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
                  'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WY'}

In [15]:
# Create a column for the extracted us abbreviation code 
df_nv['us_abbr'] = df_nv['Born'].str.extract(pat = "([A-Z]{2})")

# Insert value 'American' in the 'Nationality' column if where the us_abbr matchs with the list of abbr
df_nv.loc[df_nv['us_abbr'].isin(us_postal_abbr), 'Nationality'] = 'American'

For nationalities

Catch the missing countries among the values

In [16]:
#Extract the United States and United Kingdom and the other country names
bn = df_nv['Born'].str.extract(".*?([A-Za-z]{6}\s[A-Za-z]{6,7})$|.*?([A-Za-z]{5,11})$")

## merge the extracted two columes
df_nv['born_country'] = pd.concat([bn[0].dropna(), bn[1].dropna()]).reindex_like(bn)

#Replacing the NaN values of Nationality column with newly extracted values 
df_nv['Nationality'].fillna(df_nv['born_country'], inplace=True)

In [17]:
#drop value, us_abbr, and born_coutry columns
df_nv = df_nv.drop(['value', 'us_abbr', 'born_country'], axis = 1)

In [18]:
df_nv1 = df_nv

In [19]:
# change nationality values into country values

# Nationality list
nat = ['Afghan', 'Albanian', 'Algerian', 'American', 'Andorran', 'Angolan', 'Anguillan', 'Argentine', 'Armenian', 
       'Australian', 'Austrian', 'Azerbaijani', 'Bahamian', 'Bahraini', 'Bangladeshi', 'Barbadian', 'Belarusian',
       'Belgian', 'Belizean', 'Beninese', 'Bermudian', 'Bhutanese', 'Bolivian', 'Botswanan', 'Brazilian', 'British',
       'British Virgin Islander', 'Bruneian', 'Bulgarian', 'Burkinan', 'Burmese', 'Burundian', 'Cambodian', 'Cameroonian',
       'Canadian', 'Cape Verdean', 'Cayman Islander', 'Central African', 'Chadian', 'Chilean', 'Chinese', 
       'Citizen of Antigua and Barbuda', 'Citizen of Bosnia and Herzegovina', 'Citizen of Guinea-Bissau', 
       'Citizen of Kiribati', 'Citizen of Seychelles', 'Citizen of the Dominican Republic', 'Citizen of Vanuatu ', 
       'Colombian', 'Comoran','Congolese (Congo)', 'Congolese (DRC)', 'Cook Islander', 'Costa Rican', 'Croatian', 'Cuban',
       'Cymraes', 'Cymro', 'Cypriot', 'Czech', 'Danish', 'Djiboutian', 'Dominican', 'Dutch', 'East Timorese', 'Ecuadorean',
       'Egyptian', 'Emirati', 'English', 'Equatorial Guinean', 'Eritrean', 'Estonian', 'Ethiopian', 'Faroese', 'Fijian',
       'Filipino', 'Finnish', 'French', 'Gabonese', 'Gambian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek',
       'Greenlandic', 'Grenadian', 'Guamanian', 'Guatemalan', 'Guinean', 'Guyanese', 'Haitian', 'Honduran', 'Hong Konger',
       'Hungarian', 'Icelandic', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Israeli', 'Italian', 'Ivorian', 
       'Jamaican', 'Japanese', 'Jordanian', 'Kazakh', 'Kenyan', 'Kittitian', 'Kosovan', 'Kuwaiti', 'Kyrgyz', 'Lao', 'Latvian',
       'Lebanese', 'Liberian', 'Libyan', 'Liechtenstein citizen', 'Lithuanian', 'Luxembourger', 'Macanese', 'Macedonian',
       'Malagasy', 'Malawian', 'Malaysian', 'Maldivian', 'Malian', 'Maltese', 'Marshallese', 'Martiniquais', 'Mauritanian',
       'Mauritian', 'Mexican', 'Micronesian', 'Moldovan', 'Monegasque', 'Mongolian', 'Montenegrin', 'Montserratian',
       'Moroccan', 'Mosotho', 'Mozambican', 'Namibian', 'Nauruan', 'Nepalese', 'New Zealander', 'Nicaraguan', 'Nigerian',
       'Nigerien', 'Niuean', 'North Korean', 'Northern Irish', 'Norwegian', 'Omani', 'Pakistani', 'Palauan', 'Palestinian',
       'Panamanian', 'Papua New Guinean', 'Paraguayan', 'Peruvian', 'Pitcairn Islander', 'Polish', 'Portuguese', 'Prydeinig',
       'Puerto Rican', 'Qatari', 'Romanian', 'Russian', 'Rwandan', 'Salvadorean', 'Sammarinese', 'Samoan', 'Sao Tomean',
       'Saudi Arabian', 'Scottish', 'Senegalese', 'Serbian', 'Sierra Leonean', 'Singaporean', 'Slovak', 'Slovenian',
       'Solomon Islander', 'Somali', 'South African', 'South Korean', 'South Sudanese', 'Spanish', 'Sri Lankan',
       'St Helenian', 'St Lucian', 'Stateless', 'Sudanese', 'Surinamese', 'Swazi', 'Swedish', 'Swiss', 'Syrian', 'Taiwanese',
       'Tajik', 'Tanzanian', 'Thai', 'Togolese', 'Tongan', 'Trinidadian', 'Tristanian', 'Tunisian', 'Turkish', 'Turkmen',
       'Turks and Caicos Islander', 'Tuvaluan', 'Ugandan', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Vatican citizen', 'Venezuelan',
       'Vietnamese', 'Vincentian', 'Wallisian', 'Welsh', 'Yemeni', 'Zambian', 'Zimbabwean']

In [20]:
# create a value column "Check" showing Y if the value in country column is in the list of nationalities
df_nv1.loc[df_nv1['Nationality'].isin(nat), 'Check'] = 'Y'

In [21]:
''' a list of Nationality and other different country names among the Country values and correction
American = United States
Argentine = Argentina
Austrian = Austria
Brazilian = Brazil
British = United Kingdom
Canadian = Canada
Canada (English-speaking) = Canada
Canada French = Canada
Chinese = China
Danish = Denmark
French = France
German = Germany
Germany (EAST) = Germany
Germany (WEST) = Germany
Germany East = Germany
Indian = India
Japanese = Japan
Portuguese = Portugal
Singaporean = Singapore
Swedish = Sweden
Swiss = Switzerland
U.S. = United States
USA = United States
American, Indian = Indian
Korea = South Korea
Russian, German = Russia
French, Moroccan = Morocco
'''

a = ['American', 'Argentine', 'Austrian', 'Brazilian', 'British', 'Canadian', 'Canada (English-speaking)', 'Canada French', 
     'Chinese', 'Danish', 'French', 'German', 'Germany (EAST)', 'Germany (WEST)', 'Germany East', 'Indian', 'Japanese', 
     'Portuguese', 'Singaporean', 'Swedish', 'Swiss', 'U.S.', 'USA', "American, Indian", 'Korea', "Russian, German", "French, Moroccan"]
b = ['United States', 'Argentina', 'Austria', 'Brazil', 'United Kingdom', 'Canada', 'Canada', 'Canada', 'China', 'Denmark', 
     'France', 'Germany', 'Germany', 'Germany', 'Germany', 'India', 'Japan', 'Portugal', 'Singapore', 'Sweden', 'Switzerland',
     'United States', 'United States', 'India', 'South Korea', 'Russia', 'Morocco']

In [22]:
# Create a dataframe of the identified nationalities and thier matching countries
nat_correct = pd.DataFrame(columns = ('nat','correct'))

# Insert the list of nationalites and country names
nat_correct['nat'] = a
nat_correct['correct'] = b

In [23]:
#Match the identified country names with nationalities in the country_v1 dataframe
df_nv1= nat_correct.set_index(['nat'])\
         .combine_first(df_nv1.set_index(['Nationality']))\
         .reset_index()
#Drop Nationality and correction columns

In [24]:
df_nv1['Nationality'] = np.where(df_nv1['correct'].notnull(), df_nv1['correct'], df_nv1['index'])

#Drop index, correct, and Check columns
df_nv1 = df_nv1.drop(['index', 'correct', 'Check'], axis = 1)

In [25]:
df_nv1 = df_nv1[(df_nv1['company_rank'].notnull())]

In [26]:
df_nv1.sort_values(by='company_rank',inplace = True)

In [27]:
df_nv1['company_rank'] = df_nv1.company_rank.astype(int)

In [28]:
df_nv2 = df_nv1.reset_index(drop=True)

In [30]:
#reindex the data as starting from 1
re_index_nv2 = pd.Series(range(1,308)) #<---- Edit the range for each year 
df_nv2 = df_nv2.set_index([re_index_nv2])

In [31]:
df_nv2

,BoY,Born,Education,ceo,ceo_year,company_rank,Nationality
1,1966.0,"October 17, 1966 (age 53 years), Memphis, TN","Bentonville High School, Sam M. Walton College of Business, The University of Tulsa, University of Arkansas",Doug McMillon,2017.0,1,United States
2,1956.0,"October 1956 (age 63 years), Xinmin, Liaoning, Shenyang, China",Northeast Petroleum University,Wang Yupu,2017.0,3,China
3,1956.0,"October 1956 (age 63 years), Xinmin, Liaoning, Shenyang, China",Northeast Petroleum University,Wang Yupu,2017.0,4,China
4,1964.0,"September 1964 (age 55 years), Shanghai, China",East China University of Science and Technology,Zhang Jianhua,2017.0,5,China
5,1956.0,"May 3, 1956 (age 63 years), Nagoya, Aichi, Japan","Babson College, Keio University",Akio Toyoda,2017.0,6,Japan
6,1958.0,"April 23, 1958 (age 62 years), Netherlands",Delft University of Technology (1981–1983),Ben van Beurden,2017.0,8,Netherlands
7,1930.0,"August 30, 1930 (age 89 years), Omaha, NE","Columbia Business School (1950–1951), MORE",Warren Buffett,2017.0,9,United States
8,1960.0,"November 1, 1960 (age 59 years), Mobile, AL","The Fuqua School of Business (1988), MORE",Tim Cook,2017.0,10,United States
9,NaN,"Wichita, KS","Kellogg School of Management, Texas A&M University",Darren Woods,2017.0,11,United States
10,1959.0,"February 20, 1959 (age 61 years), Saint Paul, MN","Williams College of Business (1987), MORE",John H. Hammergren,2017.0,12,United States
11,1955.0,"September 14, 1955 (age 64 years), Queens, New York, NY","University of Illinois at Urbana-Champaign, MORE",Bob Dudley,2017.0,13,United States
12,1952.0,"1952 (age 68 years), United States","Fordham University, Gabelli School of Business",Stephen J. Hemsley,2017.0,14,United States
13,1956.0,"1956 (age 64 years), Pittsburgh, PA",University of Pittsburgh School of Pharmacy (1978),Larry J. Merlo,2017.0,15,United States
14,1952.0,"October 15, 1952 (age 67 years), South Korea","Seoul National University (1975), Stanford University, KAIST",Kwon Oh-hyun,2017.0,16,South Korea
15,1957.0,"January 1957 (age 63 years), Johannesburg, South Africa","Marshall Business School, USC, University of the Witwatersrand, Johannesburg, University of Southern California",Ivan Glasenberg,2017.0,17,Africa
16,1953.0,"May 5, 1953 (age 66 years), İstanbul, Turkey","University of Paderborn, Karlsruhe Institute of Technology",Dieter Zetsche,2017.0,18,Turkey
17,1961.0,"December 24, 1961 (age 58 years), Waterford, MI","Stanford Graduate School of Business (1988–1990), Kettering University, Mott High School",Mary T. Barra,2017.0,19,United States
18,1960.0,"April 22, 1960 (age 60 years), Oklahoma City, OK","The University of Oklahoma, University of Central Oklahoma",Randall L. Stephenson,2017.0,20,United States
19,1976.0,"April 1, 1976 (age 44 years), New York, NY",Polytechnic University of Turin,John Elkann,2017.0,21,United States
20,1955.0,"April 22, 1955 (age 65 years), Columbus, OH",University of Michigan (1977),Jim Hackett,2017.0,22,United States
21,1961.0,"1961 (age 59 years), South Africa","University of the Witwatersrand, Johannesburg",Steven H. Collis,2017.0,24,Africa
22,1973.0,"March 24, 1973 (age 47 years), Cologne, Germany","WHU - Otto Beisheim School of Management, Lancaster University, University of St. Gallen",Thomas Buberl,2017.0,26,Germany
23,1964.0,"January 12, 1964 (age 56 years), Albuquerque, NM","Princeton University (1986), River Oaks Elementary School, Miami Palmetto Senior High School",Jeff Bezos,2017.0,27,United States
24,1950.0,"October 18, 1950 (age 69 years), Banqiao District, Taipei, Taiwan","Taipei College of Maritime Technology (1966–1971), New Taipei Municipal Panchiao Senior High School",Terry Gou,2017.0,28,Taiwan
25,1954.0,"July 1954 (age 65 years), Changtu County, Tieling, China","Liaoning College of Finance and Trade, MORE",Wang Hongzhang,2017.0,29,China
26,1959.0,"May 19, 1959 (age 60 years), Japan",Tokyo City University,Takahiro Hachigo,2017.0,30,Japan
27,1963.0,"June 24, 1963 (age 56 years), Le Petit-Quevilly, France",École Polytechnique,Patrick Pouyanné,2017.0,31,France
28,1956.0,"February 19, 1956 (age 64 years), Cincinnati, OH","Harvard Business School (1982), Dartmouth College (1978), Harvard University, Finneytown Secondary Campus",Jeff Immelt,2017.0,32,United States
29,1954.0,"May 28, 1954 (age 65 years), Buffalo, NY","University of San Diego School of Business Administration, MORE",Lowell C. McAdam,2017.0,33,United States
30,1948.0,"November 18, 1948 (age 71 years), Otaru, Hokkaido, Japan",Hitotsubashi University,Masatsugu Nagato,2017.0,34,Japan
31,1965.0,"March 1, 1965 (age 55 years), Bergisch Gladbach, Germany","University of Cologne (1988–1993), NYU Stern School of Business (1988–1993)",Oliver Bäte,2017.0,35,Germany
32,1957.0,1957 (age 63 years),"NYU Stern School of Business (1988), Brown University (1977), Staples High School, New York University",George S. Barrett,2017.0,36,NaN
33,1952.0,"August 8, 1952 (age 67 years), California",San Diego State University (1975),W. Craig Jelinek,2017.0,37,United States
34,1941.0,"June 4, 1941 (age 78 years), Pescara, Italy","University of Milan, Politecnico di Milano",Stefano Pessina,2017.0,38,Italy
35,1955.0,"December 1955 (age 64 years), China",Zhongnan University of Economics and Law,Ma Mingzhe,2017.0,40,China
36,1960.0,"July 25, 1960 (age 59 years), Pineville, KY",University of Kentucky,Rodney McMullen,2017.0,41,United States
37,1961.0,"July 14, 1961 (age 58 years), Clichy, France","École Polytechnique, Lycée Louis-le-Grand",Jean-Laurent Bonnafé,2017.0,44,France
38,NaN,NaN,NaN,Hiroto Saikawa,2017.0,45,NaN
39,1956.0,"October 1956 (age 63 years), California","The University of Chicago (1980), MORE",John S. Watson,2017.0,46,California
40,1959.0,"March 7, 1959 (age 61 years), West Reading, PA","Cornell University, NYU School of Law",Timothy J. Mayopoulos,2017.0,47,United States
41,1959.0,"1959 (age 61 years), China",Beijing University of Posts and Telecommunications,Li Yue,2017.0,48,China
42,1956.0,"March 13, 1956 (age 64 years), New York, NY","Harvard Business School (1982), Tufts University, Browning School",Jamie Dimon,2017.0,49,United States
43,1949.0,"January 13, 1949 (age 71 years), Nanao, Ishikawa, Japan",The University of Tokyo,Hiroo Unoura,2017.0,51,Japan
44,1965.0,"October 13, 1965 (age 54 years), Freiburg im Breisgau, Germany","RWTH Aachen University (1991), MORE",Harald Krüger,2017.0,53,Germany
45,NaN,NaN,"Cornell University, Monroe Community College",Tim Wentworth,2017.0,54,NaN
46,1964.0,"1964 (age 56 years), Melbourne, Australia",University of Melbourne,Jeremy Weir,2017.0,55,Australia
47,1960.0,"April 9, 1960 (age 60 years), Canada",San Diego State University,Michael A. Wells,2017.0,57,Canada
48,1960.0,"July 26, 1960 (age 59 years), Suresnes, France",École Polytechnique,Philippe Donnet,2017.0,58,France
49,1958.0,"1958 (age 62 years), Flint, MI","Eli Broad College of Business, Central High School, Michigan State University",Craig Menear,2017.0,60,United States
50,1964.0,"1964 (age 56 years), Orange City, IA","Sioux Center Community School District (1982), University of Washington, Iowa State University",Dennis Muilenburg,2017.0,61,United States
51,NaN,"Cleveland, OH",University of Michigan,Timothy J. Sloan,2017.0,62,United States
52,1959.0,"October 9, 1959 (age 60 years), Marietta, OH","Notre Dame Law School (1984), Brown University (1981), University of Notre Dame",Brian Moynihan,2017.0,63,United States
53,1965.0,"September 9, 1965 (age 54 years), Neuwied, Germany","Harvard Business School, University of St. Gallen",Ulf Mark Schneider,2017.0,65,Germany
54,1973.0,"March 26, 1973 (age 47 years), East Lansing, MI","East Lansing High School (1987–1991), MORE",Larry Page,2017.0,66,United States
55,1957.0,"June 23, 1957 (age 62 years), Arnbruck, Germany",Ostbayerische Technische Hochschule (OTH) Regensburg,Joe Kaeser,2017.0,67,Germany
56,1949.0,"March 25, 1949 (age 71 years), Bollène, France","Cornell University, EHL - Ecole hôtelière de Lausanne",Georges Plassat,2017.0,68,France
57,1967.0,"August 19, 1967 (age 52 years), Hyderabad, India","University of Wisconsin-Milwaukee (1990), MORE', ""Books: Hit Refresh: The Quest to Rediscover Microsoft's Soul and Imagine a Better Future for Everyone"", 'Children: Zain Nadella, Tara Nadella, Divya Nadella",Satya Nadella,2017.0,70,India
58,1951.0,"May 17, 1951 (age 68 years), Richmond, VA","Benedictine College Preparatory, UNC Charlotte",Joseph R. Swedish,2017.0,71,United States
59,1957.0,"August 11, 1957 (age 62 years), Tosu, Saga, Japan","University of California, Berkeley (1980), MORE",Masayoshi Son,2017.0,73,Japan
60,1960.0,"January 6, 1960 (age 60 years), León, Spain",NaN,José Antonio Alvarez,2017.0,74,Spain
61,1960.0,"May 2, 1960 (age 59 years), Bristol, CT",Harvard University (1983),Michael Corbat,2017.0,75,United States
62,1953.0,"February 21, 1953 (age 67 years), Rio de Janeiro, State of Rio de Janeiro, Brazil",University of Brasília,Pedro Parente,2017.0,76,Brazil
63,1956.0,"November 30, 1956 (age 63 years), Uhingen, Germany","University of Stuttgart (1985), University of Stuttgart (1981)",Volkmar Denner,2017.0,77,Germany
64,1962.0,"September 18, 1962 (age 57 years), Solingen, Germany",University of Cologne,Timotheus Höttges,2017.0,78,Germany
65,1938.0,"March 19, 1938 (age 82 years), Tongchŏn, North Korea",NaN,Chung Mong-koo,2017.0,79,South Korea
66,1959.0,"June 28, 1959 (age 60 years), Philadelphia, PA","Wharton School of the University of Pennsylvania, University of Pennsylvania, Germantown Academy",Brian L. Roberts,2017.0,80,United States
67,1959.0,"August 31, 1959 (age 60 years), Nîmes, France",ENSAE Paris,Philippe Brassac,2017.0,81,France
68,1957.0,"July 29, 1957 (age 62 years), Chicago, IL",Robert R. McCormick School of Engineering and Applied Science at Northwestern,Ginni Rometty,2017.0,82,United States
69,1955.0,"March 18, 1955 (age 65 years), Suresnes, France","École Polytechnique, Télécom Paris",Jean-Bernard Lévy,2017.0,83,France
70,1944.0,"October 25, 1944 (age 75 years), Zhenning Buyei and Miao Autonomous County, Anshun, China",Chongqing University,Ren Zhengfei,2017.0,84,China
71,1955.0,"1955 (age 65 years), Rome, Italy",Politecnico di Milano,Francesco Starace,2017.0,85,Italy
72,1959.0,"June 20, 1959 (age 60 years), Illinois","Illinois Wesleyan University (1981), University of Illinois at Urbana-Champaign",Michael L. Tipsord,2017.0,86,Illinois
73,1951.0,"June 17, 1951 (age 68 years), Yokkaichi, Mie, Japan",Babson College,Motoya Okada,2017.0,88,Japan
74,1959.0,"March 9, 1959 (age 61 years), United Kingdom","University of Oxford, Worcester College, Oxford",Stuart Gulliver,2017.0,89,United Kingdom
75,NaN,NaN,NaN,"Mark W. Wilson, MD, PC",2017.0,91,NaN
76,1869.0,"May 1, 1869, Centre County, PA",NaN,David John Lewis,2017.0,93,United States
77,1966.0,"December 9, 1966 (age 53 years), Neuilly-sur-Seine, France","École Normale Supérieure (1987), Mines ParisTech",Isabelle Kocher,2017.0,94,France
78,1960.0,"December 3, 1960 (age 59 years), Suwon-si, South Korea","The University of Chicago, Korea University",Chey Tae-won,2017.0,96,South Korea
79,NaN,NaN,Texas A&M University,Greg Garland,2017.0,97,NaN
80,1960.0,"May 24, 1960 (age 59 years), Kansas City, KS","Wharton School of the University of Pennsylvania, United States Military Academy",Alex Gorsky,2017.0,98,United States
81,1958.0,"April 20, 1958 (age 62 years), Charlotte, NC","Duke University (1980), West Charlotte High School",David S. Taylor,2017.0,99,United States
82,1961.0,"1961 (age 59 years), Pottsville, PA","MIT Sloan School of Management, Immaculata University",Megan Brennan,2017.0,100,United States
83,1956.0,"March 1956 (age 64 years), Shandong, China",North China Electric Power University,Li Qingkui,2017.0,101,China
84,1963.0,"November 6, 1963 (age 56 years), Le Creusot, France","HEC Paris, École Nationale d'Administration, Sciences Po""",François Pérol,2017.0,105,France
85,1960.0,"December 22, 1960 (age 59 years), Tokyo, Japan","Valley Park Middle School, International Christian University",Kaz Hirai,2017.0,106,Japan
86,1957.0,May 1957 (age 62 years),"University of Missouri-St. Louis, Our Lady of the Lake School of Business",Joseph W. Gorder,2017.0,107,NaN
87,1958.0,"1958 (age 62 years), Queens, New York, NY","UCLA Anderson School of Management, University of California, Los Angeles",Brian Cornell,2017.0,108,United States
88,1963.0,"July 3, 1963 (age 56 years), Paris, France","Sciences Po, École Nationale d'Administration, École Polytechnique""",Frédéric Oudéa,2017.0,109,France
89,1956.0,"November 14, 1956 (age 63 years), Osaka, Osaka, Japan","University of California, Santa Barbara (1986), Osaka University (1979)",Kazuhiro Tsuga,2017.0,111,Japan
90,1959.0,"June 16, 1959 (age 60 years), Naples, Italy",Sapienza University of Rome,Mario Greco,2017.0,113,Italy
91,1958.0,"December 5, 1958 (age 61 years), State of São Paulo, Brazil","Escola de Administração de Empresas de São Paulo (1980), Santa Cruz School",Candido Botelho Bracher,2017.0,114,Brazil
92,1961.0,"July 29, 1961 (age 58 years), Hamburg, Germany","ETH Zürich (2001), Ludwig Maximilian University of Munich",Frank Appel,2017.0,118,Germany
93,1950.0,1950 (age 70 years),Massachusetts Institute of Technology,Donald H. Layton,2017.0,119,NaN
94,1964.0,"January 28, 1964 (age 56 years), Lisbon, Portugal","INSEAD Europe Campus, Catholic University of Portugal",António Horta-Osório,2017.0,122,Portugal
95,1963.0,"1963 (age 57 years), Florida",UNC Charlotte (1984),Robert Niblock,2017.0,123,Florida
96,NaN,NaN,NaN,Olaf Koch,2017.0,124,NaN
97,1965.0,"February 23, 1965 (age 55 years), Houston, TX","Memorial Senior High School, The University of Texas at Austin, Herod Elementary School",Michael S. Dell,2017.0,125,United States
98,NaN,"West Hartford, CT","Georgetown University Law Center, MORE",Steven A. Kandarian,2017.0,129,United States
99,1956.0,"1956 (age 64 years), Detroit, MI","Wayne State University, Cornell University",Mark Bertolini,2017.0,131,United States
100,1955.0,"October 28, 1955 (age 64 years), Chennai, India","Yale School of Management (1978–1980), MORE",Indra Nooyi,2017.0,132,India
101,1955.0,"1955 (age 65 years), Milan, Italy",University of Milan,Claudio Descalzi,2017.0,133,Italy
102,1962.0,"1962 (age 58 years), Argentina",Instituto Tecnológico de Buenos Aires,Juan Ricardo Luciano,2017.0,135,Argentina
103,1956.0,"1956 (age 64 years), Greenwood, MS","Delta State University, Pillow Academy",David P. Abney,2017.0,139,United States
104,1966.0,"October 1966 (age 53 years), Wenzhou, China",NaN,Wu Xiaohui,2017.0,140,China
105,1958.0,"August 14, 1958 (age 61 years), Lisbon, Portugal",École Centrale Paris (1981),Carlos Tavares,2017.0,141,Portugal
106,1958.0,"November 9, 1958 (age 61 years), Binzhou, China","Joseph M. Katz Graduate School of Business, Shandong University, University of Pittsburgh",Ning Gaoning,2017.0,144,China
107,1960.0,"May 9, 1960 (age 59 years), Santa Clara County, CA",San José State University (1982),Brian Krzanich,2017.0,145,United States
108,1955.0,"July 31, 1955 (age 64 years), Hyogo, Japan",Hyogo Prefectural Nagata High School,Takehiko Kakiuchi,2017.0,146,Japan
109,NaN,NaN,NaN,Alexander Wynaendts,2017.0,148,NaN
110,1954.0,1954 (age 66 years),"University of Virginia, Susquehanna University, Darden School of Business - University of Virginia",John Strangfeld,2017.0,149,NaN
111,1961.0,"October 3, 1961 (age 58 years), Brescia, Italy","Harvard Business School, Bocconi University, Harvard University",Vittorio Colao,2017.0,150,Italy
112,1956.0,"July 11, 1956 (age 63 years), Enschede, Netherlands","University of Cincinnati, University of Groningen",Paul Polman,2017.0,151,Netherlands
113,1967.0,"June 7, 1967 (age 52 years), Coatzacoalcos, Mexico","Massachusetts Institute of Technology, Stanford University, Harvard University, Asheville School",José Antonio González Anaya,2017.0,153,Mexico
114,1963.0,"December 12, 1963 (age 56 years), Madrid, Spain","Complutense University of Madrid, IPADE Business School, Université Libre de Bruxelles",José María Álvarez-Pallete López,2017.0,154,Spain
115,1951.0,"October 6, 1951 (age 68 years), Marília, State of São Paulo, Brazil","Universidade Estadual Paulista em Marília, Fundação Escola de Sociologia e Política de São Paulo",Luiz Carlos Trabuco Cappi,2017.0,155,Brazil
116,NaN,United States,"Cornell University, Krannert School of Management, Purdue University",Gregory J. Hayes,2017.0,156,United States
117,1950.0,"June 15, 1950 (age 69 years), Sadulpur, India",NaN,Lakshmi Mittal,2017.0,157,India
118,1954.0,"March 9, 1954 (age 66 years), Guajará-Mirim, State of Rondônia, Brazil","Mines ParisTech (1978), École Polytechnique (1974), MORE",Carlos Ghosn,2017.0,158,"Brazilian, Lebanese, French"
119,1960.0,"September 7, 1960 (age 59 years), Russian Soviet Federative Socialist Republic",Saint Petersburg State University,Igor Sechin,2017.0,159,Republic
120,1946.0,"November 25, 1946, China",Anhui University of Finance and Economics,Zhang Shiping,2017.0,160,China
121,NaN,"Tiffin, OH","University of Dayton (1982), Tiffin University (1976)",Gary R. Heminger,2017.0,161,United States
122,1951.0,"February 10, 1951 (age 69 years), New York, NY","Ithaca College (1973), Oceanside High School, Roy H. Park School of Communications, The Center for Early Education",Robert Allen Iger,2017.0,162,United States
123,1966.0,"1966 (age 54 years), Simpelveld, Netherlands",Tilburg University,Ralph Hamers,2017.0,164,Netherlands
124,1957.0,"August 31, 1957 (age 62 years), Axel, Netherlands",NaN,Dick Boer,2017.0,166,Netherlands
125,1963.0,1963 (age 57 years),NaN,Bruce D. Broussard,2017.0,167,NaN
126,1957.0,"October 4, 1957 (age 62 years), Tokyo, Japan",Aoyama Gakuin,Ryūichi Isaka,2017.0,168,Japan
127,1967.0,"November 17, 1967 (age 52 years), Austria","University of York, University of Innsbruck",Severin Schwan,2017.0,170,Austria
128,1956.0,"October 1956 (age 63 years), China","Tsinghua University High School, Beijing International Studies University",Chang Zhenming,2017.0,173,China
129,1953.0,"1953 (age 67 years), Forfar, United Kingdom","Imperial College London (1974), Department of Chemical Engineering, Imperial College London",Ian C. Read,2017.0,174,United Kingdom
130,1962.0,"October 6, 1962 (age 57 years), Krefeld, Germany","University of Cologne, RWTH Aachen University",Werner Baumann,2017.0,175,Germany
131,1947.0,"May 8, 1947 (age 72 years), Hamilton, Bermuda","Saint Joseph's University, Trenton Catholic Academy""",Brian Duperreault,2017.0,176,Bermuda
132,1966.0,"1966 (age 54 years), Mexico City, Mexico",NaN,Daniel Hajj Aboumrad,2017.0,177,Mexico
133,1954.0,"1954 (age 66 years), Junction City, KS","Columbia Business School, The University of Alabama, Harvard Business School",Marillyn Hewson,2017.0,179,United States
134,NaN,NaN,"Wharton School of the University of Pennsylvania (1982), University of Notre Dame (1977)",William J. Delaney III,2017.0,180,NaN
135,1944.0,"August 11, 1944 (age 75 years), Marks, MS","Yale University (1962–1966), Memphis University School, Presbyterian Day School",Frederick W. Smith,2017.0,181,United States
136,1956.0,"August 4, 1956 (age 63 years), Cold Spring Harbor, NY","Harvard Business School (1977–1979), MORE",Meg Whitman,2017.0,182,United States
137,1968.0,"1968 (age 52 years), Anhui, China","Anhui Qianshan Yezhai Middle School, Nanjing University",Wang Wenyin,2017.0,184,China
138,1961.0,"1961 (age 59 years), Malaysia",Malay College Kuala Kangsar,Wan Zulkiflee,2017.0,185,Malaysia
139,NaN,"Grayson, GA","University of North Carolina at Chapel Hill (1983–1987), Rocky Mt High School",Chuck Robbins,2017.0,188,United States
140,1972.0,"December 8, 1972 (age 47 years), Anápolis, State of Goiás, Brazil",NaN,Wesley Mendonça Batista,2017.0,192,Brazil
141,1958.0,"August 31, 1958 (age 61 years), Bangkok, Thailand","Chulalongkorn University, Rice University",Tevin Vongvanich,2017.0,193,Thailand
142,NaN,NaN,NaN,Tsuyoshi Nagano,2017.0,194,NaN

In [32]:
df_nv2=df_nv2[["ceo", "company_rank", "Born", "Nationality", "Education", "BoY", "ceo_year"]]

In [33]:
df_nv2.to_csv(r'D:\Yeshiva_Univ\Courses\Capstone_project\CEOs_Culture_project\Data\ceo_information\ceo_bio\CEOs_info_2017_v1(Apr_25_2020).csv')