## Web Scraping Forbes Global 500 (2017) Data

In [1]:
import awscli
import sys
import selenium
import unittest
import boto3
import pandas as pd
import tabulate
import time
import requests
import csv
import dataframe
from bs4 import BeautifulSoup
from tabulate import tabulate
from selenium import webdriver

In [2]:
browser = webdriver.Chrome(r"C:\Users\Jeeho\AppData\Local\Programs\Python\Python36\chromedriver.exe")
browser.get('https://fortune.com/global500/2017/search/')

In [3]:
#Find EIN filed
inputElement = browser.find_element_by_xpath("//*[@id='content']/div/div[2]/div/div[2]/div/div[2]/span[2]/select")
inputElement.send_keys('100 Rows')

In [4]:
#identify the table to scrape
table = browser.find_element_by_css_selector('div.rt-tbody')

In [5]:
datetime = time.strftime("%Y%m%d-%H%M%S")
filedirectory = 'C:/Users/Jeeho/Documents/Python Scripts/Capstone project/Web_Scrap/'
filename = 'fg500_2017_'
datetime = time.strftime("%Y%m%d%H%M%S")
file = "%s%s%s.csv"%(filedirectory,filename,datetime)

In [7]:
#create empty dataframe Test 2 : Included For Loop for next pages 
data =[]

#Use For Loop for Index

index = 1
while True:
    if index > 5:
        break
    try:
        print("Scraping Page number " + str(index))
        index = index + 1
        for row in table.find_elements_by_css_selector('div.rt-tr'):
            cols = data.append([cell.text for cell in row.find_elements_by_css_selector('div.rt-td.searchResults__cell--2Y7Ce')])

        time.sleep(4)
        next_button = browser.find_element_by_css_selector('div.-next')
        next_button.click()
    except Exception as e:
        print(e)
        break


data1 = pd.DataFrame(data, columns = ['rank','company','revenues','revenue % change', 'profits($M)','assets($M)','profits % change','employees','change in rank 500'])

data1['year']=2017

print(data1)

Scraping Page number 1
Scraping Page number 2
Scraping Page number 3
Scraping Page number 4
Scraping Page number 5
    rank                                       company  revenues  \
0      1                                       Walmart  $485,873
1      2                                    State Grid  $315,199
2      3                                 Sinopec Group  $267,518
3      4                      China National Petroleum  $262,573
4      5                                  Toyota Motor  $254,694
5      6                                    Volkswagen  $240,264
6      7                             Royal Dutch Shell  $240,033
7      8                            Berkshire Hathaway  $223,604
8      9                                         Apple  $215,639
9     10                                   Exxon Mobil  $205,004
10    11                                      McKesson  $198,533
11    12                                            BP  $186,606
12    13                            UnitedHealth Group  $184,840
13    14                                    CVS Health  $177,526
14    15                           Samsung Electronics  $173,957
15    16                                      Glencore  $173,883
16    17                                       Daimler  $169,483
17    18                                General Motors  $166,380
18    19                                          AT&T  $163,786
19    20                                    EXOR Group  $154,894
20    21                                    Ford Motor  $151,800
21    22         Industrial & Commercial Bank of China  $147,675
22    23                             AmerisourceBergen  $146,850
23    24          China State Construction Engineering  $144,505
24    25                                           AXA  $143,722
25    26                                    Amazon.com  $135,987
26    27                    Hon Hai Precision Industry  $135,129
27    28                       China Construction Bank  $135,093
28    29                                   Honda Motor  $129,198
29    30                                         Total  $127,925
..   ...                                           ...       ...
470  471                                         Amgen   $22,991
471  472                                Rabobank Group   $22,956
472  473                                        Altice   $22,953
473  474                                          Onex   $22,943
474  475                              US Foods Holding   $22,919
475  476  Shanxi Jincheng Anthracite Coal Mining Group   $22,875
476  477                              Randstad Holding   $22,873
477  478                              Tencent Holdings   $22,871
478  479                                    LG Display   $22,840
479  480                                Emirates Group   $22,799
480  481                                  U.S. Bancorp   $22,744
481  482                        H & M Hennes & Mauritz   $22,618
482  483                                         Aflac   $22,559
483  484                                        Sodexo   $22,477
484  485                         Suning Commerce Group   $22,366
485  486                                     GS Caltex   $22,207
486  487                             Ultrapar Holdings   $22,167
487  488                                    Xiamen C&D   $22,145
488  489                                Sears Holdings   $22,138
489  490                      China General Technology   $22,113
490  491                                 National Grid   $22,036
491  492                                Dollar General   $21,987
492  493                                Telecom Italia   $21,941
493  494                      Xiamen ITG Holding Group   $21,930
494  495         Xinjiang Guanghui Industry Investment   $21,919
495  496                Teva Pharmaceutical Industries   $21,903
496  497                      New China Life Insurance   $21,796
497  498                     Wm. Morrison Supermarkets   $21,741
498  499                                           TUI   $21,655
499  500                                    AutoNation   $21,609

    revenue % change profits($M)  assets($M) profits % change  employees  \
0               0.8%     $13,643    $198,825            -7.2%  2,300,000
1              -4.4%    $9,571.3    $489,838            -6.2%    926,067
2              -9.1%    $1,257.9    $310,726             -65%    713,288
3             -12.3%    $1,867.5    $585,619           -73.7%  1,512,048
4               7.7%   $16,899.3    $437,575           -12.3%    364,445
5               1.5%    $5,937.3    $432,116                -    626,715
6             -11.8%      $4,575    $411,275           135.9%     89,000
7               6.1%     $24,074    $620,854                -    367,700
8              -7.7%     $45,687    $321,686           -14.4%    116,000
9             -16.7%      $7,840    $330,314           -51.5%     72,700
10              3.1%      $5,070     $60,969           124.5%     64,500
11            -17.4%        $115    $263,316                -     74,500
12             17.7%      $7,017    $122,810            20.7%    230,000
13             15.8%      $5,317     $94,462             1.5%    204,000
14               -2%   $19,316.5    $217,104            16.8%    325,000
15                2%      $1,379    $124,600                -     93,123
16              2.2%    $9,428.4    $256,262             0.9%    282,488
17              9.2%      $9,427    $221,690            -2.7%    225,000
18             11.6%     $12,976    $403,821            -2.8%    268,540
19              1.5%      $651.3    $186,172           -21.1%    302,562
20              1.5%      $4,596    $237,951           -37.7%    201,000
21            -11.7%   $41,883.9  $3,473,238              -5%    461,749
22                8%    $1,427.9     $33,656                -     18,500
23              3.1%    $2,492.9    $201,269            10.7%    263,915
24             11.2%      $6,446    $941,556             3.5%     97,707
25             27.1%      $2,371     $83,402           297.8%    341,400
26             -4.3%    $4,608.8     $80,436            -0.4%    726,772
27             -8.7%   $34,840.9  $3,016,578              -4%    362,482
28              6.2%    $5,690.3    $170,165            98.3%    211,915
29            -10.8%      $6,196    $230,978            21.8%    102,168
..               ...         ...         ...              ...        ...
470             6.1%      $7,722     $77,626            11.3%     19,200
471            -4.4%      $828.3    $698,790           -15.1%     40,029
472            42.2%   $-1,722.5     $84,805                -     49,732
473             3.8%       $-130     $42,913                -    161,000
474            -0.9%      $209.8      $8,945            25.2%     25,000
475             -17%          $3     $32,954                -    135,691
476             7.3%      $650.2      $9,624              13%     32,280
477            39.7%    $6,185.9     $56,968              35%     38,775
478              -9%      $781.4     $20,606            -8.6%     49,094
479             0.3%      $340.3     $33,096           -82.5%     64,768
480             5.8%      $5,888    $445,964             0.2%     71,191
481             4.6%    $2,192.3     $10,681           -12.3%    114,586
482             8.1%      $2,659    $129,819               5%     10,212
483              -2%      $707.2     $15,766           -12.7%    425,594
484             3.7%        $106     $19,738           -23.6%     60,354
485           -11.4%    $1,221.1     $15,969            42.1%      2,949
486            -2.3%      $447.5      $7,426            -0.8%     15,173
487             6.6%      $280.2     $21,729            15.6%     18,381
488             -12%     $-2,221      $9,362                -    140,000
489           -20.1%      $413.6     $20,860           -20.8%     38,589
490            -3.2%   $10,150.6     $82,310           160.2%     22,132
491             7.9%    $1,251.1     $11,672             7.4%    121,000
492           -17.4%    $1,999.4     $74,295                -     61,227
493            34.3%       $35.6     $12,161           -25.1%     18,454
494            31.1%      $251.8     $31,957            49.9%     65,616
495            11.5%        $329     $92,890           -79.3%     56,960
496           -13.3%      $743.9    $100,609           -45.6%     54,378
497           -11.3%      $406.4     $11,630            20.4%     77,210
498            -5.5%    $1,151.7     $16,247           195.5%     66,779
499             3.6%      $430.5     $10,060            -2.7%     26,000

    change in rank 500  year
0                    -  2017
1                    -  2017
2                    1  2017
3                   -1  2017
4                    3  2017
5                    1  2017
6                   -2  2017
7                    3  2017
8                    -  2017
9                   -4  2017
10                   1  2017
11                  -2  2017
12                   4  2017
13                   4  2017
14                  -2  2017
15                  -2  2017
16                  -1  2017
17                   2  2017
18                   4  2017
19                  -1  2017
20                   -  2017
21                  -7  2017
22                   5  2017
23                   3  2017
24                   8  2017
25                  18  2017
26                  -2  2017
27                  -6  2017
28                   7  2017
29                  -6  2017
..                 ...   ...
470                 16  2017
471                -27  2017
472                  -  2017
473                  9  2017
474                -14  2017
475                -92  2017
476                 17  2017
477                  -  2017
478                -50  2017
479                 -8  2017
480                  9  2017
481                  6  2017
482                  -  2017
483                -18  2017
484                  -  2017
485                -55  2017
486                -13  2017
487                  -  2017
488                -64  2017
489               -107  2017
490                -20  2017
491                  -  2017
492                -89  2017
493                  -  2017
494                  -  2017
495                  -  2017
496                -70  2017
497                -61  2017
498                -32  2017
499                  -  2017

[500 rows x 10 columns]

In [9]:
data1.to_csv(file, header=True, line_terminator='\n')

In [ ]:
from botocore.client import Config
from io import StringIO

ACCESS_KEY_ID = 'your_access_key_id'
ACCESS_SECRET_KEY = 'your_access_secret_key'
BUCKET_NAME = 'ceo-culture-sagemaker'

csv_buffer =StringIO()
data1.to_csv(csv_buffer)

s3 = boto3.resource(
        's3',
        aws_access_key_id = ACCESS_KEY_ID,
        aws_secret_access_key=ACCESS_SECRET_KEY,
        config=Config(signature_version='s3v4')
        )
s3.Bucket(BUCKET_NAME).put_object(Key='fg500_2017_20200414020411.csv', Body = csv_buffer.getvalue())

print("Uploaded")