In [1]:
import re
import pandas as pd
import numpy as np
import dataframe
from bs4 import BeautifulSoup
import socket 
import time
import requests
from selenium import webdriver
from urllib.parse import quote_plus
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import urllib.request
import urllib.parse

In [2]:
ceo_df = pd.read_csv(r'C:\Users\Jeeho\Documents\Python Scripts\Capstone project\Web_Scrap\fg500_CEOs_v4_all(Apr_10_2020).csv')

In [3]:
c_sample = ceo_df['CEO']

In [7]:
browser = webdriver.Chrome(r"C:\Users\Jeeho\AppData\Local\Programs\Python\Python36\chromedriver.exe")


ceo_list = c_sample
values =[]
df = pd.DataFrame(columns = ['ceo'])

for ceo in ceo_list:
    baseUrl = 'https://www.google.com/search?q='
    browser.get(baseUrl + ceo)
    table = browser.find_elements_by_css_selector('div.ifM9O') 

    for row in table:
        ceo = str(([c.text for c in row.find_elements_by_css_selector('div.kno-ecr-pt.PZPZlf.gsmt.i8lZMc')])).strip('[]').strip("''")
    for row in table:
        value = str(([c.text for c in row.find_elements_by_css_selector('div.Z1hOCe')])).strip('[]').strip("''")
    if not table:
        value = 'Null'
    
    values.append(value)
    
    s = pd.Series(ceo,index=df.columns)
    vs = pd.Series(values) 

    df = df.append(s,ignore_index=True)

    time.sleep(2) # To make the scraping slower
    
    
df['value'] = vs  
print(df)

browser.close()

                                  ceo  \
0                       Doug McMillon
1                        Dai Houliang
2                     Ben van Beurden
3
4
5                      Amin H. Nasser
6                          Bob Dudley
7                        Darren Woods
8                       Herbert Diess
9                         Akio Toyoda
10                           Tim Cook
11                     Warren Buffett
12                         Jeff Bezos
13
14
15                    Ivan Glasenberg
16                     Brian S. Tyler
17                      Ola Källenius
18                     Larry J. Merlo
19                   Patrick Pouyanné
20
21                        Jeremy Weir
22                          Terry Gou
23                        John Elkann
24              Randall L. Stephenson
25
26                   Steven H. Collis
27                         Mike Wirth
28                         Ma Mingzhe
29                        Jim Hackett
..                                ...
469                   Richard M. Tsai
470                   Miguel Patricio
471
472                  Revathi Advaithi
473                       Zhang Yalin
474
475                    Jörn H. Werner
476                  Florent Menrgaux
477               Philip W. Chronican
478                   Dirk Van de Put
479                    Kasper Rørsted
480                     Li Hongshuang
481                     Wiebe Draijer
482
483                       Xu Xianping
484
485                  Jeffrey Gennette
486      Miguel Eduardo Padilla Silva
487                     Todd J. Vasos
488                         H.C. Shin
489                Gerald W. Schwartz
490                     Bao Lang Chen
491               Philippe Petitcolin
492              Willem A.J. van Duin
493                   Rajesh J. Mehta
494                  Leon J. Topalian
495                      Darryl White
496
497  Frederico Pinheiro Fleury Curado
498                     Benoît Potier

                                                 value
0    Born: October 17, 1966 (age 53 years), Memphis...
1                                                 Null
2    Born: April 23, 1958 (age 61 years), Netherlan...
3
4
5    Born: 1960 (age 60 years)', 'Nationality: Saud...
6    Born: September 14, 1955 (age 64 years), Queen...
7    Born: Wichita, KS', 'Nationality: American', '...
8    Born: October 24, 1958 (age 61 years), Munich,...
9    Born: May 3, 1956 (age 63 years), Nagoya, Aich...
10   Born: November 1, 1960 (age 59 years), Mobile,...
11   Born: August 30, 1930 (age 89 years), Omaha, N...
12   Net worth: 139.4 billion USD (2020) Trending',...
13
14
15   Born: January 1957 (age 63 years), Johannesbur...
16                                                Null
17   Born: June 11, 1969 (age 50 years), Västervik,...
18   Born: 1956 (age 64 years), Pittsburgh, PA', 'N...
19   Born: June 24, 1963 (age 56 years), Le Petit-Q...
20
21   Born: 1964 (age 56 years), Melbourne, Australi...
22   Born: October 18, 1950 (age 69 years), Banqiao...
23   Born: April 1, 1976 (age 44 years), New York, ...
24   Born: April 22, 1960 (age 59 years), Oklahoma ...
25
26   Born: 1961 (age 59 years), South Africa', 'Edu...
27   Born: 1960 (age 60 years)', 'Education: Univer...
28   Born: December 1955 (age 64 years), China', 'E...
29   Born: April 22, 1955 (age 64 years), Columbus,...
..                                                 ...
469                                               Null
470  Nationality: Portuguese', 'Predecessor: Bernar...
471
472                                               Null
473  Born: April 19, 1981, Dalian, China', 'Died: F...
474
475                                               Null
476                                               Null
477                                               Null
478  Born: 1959 (age 61 years), Mechelen, Belgium',...
479  Born: February 24, 1962 (age 58 years), Aarhus...
480                                               Null
481  Born: August 27, 1965 (age 54 years), Enschede...
482
483  Born: October 1954 (age 65 years), Longhui Cou...
484
485  "Movies: The 92nd Annual Macy's Thanksgiving D...
486                                               Null
487                                               Null
488                                               Null
489  Born: November 24, 1941 (age 78 years), Winnip...
490                                               Null
491  Born: September 28, 1952 (age 67 years), Banno...
492                                               Null
493                                               Null
494                                               Null
495  Education: Ivey Business School, Western Unive...
496
497                                               Null
498  Born: 1957 (age 63 years), Mulhouse, France', ...

[499 rows x 2 columns]

In [8]:
#Make a copy of the original scraped dataset
df1 = df

In [10]:
#reindex the data
re_index = pd.Series(range(1,500))  
df1 = df1.set_index([re_index])

Rename the unnamed column as index

In [11]:
#ceo list from 1-266
df_1 = df1.iloc[0:266]

#ceo list from 267 to 500
df_2 = df1.iloc[266:499]

#reindex the df_2
re_index2 = pd.Series(range(268,501))  
df_2 = df_2.set_index([re_index2])

#Merge the reindexed lists
df1=df_1.append(df_2, ignore_index=False)

In [12]:
# convert the index to a column and name as company_rank 
df1['index1'] = df1.index

df1 = df1.rename(columns={'index1': 'company_rank'})

In [13]:
#reindex the data as starting from 1 to 499
re_index = pd.Series(range(1,500))  
df1 = df1.set_index([re_index])

Clear rows. Select the rows having values only

In [14]:
#Select only the rows with values to proceed RegEx later
# exclude the rows with ceo value having ''
df_n = df1[df1['ceo'] != '']

#exlucde the rows if the value of 'value' column is null
df_nv = df_n[(df_n['value'] != 'Null')]

In [15]:
# Exclude the rows if the value of 'company_rank' is null
df_nv = df_nv[(df_nv['company_rank'].notnull())]

In [16]:
# For Born
df_nv['Born'] = df_nv['value'].str.extract(r"Born: (.+?)\'\," )

# For Nationality 
df_nv['Nationality'] = df_nv['value'].str.extract(r"Nationality: (.+?)\'\," )


# For Education
## Select the strings end with "', '" and the strings end with nothing
Education = df_nv['value'].str.extract(r"Education: (.+?)\'\,\s\'|Education: (.+)?|Alma mater: (.+?)\'\,\s\'")

## merge the extracted two columes
df_nv['Education'] = pd.concat([Education[0].dropna(), Education[1].dropna(), Education[2].dropna()]).reindex_like(Education)

#See the full contents of the rows of value
pd.set_option('display.max_colwidth', -1)

Extract only Birth of Year only as BoY

In [17]:
df_nv['BoY'] = df_nv['Born'].str.extract(pat = "([0-9]{4})" )

Extract Nationality strings from Born based on 1) the postal abbreviations of the US and 2) the country names

In [18]:
# Create a list of the abbr

us_postal_abbr = {'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 
                  'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
                  'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
                  'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
                  'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WY'}

In [19]:
# Create a column for the extracted us abbreviation code 
df_nv['us_abbr'] = df_nv['Born'].str.extract(pat = "([A-Z]{2})")

# Insert value 'American' in the 'Nationality' column if where the us_abbr matchs with the list of abbr
df_nv.loc[df_nv['us_abbr'].isin(us_postal_abbr), 'Nationality'] = 'American'

For nationalities

In [20]:
pd.set_option('display.max_rows', None)

Catch the missing countries among the values

In [21]:
#Extract the United States and United Kingdom and the other country names
bn = df_nv['Born'].str.extract(".*?([A-Za-z]{6}\s[A-Za-z]{6,7})$|.*?([A-Za-z]{5,11})$")

## merge the extracted two columes
df_nv['born_country'] = pd.concat([bn[0].dropna(), bn[1].dropna()]).reindex_like(bn)

#Replacing the NaN values of Nationality column with newly extracted values 
df_nv['Nationality'].fillna(df_nv['born_country'], inplace=True)

In [22]:
#drop value, us_abbr, and born_coutry columns
df_nv = df_nv.drop(['value', 'us_abbr', 'born_country'], axis = 1)

In [23]:
df_nv1 = df_nv

In [ ]:
#df_nv1 = pd.read_csv('D:\Yeshiva_Univ\Courses\Capstone_project\CEOs_Culture_project\Data\Old\CEOs_info_v7.0(Apr_17_2020).csv')

In [25]:
# change nationality values into country values

# Nationality list
nat = ['Afghan', 'Albanian', 'Algerian', 'American', 'Andorran', 'Angolan', 'Anguillan', 'Argentine', 'Armenian', 
       'Australian', 'Austrian', 'Azerbaijani', 'Bahamian', 'Bahraini', 'Bangladeshi', 'Barbadian', 'Belarusian',
       'Belgian', 'Belizean', 'Beninese', 'Bermudian', 'Bhutanese', 'Bolivian', 'Botswanan', 'Brazilian', 'British',
       'British Virgin Islander', 'Bruneian', 'Bulgarian', 'Burkinan', 'Burmese', 'Burundian', 'Cambodian', 'Cameroonian',
       'Canadian', 'Cape Verdean', 'Cayman Islander', 'Central African', 'Chadian', 'Chilean', 'Chinese', 
       'Citizen of Antigua and Barbuda', 'Citizen of Bosnia and Herzegovina', 'Citizen of Guinea-Bissau', 
       'Citizen of Kiribati', 'Citizen of Seychelles', 'Citizen of the Dominican Republic', 'Citizen of Vanuatu ', 
       'Colombian', 'Comoran','Congolese (Congo)', 'Congolese (DRC)', 'Cook Islander', 'Costa Rican', 'Croatian', 'Cuban',
       'Cymraes', 'Cymro', 'Cypriot', 'Czech', 'Danish', 'Djiboutian', 'Dominican', 'Dutch', 'East Timorese', 'Ecuadorean',
       'Egyptian', 'Emirati', 'English', 'Equatorial Guinean', 'Eritrean', 'Estonian', 'Ethiopian', 'Faroese', 'Fijian',
       'Filipino', 'Finnish', 'French', 'Gabonese', 'Gambian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek',
       'Greenlandic', 'Grenadian', 'Guamanian', 'Guatemalan', 'Guinean', 'Guyanese', 'Haitian', 'Honduran', 'Hong Konger',
       'Hungarian', 'Icelandic', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Israeli', 'Italian', 'Ivorian', 
       'Jamaican', 'Japanese', 'Jordanian', 'Kazakh', 'Kenyan', 'Kittitian', 'Kosovan', 'Kuwaiti', 'Kyrgyz', 'Lao', 'Latvian',
       'Lebanese', 'Liberian', 'Libyan', 'Liechtenstein citizen', 'Lithuanian', 'Luxembourger', 'Macanese', 'Macedonian',
       'Malagasy', 'Malawian', 'Malaysian', 'Maldivian', 'Malian', 'Maltese', 'Marshallese', 'Martiniquais', 'Mauritanian',
       'Mauritian', 'Mexican', 'Micronesian', 'Moldovan', 'Monegasque', 'Mongolian', 'Montenegrin', 'Montserratian',
       'Moroccan', 'Mosotho', 'Mozambican', 'Namibian', 'Nauruan', 'Nepalese', 'New Zealander', 'Nicaraguan', 'Nigerian',
       'Nigerien', 'Niuean', 'North Korean', 'Northern Irish', 'Norwegian', 'Omani', 'Pakistani', 'Palauan', 'Palestinian',
       'Panamanian', 'Papua New Guinean', 'Paraguayan', 'Peruvian', 'Pitcairn Islander', 'Polish', 'Portuguese', 'Prydeinig',
       'Puerto Rican', 'Qatari', 'Romanian', 'Russian', 'Rwandan', 'Salvadorean', 'Sammarinese', 'Samoan', 'Sao Tomean',
       'Saudi Arabian', 'Scottish', 'Senegalese', 'Serbian', 'Sierra Leonean', 'Singaporean', 'Slovak', 'Slovenian',
       'Solomon Islander', 'Somali', 'South African', 'South Korean', 'South Sudanese', 'Spanish', 'Sri Lankan',
       'St Helenian', 'St Lucian', 'Stateless', 'Sudanese', 'Surinamese', 'Swazi', 'Swedish', 'Swiss', 'Syrian', 'Taiwanese',
       'Tajik', 'Tanzanian', 'Thai', 'Togolese', 'Tongan', 'Trinidadian', 'Tristanian', 'Tunisian', 'Turkish', 'Turkmen',
       'Turks and Caicos Islander', 'Tuvaluan', 'Ugandan', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Vatican citizen', 'Venezuelan',
       'Vietnamese', 'Vincentian', 'Wallisian', 'Welsh', 'Yemeni', 'Zambian', 'Zimbabwean']

In [26]:
# create a value column "Check" showing Y if the value in country column is in the list of nationalities
df_nv1.loc[df_nv1['Nationality'].isin(nat), 'Check'] = 'Y'

In [27]:
''' a list of Nationality and other different country names among the Country values and correction
American = United States
Argentine = Argentina
Austrian = Austria
Brazilian = Brazil
British = United Kingdom
Canadian = Canada
Canada (English-speaking) = Canada
Canada French = Canada
Chinese = China
Danish = Denmark
French = France
German = Germany
Germany (EAST) = Germany
Germany (WEST) = Germany
Germany East = Germany
Indian = India
Japanese = Japan
Portuguese = Portugal
Singaporean = Singapore
Swedish = Sweden
Swiss = Switzerland
U.S. = United States
USA = United States
American, Indian = Indian
Korea = South Korea
Russian, German = Russia
French, Moroccan = Morocco
'''

a = ['American', 'Argentine', 'Austrian', 'Brazilian', 'British', 'Canadian', 'Canada (English-speaking)', 'Canada French', 
     'Chinese', 'Danish', 'French', 'German', 'Germany (EAST)', 'Germany (WEST)', 'Germany East', 'Indian', 'Japanese', 
     'Portuguese', 'Singaporean', 'Swedish', 'Swiss', 'U.S.', 'USA', "American, Indian", 'Korea', "Russian, German", "French, Moroccan"]
b = ['United States', 'Argentina', 'Austria', 'Brazil', 'United Kingdom', 'Canada', 'Canada', 'Canada', 'China', 'Denmark', 
     'France', 'Germany', 'Germany', 'Germany', 'Germany', 'India', 'Japan', 'Portugal', 'Singapore', 'Sweden', 'Switzerland',
     'United States', 'United States', 'India', 'South Korea', 'Russia', 'Morocco']

In [28]:
# Create a dataframe of the identified nationalities and thier matching countries
nat_correct = pd.DataFrame(columns = ('nat','correct'))

# Insert the list of nationalites and country names
nat_correct['nat'] = a
nat_correct['correct'] = b

In [29]:
#Match the identified country names with nationalities in the country_v1 dataframe
df_nv1= nat_correct.set_index(['nat'])\
         .combine_first(df_nv1.set_index(['Nationality']))\
         .reset_index()
#Drop Nationality and correction columns

In [30]:
df_nv1['Nationality'] = np.where(df_nv1['correct'].notnull(), df_nv1['correct'], df_nv1['index'])

#Drop index, correct, and Check columns
df_nv1 = df_nv1.drop(['index', 'correct', 'Check'], axis = 1)

In [31]:
df_nv1 = df_nv1[(df_nv1['company_rank'].notnull())]

In [43]:
df_nv1.sort_values(by='company_rank',inplace = True)

In [36]:
df_nv1['company_rank'] = df_nv1.company_rank.astype(int)

In [45]:
df_nv2 = df_nv1.reset_index(drop=True)

In [47]:
#reindex the data as starting from 1
re_index_nv2 = pd.Series(range(1,250))  
df_nv2 = df_nv2.set_index([re_index_nv2])

In [48]:
df_nv2

,BoY,Born,Education,ceo,company_rank,Nationality
1,1966.0,"October 17, 1966 (age 53 years), Memphis, TN","Bentonville High School, Sam M. Walton College of Business, The University of Tulsa, University of Arkansas",Doug McMillon,1,United States
2,1958.0,"April 23, 1958 (age 61 years), Netherlands",Delft University of Technology (1981–1983),Ben van Beurden,3,Netherlands
3,1960.0,1960 (age 60 years),جامعة الملك فهد للبترول والمعادن,Amin H. Nasser,6,Saudi
4,1955.0,"September 14, 1955 (age 64 years), Queens, New York, NY","University of Illinois at Urbana-Champaign, MORE",Bob Dudley,7,United States
5,NaN,"Wichita, KS","Kellogg School of Management, Texas A&M University",Darren Woods,8,United States
6,1958.0,"October 24, 1958 (age 61 years), Munich, Germany","Technische Universität München (1987), MORE",Herbert Diess,9,Germany
7,1956.0,"May 3, 1956 (age 63 years), Nagoya, Aichi, Japan","Babson College, Keio University",Akio Toyoda,10,Japan
8,1960.0,"November 1, 1960 (age 59 years), Mobile, AL","The Fuqua School of Business (1988), MORE",Tim Cook,11,United States
9,1930.0,"August 30, 1930 (age 89 years), Omaha, NE","Columbia Business School (1950–1951), MORE",Warren Buffett,12,United States
10,1964.0,"January 12, 1964 (age 56 years), Albuquerque, NM","Princeton University (1986), River Oaks Elementary School, Miami Palmetto Senior High School",Jeff Bezos,13,United States
11,1957.0,"January 1957 (age 63 years), Johannesburg, South Africa","Marshall Business School, USC, University of the Witwatersrand, Johannesburg, University of Southern California",Ivan Glasenberg,16,Africa
12,1969.0,"June 11, 1969 (age 50 years), Västervik, Sweden","University of St. Gallen, Stockholm School of Economics, Danderyds gymnasium",Ola Källenius,18,Sweden
13,1956.0,"1956 (age 64 years), Pittsburgh, PA",University of Pittsburgh School of Pharmacy (1978),Larry J. Merlo,19,United States
14,1963.0,"June 24, 1963 (age 56 years), Le Petit-Quevilly, France",École Polytechnique,Patrick Pouyanné,20,France
15,1964.0,"1964 (age 56 years), Melbourne, Australia",University of Melbourne,Jeremy Weir,22,Australia
16,1950.0,"October 18, 1950 (age 69 years), Banqiao District, Taipei, Taiwan","Taipei College of Maritime Technology (1966–1971), New Taipei Municipal Panchiao Senior High School",Terry Gou,23,Taiwan
17,1976.0,"April 1, 1976 (age 44 years), New York, NY",Polytechnic University of Turin,John Elkann,24,United States
18,1960.0,"April 22, 1960 (age 59 years), Oklahoma City, OK","The University of Oklahoma, University of Central Oklahoma",Randall L. Stephenson,25,United States
19,1961.0,"1961 (age 59 years), South Africa","University of the Witwatersrand, Johannesburg",Steven H. Collis,27,Africa
20,1960.0,1960 (age 60 years),University of Colorado Boulder,Mike Wirth,28,NaN
21,1955.0,"December 1955 (age 64 years), China",Zhongnan University of Economics and Law,Ma Mingzhe,29,China
22,1955.0,"April 22, 1955 (age 64 years), Columbus, OH",University of Michigan (1977),Jim Hackett,30,United States
23,1961.0,"December 24, 1961 (age 58 years), Waterford, MI","Stanford Graduate School of Business (1988–1990), Kettering University, Mott High School",Mary T. Barra,32,United States
24,1955.0,"July 31, 1955 (age 64 years), Hyogo, Japan",Hyogo Prefectural Nagata High School,Takehiko Kakiuchi,33,Japan
25,1959.0,"May 19, 1959 (age 60 years), Japan",Tokyo City University,Takahiro Hachigo,34,Japan
26,1952.0,"August 8, 1952 (age 67 years), California",San Diego State University (1975),W. Craig Jelinek,35,United States
27,1972.0,"June 10, 1972 (age 47 years), Madurai, India","Wharton School of the University of Pennsylvania, MORE",Sundar Pichai,37,India
28,1941.0,"June 4, 1941 (age 78 years), Pescara, Italy","University of Milan, Politecnico di Milano",Stefano Pessina,40,Italy
29,1956.0,"March 13, 1956 (age 64 years), New York, NY","Harvard Business School (1982), Tufts University, Browning School",Jamie Dimon,41,United States
30,1965.0,"March 1, 1965 (age 55 years), Bergisch Gladbach, Germany","University of Cologne (1988–1993), NYU Stern School of Business (1988–1993)",Oliver Bäte,45,Germany
31,1973.0,"March 24, 1973 (age 47 years), Cologne, Germany","WHU - Otto Beisheim School of Management, Lancaster University, University of St. Gallen",Thomas Buberl,46,Germany
32,1960.0,"July 25, 1960 (age 59 years), Pineville, KY",University of Kentucky,Rodney McMullen,47,United States
33,1964.0,"1964 (age 56 years), Washington, D.C.","Washington College, Harvard Business School",H. Lawrence Culp Jr.,48,United States
34,1948.0,"November 18, 1948 (age 71 years), Otaru, Hokkaido, Japan",Hitotsubashi University,Masatsugu Nagato,52,Japan
35,1965.0,"October 13, 1965 (age 54 years), Freiburg im Breisgau, Germany","RWTH Aachen University (1991), MORE",Harald Krüger,53,Germany
36,NaN,NaN,Texas A&M University,Greg Garland,54,NaN
37,1959.0,"1959 (age 61 years), China",Beijing University of Posts and Telecommunications,Li Yue,56,China
38,1957.0,May 1957 (age 62 years),"University of Missouri-St. Louis, Our Lady of the Lake School of Business",Joseph W. Gorder,57,NaN
39,1959.0,"October 9, 1959 (age 60 years), Marietta, OH","Notre Dame Law School (1984), Brown University (1981), University of Notre Dame",Brian Moynihan,58,United States
40,1967.0,"August 19, 1967 (age 52 years), Hyderabad, India","University of Wisconsin-Milwaukee (1990), MORE",Satya Nadella,60,United States
41,1944.0,"October 25, 1944 (age 75 years), Zhenning Buyei and Miao Autonomous County, Anshun, China",Chongqing University,Ren Zhengfei,61,China
42,1958.0,"1958 (age 62 years), Flint, MI","Eli Broad College of Business, Central High School, Michigan State University",Craig Menear,62,United States
43,1955.0,"July 30, 1955 (age 64 years)",NaN,Jun Sawada,64,NaN
44,NaN,NaN,NaN,Masahiro Okafuji,65,NaN
45,NaN,NaN,NaN,Hiroto Saikawa,66,NaN
46,1958.0,May 1958 (age 61 years),Dongbei University of Finance and Economics,Zheng Zhijie,67,NaN
47,1957.0,"April 18, 1957 (age 63 years), Philadelphia, PA","Orefield Middle School, Pamplin College of Business, Virginia Polytechnic Institute and State University', ""Books: How Companies Win: Profiting from Demand-Driven Business Models No Matter What Business You're In"", ""Albums: Momentary Mutiny, Day Drinkin', Salmon Chanted Harbor"", 'Children: Corey Calhoun, Amy Calhoun, Jessica Calhoun, Devon Calhoun",Dave Calhoun,68,United States
48,1965.0,1965 (age 55 years),"New York University, Johns Hopkins University",Charles W. Scharf,69,United States
49,1957.0,"June 23, 1957 (age 62 years), Arnbruck, Germany",Ostbayerische Technische Hochschule (OTH) Regensburg,Joe Kaeser,70,Germany
50,1960.0,"May 2, 1960 (age 59 years), Bristol, CT",Harvard University (1983),Michael Corbat,71,United States
51,NaN,"Tiffin, OH","University of Dayton (1982), Tiffin University (1976)",Gary R. Heminger,72,United States
52,1959.0,"June 28, 1959 (age 60 years), Philadelphia, PA","Wharton School of the University of Pennsylvania, University of Pennsylvania, Germantown Academy",Brian L. Roberts,75,United States
53,1965.0,"September 9, 1965 (age 54 years), Neuwied, Germany","Harvard Business School, University of St. Gallen",Ulf Mark Schneider,76,Germany
54,1956.0,"November 30, 1956 (age 63 years), Uhingen, Germany","University of Stuttgart (1985), University of Stuttgart (1981)",Volkmar Denner,77,Germany
55,1960.0,1960 (age 60 years),"Chicopee Comprehensv High Sch, Columbia University, Columbia Business School, Dartmouth College",Gail Koziara Boudreaux,79,NaN
56,1972.0,"October 4, 1972 (age 47 years), Saint-Étienne, France","École Nationale d'Administration (1997–1999), Sciences Po""",Alexandre Bompard,81,France
57,1955.0,"1955 (age 65 years), Milan, Italy",University of Milan,Claudio Descalzi,83,Italy
58,1965.0,"February 23, 1965 (age 55 years), Houston, TX","Memorial Senior High School, The University of Texas at Austin, Herod Elementary School",Michael S. Dell,84,United States
59,1960.0,"January 6, 1960 (age 60 years), León, Spain",NaN,José Antonio Alvarez (José Antonio Álvarez Álvarez),85,Spain
60,1960.0,"September 7, 1960 (age 59 years), Russian Soviet Federative Socialist Republic",Saint Petersburg State University,Igor Sechin,86,Republic
61,1958.0,"November 9, 1958 (age 61 years), Binzhou, China","Joseph M. Katz Graduate School of Business, Shandong University, University of Pittsburgh",Ning Gaoning,88,China
62,1955.0,"1955 (age 65 years), Rome, Italy",Politecnico di Milano,Francesco Starace,89,Italy
63,1962.0,"September 18, 1962 (age 57 years), Solingen, Germany",University of Cologne,Timotheus Höttges,90,Germany
64,1959.0,"August 31, 1959 (age 60 years), Nîmes, France",ENSAE Paris,Philippe Brassac,91,France
65,1960.0,"July 26, 1960 (age 59 years), Suresnes, France",École Polytechnique,Philippe Donnet,92,France
66,NaN,NaN,NaN,Octavio Romero Oropeza,95,NaN
67,1958.0,"August 14, 1958 (age 61 years), Lisbon, Portugal",École Centrale Paris (1981),Carlos Tavares,96,Portugal
68,1957.0,"August 11, 1957 (age 62 years), Tosu, Saga, Japan","University of California, Berkeley (1980), MORE",Masayoshi Son,98,Japan
69,1968.0,"June 1968 (age 51 years), Yorkshire, United Kingdom","University of Portsmouth, Giggleswick School",John Flint,99,United Kingdom
70,1961.0,"July 14, 1961 (age 58 years), Clichy, France","École Polytechnique, Lycée Louis-le-Grand",Jean-Laurent Bonnafé,104,France
71,1959.0,"June 20, 1959 (age 60 years), Illinois","Illinois Wesleyan University (1981), University of Illinois at Urbana-Champaign",Michael L. Tipsord,108,Illinois
72,1960.0,"May 24, 1960 (age 59 years), Kansas City, KS","Wharton School of the University of Pennsylvania, United States Military Academy",Alex Gorsky,109,United States
73,1955.0,"March 18, 1955 (age 65 years), Suresnes, France","École Polytechnique, Télécom Paris",Jean-Bernard Lévy,110,France
74,1956.0,"February 8, 1956 (age 64 years), Vartdal, Norway",NHH Norwegian School of Economics,Eldar Sætre,113,Norway
75,1957.0,"July 29, 1957 (age 62 years), Chicago, IL",Robert R. McCormick School of Engineering and Applied Science at Northwestern,Ginni Rometty,114,United States
76,1961.0,"May 5, 1961 (age 58 years), Stuttgart, Germany",Karlsruhe Institute of Technology,Martin Brudermüller,115,Germany
77,1951.0,"June 17, 1951 (age 68 years), Yokkaichi, Mie, Japan",Babson College,Motoya Okada,118,Japan
78,1968.0,"1968 (age 52 years), Anhui, China","Anhui Qianshan Yezhai Middle School, Nanjing University",Wang Wenyin,119,China
79,1950.0,"June 15, 1950 (age 69 years), Sadulpur, India",NaN,Lakshmi Mittal,120,India
80,NaN,NaN,NaN,Jianmin Miao,121,NaN
81,1958.0,"1958 (age 62 years), Queens, New York, NY","UCLA Anderson School of Management, University of California, Los Angeles",Brian Cornell,122,United States
82,1968.0,"February 22, 1968 (age 52 years), Cherbourg-Octeville, Cherbourg-en-Cotentin, France","Institut supérieur de l'aéronautique et de l'espace, École nationale supérieure de l'aéronautique et de l'espace""",Guillaume Faury,123,France
83,1961.0,"July 29, 1961 (age 58 years), Hamburg, Germany","ETH Zürich (2001), Ludwig Maximilian University of Munich",Frank Appel,124,Germany
84,1903.0,"March 28, 1903",Hokkaido University,Hiroshi Shimizu,125,NaN
85,1966.0,"December 9, 1966 (age 53 years), Neuilly-sur-Seine, France","École Normale Supérieure (1987), Mines ParisTech",Isabelle Kocher,126,France
86,NaN,NaN,Erasmus University Rotterdam,Frans Muller,127,NaN
87,NaN,NaN,NaN,Brickman David M CPA,128,NaN
88,1956.0,"November 14, 1956 (age 63 years), Osaka, Osaka, Japan","University of California, Santa Barbara (1986), Osaka University (1979)",Kazuhiro Tsuga,131,Japan
89,1956.0,"1956 (age 64 years), Greenwood, MS","Delta State University, Pillow Academy",David P. Abney,132,United States
90,1966.0,1966 (age 54 years),"Haywood High School, Emory University, Emory University's Goizueta Business School, University of Memphis"", 'Children: Donavan Ellison",Marvin Ellison,133,United States
91,1960.0,"May 9, 1960 (age 59 years), Syracuse, NY","Corcoran High School, Binghamton University, University at Buffalo School of Management",Bob Swan,135,United States
92,1961.0,"1961 (age 59 years), Pottsville, PA","MIT Sloan School of Management, Immaculata University",Megan Brennan,136,United States
93,1956.0,"October 1956 (age 63 years), China","Tsinghua University High School, Beijing International Studies University",Chang Zhenming,137,China
94,1958.0,"October 9, 1958 (age 61 years), Taikang County, Zhoukou, China",Wuhan University of Science and Technology,Xu Jiayin,138,China
95,NaN,"Lailongzhen, Suqian, China","China Europe International Business School, Renmin University of China",Liu Qiangdong,139,China
96,1963.0,"May 30, 1963 (age 56 years), France","Master of Business Administration, Paris Dauphine University",Thierry Bolloré,143,France
97,1958.0,"April 20, 1958 (age 61 years), Charlotte, NC","Duke University (1980), West Charlotte High School",David S. Taylor,146,United States
98,NaN,United States,"Cornell University, Krannert School of Management, Purdue University",Gregory J. Hayes,148,United States
99,1944.0,"August 11, 1944 (age 75 years), Marks, MS","Yale University (1962–1966), Memphis University School, Presbyterian Day School",Frederick W. Smith,152,United States
100,1962.0,"1962 (age 58 years), Argentina",Instituto Tecnológico de Buenos Aires,Juan Ricardo Luciano,155,Argentina
101,1961.0,"1961 (age 59 years), Malaysia",Malay College Kuala Kangsar,Wan Zulkiflee,158,Malaysia
102,1957.0,"October 4, 1957 (age 62 years), Tokyo, Japan",Aoyama Gakuin,Ryūichi Isaka,159,Japan
103,1967.0,"November 17, 1967 (age 52 years), Austria","University of York, University of Innsbruck",Severin Schwan,163,Austria
104,1951.0,"February 10, 1951 (age 69 years), New York, NY","Ithaca College (1973), Oceanside High School, Roy H. Park School of Communications, The Center for Early Education",Robert Allen Iger,170,United States
105,1963.0,"July 3, 1963 (age 56 years), Paris, France","Sciences Po, École Nationale d'Administration, École Polytechnique""",Frédéric Oudéa,174,France
106,1963.0,"December 12, 1963 (age 56 years), Madrid, Spain","Complutense University of Madrid, IPADE Business School, Université Libre de Bruxelles",José María Álvarez-Pallete López (José María Álvarez-Pallete),176,Spain
107,1963.0,1963 (age 57 years),NaN,Bruce D. Broussard,179,NaN
108,1965.0,"1965 (age 55 years), Winnipeg, Canada",NaN,Bruce Flatt,180,Canada
109,1956.0,"March 1956 (age 64 years), Lufeng, Guangdong, Shanwei, China",Nanjing Normal University,Chen Jianhua,181,China
110,1972.0,"1972 (age 48 years), Shanghai, China",Shanghai University of Finance and Economics,Daniel Zhang,182,China
111,1957.0,"June 17, 1957 (age 62 years), Mönchengladbach, Germany",RWTH Aachen University,Rolf Martin Schmitz,183,Germany
112,1984.0,"May 14, 1984 (age 35 years), White Plains, NY","Harvard University (2002–2004), MORE",Mark Zuckerberg,184,United States
113,1994.0,"May 28, 1994 (age 25 years), Seoul, South Korea","Conservatoire National Supérieur de Musique et de Danse de Paris, MORE",Seong-Jin Cho,185,South Korea
114,1951.0,"July 25, 1951 (age 68 years), Casablanca, Morocco",NaN,Sidney Toledano,187,Morocco
115,1958.0,"1958 (age 62 years), Highland, IN","Rose-Hulman Institute of Technology (1980), Highland High School",Jim Umpleby,190,United States
116,1958.0,"December 5, 1958 (age 61 years), State of São Paulo, Brazil","Escola de Administração de Empresas de São Paulo (1980), Santa Cruz School",Candido Botelho Bracher,191,Brazil
117,1960.0,"1960 (age 60 years), Rio de Janeiro, State of Rio de Janeiro, Brazil","Stanford Graduate School of Business, Universidade Federal do Rio de Janeiro",Carlos Brito,192,Brazil
118,1955.0,"1955 (age 65 years), Gladewater, TX","White Oak High School, The University of Texas at Arlington",Kelcy Warren,194,United States
119,1954.0,"1954 (age 66 years), Junction City, KS","Columbia Business School, The University of Alabama, Harvard Business School",Marillyn Hewson,197,United States
120,1962.0,1962 (age 58 years),NaN,Albert Bourla,198,NaN
121,1964.0,"1964 (age 56 years), Zhejiang, China",Jiangshan High School,He Qing,199,China
122,1963.0,"September 6, 1963 (age 56 years), Zumarraga, Spain",Campus De Bizkaia - Campus of Biscay,Josu Jon Imaz,200,Spain
123,1976.0,"1976 (age 44 years), Moorestown, NJ","Harvard University, Harvard Kennedy School, Harvard Medical School, The University of Chicago",Vasant Narasimhan,201,United States
124,1962.0,"1962 (age 58 years), Hartsdale, NY","Hamilton College, Edgemont Jr./Sr. High School",David M. Solomon,204,United States
125,1959.0,"January 29, 1959 (age 61 years), Dossenheim, Germany",University of Stuttgart,Elmar Degenhart,205,Germany
126,1954.0,"June 27, 1954 (age 65 years), Paris, France","École des ponts ParisTech, École Polytechnique",Xavier Huillard,206,France
127,1964.0,"November 12, 1964 (age 55 years), Hefei, China","Shanghai Jiao Tong University, University of Science and Technology of China",Yang Yuanqing,212,China
128,NaN,NaN,NaN,Yu Yong MD,214,NaN
129,1967.0,"November 22, 1967 (age 52 years), Schüttorf, Germany","Saarland University, Bielefeld University",Guido Kerkhoff,215,Germany
130,1958.0,"July 14, 1958 (age 61 years), Melbourne, Australia","Columbia Business School, Newman College, University of Melbourne, Columbia University, Xavier College', ""Children: Caroline D'Arcy Gorman, Caroline Gorman"", 'Siblings: Katherine Williams",James P. Gorman,218,Australia
131,1963.0,"June 25, 1963 (age 56 years), Taizhou, China","Hubei University of Economics, Yanshan University, Harbin University of Science and Technology",Li Shufu,220,China
132,NaN,"Grayson, GA","University of North Carolina at Chapel Hill (1983–1987), Rocky Mt High School",Chuck Robbins,225,United States
133,1958.0,"April 12, 1958 (age 62 years), Vichy, France","ESSEC Business School, Établissement La Rochefoucauld : École, collège, et lycée catholique",Pierre-André de Chalendar,226,France
134,1961.0,"August 24, 1961 (age 58 years), Gironde, France",HEC Paris,Stéphane Richard,228,France
135,1966.0,"February 10, 1966 (age 54 years), Waterbury, CT","Texas A&M University, University of Hartford",David Cordani,229,United States
136,1906.0,"July 30, 1906 (age 113 years)",NaN,Koji Arima,230,NaN
137,1974.0,"1974 (age 46 years), Trabzon, Turkey","Tepper School of Business (1995–1997), Boğaziçi University (1991–1995)",Onur Genç,234,Turkey
138,1947.0,"May 8, 1947 (age 72 years), Hamilton, Bermuda","Saint Joseph's University, Trenton Catholic Academy""",Brian Duperreault,235,Bermuda
139,1958.0,"January 14, 1958 (age 62 years)",NaN,Rajnish Kumar,236,NaN
140,1971.0,"October 29, 1971 (age 48 years), Chaoyang, Shantou, China","Shenzhen Middle School, Shenzhen University",Ma Huateng,237,China
141,1959.0,"June 16, 1959 (age 60 years), Naples, Italy","University of Rochester, Sapienza University of Rome",Mario Greco,238,Italy
142,1970.0,"April 24, 1970 (age 49 years), Bünde, Germany","Frankfurt School of Finance & Management (1992–1994), MORE",Christian Sewing,239,Germany
143,1962.0,"October 6, 1962 (age 57 years), Krefeld, Germany","University of Cologne, RWTH Aachen University",Werner Baumann,240,Germany
144,1975.0,"March 13, 1975 (age 45 years), China",NaN,Li Jianhong,244,China
145,1956.0,"December 20, 1956 (age 63 years), Scotland, United Kingdom","University of Bristol, University of St Andrews",Andrew Stewart Mackenzie,246,United Kingdom
146,NaN,NaN,NaN,Yousef Al-Benyan,252,NaN
147,1967.0,"April 28, 1967 (age 52 years), Mariestad, Sweden",Chalmers University of Technology,Martin Lundstedt,253,Sweden
148,1964.0,"February 8, 1964 (age 56 years), Panfilovo, Kazakhstan","Saint Petersburg State University (1990–1993), MORE",Herman Gref,255,Russia
149,NaN,"Montreal, Canada","Ivey Business School, John Rennie High School, University of Waterloo",David I. McKay,256,Canada
150,1961.0,1961 (age 59 years),"Vanderbilt University, Albion College, Owen Graduate School of Management",Doug Parker,257,NaN

In [52]:
df_nv2=df_nv2[["ceo", "company_rank", "Born", "Nationality", "Education", "BoY"]]

In [54]:
df_nv2.to_csv(r'D:\Yeshiva_Univ\Courses\Capstone_project\CEOs_Culture_project\Data\ceo_information\CEOs_info_v8.1(Apr_17_2020).csv')